<h1>api_v1/measures</h1>
<style>
body {
  font-family: monospace;
}
td, th {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}
</style>
<table>
  <thead>
    <tr>
      <th>HQMF SET ID</th>
      <th>CMS ID</th>
      <th>Type</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_v1_measures.each do |api_v1_measure| %>
      <tr>
        <td><%= api_v1_measure.hqmf_set_id %></td>        
        <td><%= api_v1_measure.cms_id %></td>
        <td><%= api_v1_measure.type.try(:upcase) %></td>
        <td><%= api_v1_measure.title %></td>
        <td><%= link_to 'JSON', api_v1_measure_path(api_v1_measure.hqmf_set_id).split('/')[0..-2].join('/') %></td>
        <td><%= link_to 'Patients', patients_api_v1_measure_url(api_v1_measure.hqmf_set_id) %></td>
        <td><%= link_to 'Calculated Results', calculated_results_api_v1_measure_url(api_v1_measure.hqmf_set_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>