<div class="modal fade" id="measurementPeriodDialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog"  role="dialog" aria-labelledby="measurementPeriodModalTitle">
    <div class="modal-content">
      <div class="modal-header">
        {{#button "close" class="close" aria-hidden="true"}}&times;{{/button}}
        <h1 class="modal-title" id="measurementPeriodModalTitle">Change Measurement Period</h1>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" method="post" action="measures/{{_id}}/measurement_period">
          <input type="hidden" name="redirect_route" value="{{redirectRoute}}"/>
          <input name="authenticity_token" type="hidden" value="{{token}}">
          <div class="form-group">
            <label class="col-sm-offset-3 col-sm-4 control-label" style="text-align: center;">Current</label>
            <label class="col-sm-offset-1 col-sm-4 control-label" style="text-align: center; padding-left: 0px;">New</label>
          </div>

          <div class="form-group">
            <label for="measurementPeriodStartInput" class="col-sm-3 control-label">Year</label>

            <div class="col-sm-4" style="padding-right: 0px;">
              <input type="text" class="form-control" placeholder="{{measurePeriodYear}}" readonly/>
            </div>

            <div class="col-sm-1" style="line-height: 34px; text-align: center;"><i class="fa fa-fw fa-arrow-right" aria-hidden="true"></i></div>

            <div class="col-sm-4" style="padding-left: 0px;">
              <input type="text" name="year" id="measurementPeriodYear" class="form-control" placeholder="yyyy" value="{{measurePeriodYear}}"/>
            </div>
          </div>

          <div class="form-group">
            <label for="measurementPeriodShiftDates" class="col-sm-3 control-label">Patients</label>
            <div class="col-sm-9">
              <div class="checkbox">
                <label>
                  <input id="measurementPeriodShiftDates" type="checkbox" name="measurement_period_shift_dates" value="true" checked="checked"/>Shift dates in patient data.
                </label>
                <div><i>This option shifts all dates on all patients in this measure by the number of years being changed. Feb 29th in leap years will be changed to Feb 28th in non-leap years.</i></div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          {{#button "close" class="btn btn-default"}}Cancel{{/button}}
          {{#button "changePeriod" class="btn btn-primary" id="changePeriod" disabled=true}}Change Period{{/button}}
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
