<table id="patientDashboardTable" class="cell-border" cellspacing="0" width="100%">

  <div class="btn-group" role="group" aria-label="...">
    {{#each populations}}
      <button type="button" class="btn btn-default" data-call-method="scrollToPopulation">{{{this}}}</button>
    {{/each}}
  </div>

  <thead>
    <tr>
      {{#each head1}}
      <th scope="col" style="width: {{lookup ../widths @index}}px;" id="{{{this}}}"><div>{{{this}}}</div></th>
      {{/each}}
    </tr
    <tr>
      {{#each head2}}
      <th scope="col"><div class="tableScrollContainer"><div class="tableScroll">{{{this}}}</div></div></th>
      {{/each}}
    </tr>
  </thead>
</table>

<div class="hidden" id="editButton">
  <button class="btn btn-sm btn-primary" data-call-method="makeInlineEditable">
    <i aria-hidden="true" class="fa fa-fw fa-pencil"></i>
    <span class="sr-only">Edit this patient inline</span>
  </button>
</div>
<div class="hidden" id="saveEditButton">
  <button class="btn btn-sm btn-success" data-call-method="saveEdits">
    <i aria-hidden="true" class="fa fa-fw fa-check"></i>
    <span class="sr-only">Save patient edits</span>
  </button>
</div>
<div class="hidden" id="closeEditButton">
  <button class="btn btn-sm btn-danger" data-call-method="cancelEdits">
    <i aria-hidden="true" class="fa fa-fw fa-close"></i>
    <span class="sr-only">Cancel patient edits</span>
  </button>
</div>
<div class="hidden" id="openButton">
  <button class="btn btn-sm btn-default" data-call-method="openEditDialog">Open</button>
</div>
<div class="hidden" id="inputField">
  <input class="input-sm" style="width:100%" type="text" id="" name="">
</div>
<div class="hidden" id="inputDate">
  <input type="text" id="" name="" class="date-picker form-control input-sm" style="width:100%" title="month/day/year" data-date-format="mm/dd/yyyy" data-date-keyboard-navigation="false" data-date-autoclose="true">
</div>
<div class="hidden" id="inputGenderM">
  <select id="gender" name="gender" class="form-control input-sm" style="width:100%">
    <option value="M" selected>Male</option>
    <option value="F">Female</option>
  </select>
</div>
<div class="hidden" id="inputGenderF">
  <select id="gender" name="gender" class="form-control input-sm" style="width:100%">
    <option value="M">Male</option>
    <option value="F" selected>Female</option>
  </select>
  <button class="btn btn-xs btn-default" data-call-method="openEditDialog">Open...</button>
</div>
<div class="table-popover-container">
  <div role="button" data-call-method="populatePopover" tabindex="1" class="table-popover-div" data-container="body" data-toggle="popover"
    data-trigger="focus" data-placement="bottom" data-html=true data-title="Children Criteria">
    <div class="table-cell-popover-div">  </div>
  </div>
</div>
