<span class="sr-only">{{#if cms_id}}{{cms_id}}, {{/if}}{{#if population}}population {{population}}, {{/if}}Measure status: </span>
<!--TODO: hardcoded for now, should be dynamically determined-->
<span class="status status-new">NEW</span>
<!--
{{#if done}}
  <span class="status status-{{status}}">{{status}}</span>
{{else}}
  <span class="status status-pending">PENDING</span>
{{/if}}
-->

