<div class="value_sets">
  {{#each criteriaSets}}
  <div id="{{id}}">
    <h2>{{name}}</h2>

      {{#each criteria}}
      <a data-toggle="collapse" href="#codes_{{cid}}" class="collapsed value_sets">
        <div class="row">
          <div class="col-sm-5"><strong>{{oid}}</strong></div>
          <div class="col-sm-5">{{name}}</div>
          <div class="col-sm-2">{{version}}</div>
        </div>
      </a>
      <div id="codes_{{cid}}" class="row collapse">
        {{#ifCond code_concepts.length ">" 0}}
        <table class="table table-condensed table-striped">
          <tr>
            <th class="code">Code System</th>
            <th>Code</th>
            <th>Name</th>
          </tr>
          {{#each code_concepts}}
          <tr>
            <td class="code">{{code_system_name}}</td>
            <td>{{code}}</td>
            <td class="description">
              <div {{#if display_name_is_long}}class="description" id="description_{{../../cid}}_{{_id}}"{{/if}}>{{display_name}}</div>
              {{#if display_name_is_long}}
              <div class="expand closed pull-right" id="expand_{{../../cid}}_{{_id}}">Show more<i class="fa fa-caret-down"></i></div>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </table>
        {{else}}
        No codes related to this value set were found in Bonnie.
        {{/ifCond}}
      </div>
      {{/each}}

  </div>
  {{/each}}

  {{#if overlappingValueSets.length}}
  <div id="overlapping_value_sets">
    <h2>Overlapping Value Sets</h2>

    {{#each overlappingValueSets}}
      <a data-toggle="collapse" href="#overlapping_{{cid}}" class="collapsed value_sets">
        <div class="row">
          <div class="col-sm-5">
            <div><strong>{{oid1}}</strong></div>
            <div>{{name1}}</div>
          </div>
          <div class="col-sm-4">
            <div><strong>{{oid2}}</strong></div>
            <div>{{name2}}</div>
          </div>
          <div class="col-sm-3">
            {{codes.length}} overlapping code{{#ifCond codes.length ">" 1}}s{{/ifCond}}
          </div>
        </div>
      </a>
      <div id="overlapping_{{cid}}" class="row collapse">
        <table class="table table-condensed table-striped">
            <tr>
              <th class="code">Code System</th>
              <th>Code</th>
              <th>Name</th>
            </tr>
          {{#each codes}}
          <tr>
            <td class="code">{{code_system_name}}</td>
            <td>{{code}}</td>
            <td class="description">
              <div {{#if display_name_is_long}}class="description" id="description_{{../../cid}}_{{_id}}"{{/if}}>{{display_name}}</div>
              {{#if display_name_is_long}}
              <div class="expand closed pull-right" id="expand_{{../../cid}}_{{_id}}">Show more<i class="fa fa-caret-down"></i></div>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </table>
      </div>
    {{/each}}
    {{/if}}
  </div>
</div>
