<h1>HARP Account Information</h1>
<p>
  This information is pulled from HARP. If you need to change this information please go to <a href="<%= APP_CONFIG['harp_idp_url'] %>" target="_blank">HARP</a> website.
</p>

<div class="form-group row">
  <div class="col-md-12">
    <label>First Name: </label>
    <span> <%= resource[:first_name] %></span>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-12">
    <label>Last Name:</label>
    <span> <%= resource[:last_name] %></span>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-12">
    <label>Email:</label>
    <span> <%= resource[:email] %></span>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-12">
    <label>Telephone: </label>
    <span> <%= resource[:telephone] %></span>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-12">
    <label>Harp Id:</label>
    <span>
      <%if resource[:harp_id] %>
        <%= resource[:harp_id] %>
      <% else %>
        <span style="color: #696969">Not Available</span>
      <% end %>
    </span>
  </div>
</div>
