<html>
<head>
  <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      line-height: 1.428571429;
      color: #333333;
      background-color: #ffffff;
      margin: auto;
      width: 800px;
    }
    .logo {
        font-size: 36px;
        font-weight: 100;
        color: #0075C4;
    }
    .title {
      font-size: 24px;
      color: #888;
      font-weight: 300;
    }
    .summary-card {
      border: 2px #E2E2E2 solid;
      padding: 10px;
    }
    table {
      border: none;
      width: 100%;
      text-align: left;
      border-collapse: collapse;
    }
    th {
      background-color: #f2f2f2;
      padding: 10px;
    }
    td {
       padding-left: 10px;
    }
    .percentage {
      font-size: 36px;
      font-weight: 100;
    }
    .pass {
      color: #20744c;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .fail {
      color: #782b0d;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .patient-number {
        font-size: 36px;
    }
    .btn {
      border: 2px solid #0075C4;
      padding: 6px 12px;
      color: #0075C4;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
      float: right;
      margin-bottom: 8px;
      text-transform: uppercase;
    }
    .btn:hover {
      background-color: #f2f2f2;
    }
    div.error {
      color: #a94442;
      background-color: #f2dede;
      border-color: #ebccd1;
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
    }
    div.error span.important {
      font-weight: bold;
    }
    div.error span.secondary {
      color: #888;
    }
  </style>
</head>
<body>
  <h1 <span class="logo">BONNIE</span><span class="title">: TEST PATIENT RESULTS BY MEASURE</span></h1>
  <h1 class="measure-title"><%=measure.cms_id%>: <%=measure.title%></h1>

  <% results.each_with_index do |result, pop_index| %>

    <div class="summary-card">
      <% if results.length > 1%>
        <% 
          title = measure.populations[pop_index]['title'] 
          title = "Sub Measure #{('a'..'zz').to_a[pop_index]}" if title.blank?
        %>
        <h2>Population: <%= title %></h2>
      <% end %>

      <% summary = result['summary'] %>
      <table>
        <tbody>
          <tr>
            <th>RESULT</th>
            <th>CATEGORY</th>
          </tr>
          <tr>
            <td class="<%= summary['status'].downcase %>"><%= summary['status'] %></td>
            <td><span class="patient-number"><%= summary['matching'] %></span>/<%= summary['total'] %></td>
          </tr>
          <tr>
            <td class="percentage"><%= summary['percent'] %>%</td>
            <td>Passing</td>
          </tr>
          <tr>
            <td class="percentage"><%= result['coverage']%>%</td>
            <td>Coverage</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <% records.each_with_index do |record, index| %>
    <% patient_result = result['differences'][record.medical_record_number] %>
      <br>
      <table>
        <tr>
          <td>
            <h2>
              <span class="<%= patient_result['status'] %>"><%= patient_result['status'] %>: </span>
              <% unless html_errors[record.id] %>
                <a href="<%= File.join(".","html","#{index+1}_#{record.last}_#{record.first}.html")%>"><%=record.last%>, <%=record.first%></a>
              <% else %>
                <%=record.last%>, <%=record.first%>
              <% end %>
              <% unless qrda_errors[record.id] %>
                <a class="btn" href="<%= File.join(".","qrda","#{index+1}_#{record.last}_#{record.first}.xml")%>">qrda</a>
              <% end %>
            </h2>
          </td>
        </tr>
      </table>
      <% if qrda_errors[record.id] %>
        <div class="error">
          <span class="important">There was an error exporting the QRDA for this patient record:</span>
          <% data_criteria = qrda_errors[record.id].data_criteria rescue nil %>
          <% if data_criteria %>
            <span class="important">could not generate appropriate QRDA content for <%= data_criteria.description %></span>
            <span class="secondary">(<%= qrda_errors[record.id].message %>)</span>
          <% else %>
            <%= qrda_errors[record.id].message %>
          <% end %>
        </div>
      <% end %>
      <% if html_errors[record.id] %>
        <div class="error">
          <span class="important">There was an error exporting the HTML for this patient record:</span>
          <% data_criteria = html_errors[record.id].data_criteria rescue nil %>
          <% if data_criteria %>
            <span class="important">could not generate appropriate HTML content for <%= data_criteria.description %></span>
            <span class="secondary">(<%= html_errors[record.id].message %>)</span>
          <% else %>
            <%= html_errors[record.id].message %>
          <% end %>
        </div>
      <% end %>
      <table>
        <tr>
          <th>Status</th>
          <th>Population</th>
          <th>Expected</th>
          <th>Actual</th>
        </tr>
        <% HQMF::PopulationCriteria::ALL_POPULATION_CODES.each do |code| %>
          <% 
            comparison = patient_result['comparisons'][code] 
            if comparison 
          %>
            <tr>
              <% if (comparison['match'] == 'true') %>
                <td class="pass">&#10003;</td>
              <% else %>
                <td class="fail">&times;</td>
              <% end %>
              <td><%= code %></td>
              <td><%= comparison['expected'] %><%= comparison['unit'] %></td>
              <td><%= comparison['actual'] %><%= comparison['unit'] %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    <% end %>
    <br><br>

  <% end %>
</body>
</html>
