<div class="row">
  <div class="any-type-select form-group col-md-12">
    <label for="type_{{cid}}" class="sr-only">{{attributeName}} type selection</label>
    <select autocomplete="off" name="type" id="type_{{cid}}" class="form-control">
      <option value="">--</option>
      {{#each types}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>

  <div class="any-input-entry col-md-12">
    {{#if inputView}}
      {{view inputView}}
    {{else}}
      <div class="any-input-no-selection">Select a type for {{attributeName}} field.</div>
    {{/if}}
  </div>
</div>
