<div class="row canonical-input">
  <div class="canonical-control-value form-group col-md-12">
    <label for="value_{{cid}}" class="sr-only">canonical</label>
    <input type="text" class="form-control" name="value" id="value_{{cid}}" placeholder="{{#if placeholder}}{{placeholder}}{{else}}canonical{{/if}}" {{#if value.value}}value="{{value.value}}"{{/if}}/>
  </div>
</div>