<div class="row">
  <div class="form-group col-md-12" data-cy="sequence-view">
    <label class="control-label">
      <i class="fa fa-chevron-right" aria-hidden="true"></i> sequence
    </label>
    <label class="sr-only">sequence</label>
    {{view sequenceView}}
  </div>
  <div class="form-group col-md-12" data-cy="text-view">
    <label class="control-label">
      <i class="fa fa-chevron-right" aria-hidden="true"></i> text
    </label>
    <label class="sr-only">text</label>
    {{view textView}}
  </div>
  <div class="form-group col-md-12" data-cy="additional-instruction-view">
    <label class="control-label">
      <i class="fa fa-chevron-right" aria-hidden="true"></i> additional instruction
    </label>
    <label class="sr-only">additional instruction</label>
    {{view additionalInstructionView}}
  </div>
  <div class="form-group col-md-12" data-cy="patient-instruction-view">
    <label class="control-label">
      <i class="fa fa-chevron-right" aria-hidden="true"></i> patient instruction
    </label>
    <label class="sr-only">patient instruction</label>
    {{view patientInstructionView}}
  </div>
  <div class="form-group col-md-12" data-cy="as-needed-view">
    <label class="control-label">
      <i class="fa fa-chevron-right" aria-hidden="true"></i> as needed
    </label>
    <label for="as_needed" class="sr-only">as needed</label>
    {{view asNeededView}}
  </div>

  <div class="form-group col-md-12" data-cy="site-view">
    <label class="control-label">
      <i class="fa fa-chevron-right" aria-hidden="true"></i> site
    </label>
    <label class="sr-only">site</label>
    {{view siteView}}
  </div>
  <div class="form-group col-md-12" data-cy="route-view">
    <label class="control-label">
      <i class="fa fa-chevron-right" aria-hidden="true"></i> route
    </label>
    <label class="sr-only">route</label>
    {{view routeView}}
  </div>
  <div class="form-group col-md-12" data-cy="method-view">
    <label class="control-label">
      <i class="fa fa-chevron-right" aria-hidden="true"></i> method
    </label>
    <label class="sr-only">method</label>
    {{view methodView}}
  </div>
  <div class="form-group col-md-12" data-cy="dose-and-rate-view">
    <label class="control-label">
      <i class="fa fa-chevron-right" aria-hidden="true"></i> dose and rate
    </label>
    <label class="sr-only">dose and rate</label>
    <div class="row">
      <div class="form-group col-md-12" data-cy="type-view">
        <label class="control-label secondary-label">type</label>
        <label class="sr-only">type</label>
        {{view typeView}}
      </div>
      <div class="form-group col-md-12" data-cy="dose-view">
        <label class="control-label secondary-label">dose</label>
        <label for="dose" class="sr-only">dose</label>
        {{view doseView}}
      </div>
      <div class="form-group col-md-12" data-cy="rate-view">
        <label class="control-label secondary-label"> rate</label>
        <label for="rate" class="sr-only">rate</label>
        {{view rateView}}
      </div>
    </div>
  </div>
  <div class="form-group col-md-12" data-cy="max-dose-per-period-view">
    <label class="control-label">
      <i class="fa fa-chevron-right" aria-hidden="true"></i> max dose per period
    </label>
    <label class="sr-only">max dose per period</label>
    {{view maxDosePerPeriodView}}
  </div>
  <div class="form-group col-md-12" data-cy="max-dose-per-period-view">
    <label class="control-label">
      <i class="fa fa-chevron-right" aria-hidden="true"></i> max dose per administration
    </label>
    <label class="sr-only">max dose per administration</label>
    {{view maxDosePerAdministrationView}}
  </div>
  <div class="form-group col-md-12" data-cy="max-dose-per-period-view" style="margin-bottom: 0;">
    <label class="control-label">
      <i class="fa fa-chevron-right" aria-hidden="true"></i> max dose per lifetime
    </label>
    <label class="sr-only">max dose per lifetime</label>
    {{view maxDosePerLifetimeView}}
  </div>
</div>
