<div class="row id-input">
    <div class="id-control-value form-group col-md-12">
        <label for="value_{{cid}}" class="sr-only">id</label>
        <input type="text" class="form-control" name="value" data-cy= 'id-input'
               id="value_{{cid}}" placeholder="{{#if placeholder}}{{placeholder}}{{else}}id{{/if}}" {{#if value}}value="{{value.value}}"{{/if}}/>
    </div>
</div>
