<div class="row identifier-view">
  <div class="form-group col-md-12" data-cy="identifier-use-view">
    <label class="control-label">
      <i class="fa fa-chevron-right" aria-hidden="true"></i> use
    </label>
    <label class="sr-only">use</label>
    {{view useView}}
  </div>
  <div class="form-group col-md-12" data-cy="identifier-type-view">
    <label class="control-label">
      <i class="fa fa-chevron-right" aria-hidden="true"></i> type
    </label>
    <label class="sr-only">type</label>
    {{view typeView}}
  </div>
  <div class="form-group col-md-12" data-cy="identifier-system-view">
    <label class="control-label">
      <i class="fa fa-chevron-right" aria-hidden="true"></i> system
    </label>
    <label class="sr-only">system</label>
    {{view systemView}}
  </div>
  <div class="form-group col-md-12" data-cy="identifier-value-view">
    <label class="control-label">
      <i class="fa fa-chevron-right" aria-hidden="true"></i> value
    </label>
    <label class="sr-only">value</label>
    {{view valueView}}
  </div>
  <div class="form-group col-md-12" data-cy="identifier-period-view">
    <label class="control-label">
      <i class="fa fa-chevron-right" aria-hidden="true"></i> period
    </label>
    <label class="sr-only">period</label>
    {{view periodView}}
  </div>
  <div class="form-group col-md-12" data-cy="identifier-assigner-view" style="margin-bottom: 0;">
    <label class="control-label">
      <i class="fa fa-chevron-right" aria-hidden="true"></i> assigner
    </label>
    <label class="sr-only">assigner</label>
    {{view assignerView}}
  </div>
</div>
