<div class="row">
  <div class="form-group col-md-6 quantity-interval-start">
    <div class="control-label"><i class="fa fa-balance-scale" aria-hidden="true"></i> Low</div>
    <div class="quantity-control-nullable">
      <div class="col-md-2 quantity-null-toggle">
        <label for="start_quantity_{{cid}}_is_defined" class="sr-only">low quantity is defined</label>
        <input type="checkbox" name="start_quantity_is_defined" id="start_quantity_{{cid}}_is_defined" value="true" {{#if start_quantity_is_defined}}checked{{/if}}/>
      </div>

      {{view lowView}}
    </div>
  </div>

  <div class="form-group col-md-6 quantity-interval-end">
    <div class="control-label"><i class="fa fa-balance-scale" aria-hidden="true"></i> High</div>
    <div class="quantity-control-nullable">
      <div class="quantity-null-toggle">
        <label for="end_quantity_{{cid}}_is_defined" class="sr-only">high quantity is defined</label>
        <input type="checkbox" name="end_quantity_is_defined" id="end_quantity_{{cid}}_is_defined" value="true" {{#if end_quantity_is_defined}}checked{{/if}}/>
      </div>

      {{view highView}}
    </div>
  </div>
</div>
