<div class="row integer-input">
  <div class="integer-control-value form-group col-md-12">
    <label for="value_{{cid}}" class="sr-only">integer</label>
    <input type="number" step="1" class="form-control" name="value" id="value_{{cid}}" placeholder="{{#if placeholder}}{{placeholder}}{{else}}integer{{/if}}" {{#if value}}value="{{value}}"{{/if}}/>
  </div>
</div>