<div class="row">
  <div class="form-group col-md-6">
    <div class="control-label">Low Value</div>
    <label for="low_{{cid}}" class="sr-only">Low Value</label>
    <input type="number" name="low_value" id="low_value_{{cid}}" class="form-control" placeholder="0.0" value="{{low.value}}" data-cy="range-low-value-input" />
  </div>

  <div class="form-group col-md-6">
    <div class="control-label">High Value</div>
    <label for="high_{{cid}}" class="sr-only">High Value</label>
    <input type="number" name="high_value" id="high_value_{{cid}}" class="form-control" placeholder="0.0" value="{{high.value}}" data-cy="range-high-value-input"/>
  </div>

  <div class="range-control-unit form-group col-md-12">
    <div class="control-label">Units</div>
    <label for="unit_{{cid}}" class="sr-only">Units</label>
    <input type="text" name="unit" id="unit_{{cid}}" class="form-control" placeholder="Units" value="{{high.unit}}" data-cy="range-unit-input"/>
  </div>

</div>
