<div class="row">
  <div class="form-group col-md-6 range-interval-low">
    <div class="control-label">Low</div>
    <div class="range-control">
      <div class="range-control-number">
        <label for="low_{{cid}}" class="sr-only">Low</label>
        <input type="text" name="low" id="low_{{cid}}" class="form-control" placeholder="0.0" value="{{low}}" />
      </div>
    </div>
  </div>

  <div class="form-group col-md-6 range-interval-high">
    <div class="control-label">High</div>
    <div class="range-control">
      <div class="range-control-number">
        <label for="high_{{cid}}" class="sr-only">High</label>
        <input type="text" name="high" id="high_{{cid}}" class="form-control" placeholder="0.0" value="{{high}}" />
      </div>
    </div>
  </div>
</div>
