<div class="row">
  <div class="form-group col-md-12 origin-view">
    <div class="control-label">Origin<span class="align-text-bottom">*</span></div>
    <span class="sr-only">origin quantity</span>
    {{view originView}}
  </div>
  <div class="form-group col-md-12 period-view">
    <div class="control-label">Period<span class="align-text-bottom">*</span></div>
    <span class="sr-only">period decimal</span>
    {{view periodView}}
  </div>
  <div class="form-group col-md-12 dimensions-view">
    <div class="control-label">Dimensions<span class="align-text-bottom">*</span></div>
    <span class="sr-only">dimensions positive integer</span>
    {{view dimensionsView}}
  </div>
  <div class="collapse" id="optionalElements">
    <div class="form-group col-md-12 factor-view">
      <div class="control-label">Factor</div>
      <span class="sr-only">factor decimal</span>
      {{view factorView}}
    </div>
    <div class="form-group col-md-6 lower-limit-view">
      <div class="control-label">Lower Limit</div>
      <span class="sr-only">lower limit decimal</span>
      {{view lowerLimitView}}
    </div>
    <div class="form-group col-md-6 upper-limit-view">
      <div class="control-label">Upper Limit</div>
      <span class="sr-only">upper limit decimal</span>
      {{view upperLimitView}}
    </div>
    <div class="form-group col-md-12 data-view">
      <div class="control-label">Data</div>
      <span class="sr-only">data string</span>
      {{view dataView}}
    </div>
  </div>
  <div class="form-group col-md-12">
    {{#button trigger="optionalToggled" class="btn btn-primary btn-sm" id="toggle"
              type="button" data-toggle="collapse" data-target="#optionalElements" data-cy="optional_toogle"
              aria-expanded="false" aria-controls="optionalElements"}}Show Optional Elements{{/button}}
  </div>
</div>
