<div class="row string-input">
  <div class="string-control-value form-group col-md-12">
    <label for="value_{{cid}}" class="sr-only">string</label>
    <input type="text" class="form-control" name="value" id="value_{{cid}}" placeholder="{{#if placeholder}}{{placeholder}}{{else}}string{{/if}}" {{#if value}}value="{{value}}"{{/if}}/>
  </div>
</div>