<div class="row">
  <div class="form-group col-md-12 timing-repeat-bounds-view">
    <div class="control-label">bounds</div>
    <span class="sr-only">Length/Range of lengths, or (Start and/or end) limits</span>
    {{view boundsView}}
  </div>
  <div class="form-group col-md-12 timing-repeat-count-view">
    <div class="control-label">count</div>
    <span class="sr-only">Number of times to repeat</span>
    {{view countView}}
  </div>
  <div class="form-group col-md-12 timing-repeat-count-max-view">
    <div class="control-label">countMax</div>
    <span class="sr-only">Maximum number of times to repeat</span>
    {{view countMaxView}}
  </div>
  <div class="form-group col-md-12 timing-repeat-duration-view">
    <div class="control-label">duration</div>
    <span class="sr-only">How long when it happens</span>
    {{view durationView}}
  </div>
  <div class="form-group col-md-12 timing-repeat-duration-max-view">
    <div class="control-label">durationMax</div>
    <span class="sr-only">How long when it happens (Max)</span>
    {{view durationMaxView}}
  </div>
  <div class="form-group col-md-12 timing-repeat-duration-unit-view">
    <div class="control-label">durationUnit</div>
    <span class="sr-only">s | min | h | d | wk | mo | a - unit of time (UCUM)</span>
    {{view durationUnitView}}
  </div>
  <div class="form-group col-md-12 timing-repeat-frequency-view">
    <div class="control-label">frequency</div>
    <span class="sr-only">Event occurs frequency times per period</span>
    {{view frequencyView}}
  </div>
  <div class="form-group col-md-12 timing-repeat-frequency-max-view">
    <div class="control-label">frequencyMax</div>
    <span class="sr-only">Event occurs up to frequencyMax times per period</span>
    {{view frequencyMaxView}}
  </div>
  <div class="form-group col-md-12 timing-repeat-period-view">
    <div class="control-label">period</div>
    <span class="sr-only">Event occurs frequency times per period</span>
    {{view periodView}}
  </div>
  <div class="form-group col-md-12 timing-repeat-period-max-view">
    <div class="control-label">periodMax</div>
    <span class="sr-only">Upper limit of period (3-4 hours)</span>
    {{view periodMaxView}}
  </div>
  <div class="form-group col-md-12 timing-repeat-period-unit-view">
    <div class="control-label">periodUnit</div>
    <span class="sr-only">s | min | h | d | wk | mo | a - unit of time (UCUM)</span>
    {{view periodUnitView}}
  </div>
  <div class="form-group col-md-12 period-view timing-repeat-dayofweek-view">
    <div class="control-label">dayOfWeek</div>
    <span class="sr-only">mon | tue | wed | thu | fri | sat | sun</span>
    {{view dayOfWeekView}}
  </div>
  <div class="form-group col-md-12 timing-repeat-timeofweek-view">
    <div class="control-label">timeOfDay</div>
    <span class="sr-only">Time of day for action</span>
    {{view timeOfDayView}}
  </div>
  <div class="form-group col-md-12 timing-repeat-when-view">
    <div class="control-label">when</div>
    <span class="sr-only">Code for time period of occurrence</span>
    {{view whenView}}
  </div>
  <div class="form-group col-md-12 timing-repeat-offset-view">
    <div class="control-label">offset</div>
    <span class="sr-only">Minutes from event (before or after)</span>
    {{view offsetView}}
  </div>
</div>
