{{#if rootPrecondition}}
  {{#if copyParentPrecondition.preconditions }}
    {{#each copyParentPrecondition.preconditions}}
      {{view "PreconditionLogic" precondition=this parentPrecondition=../copyParentPrecondition parentNegation=../copyParentPrecondition.negation measure=../measure}}
    {{/each}}
  {{/if}}
{{else}}
  No Children Data Criteria
{{/if}}
<ul>
  {{#collection variables tag="div"}}
    <li>
      <span class="{{source_data_criteria}} rationale-target"> <b>${{description}} = </b><span class="sr-only sr-highlight-status"></span></span>{{view "DataCriteriaLogic" reference=source_data_criteria expandVariable=true measure=../measure tag="span"}}
    </li>
  {{/collection}}
</ul>
