<div class="navbar row" role="navigation">
  <a class="navbar-brand" href="/">Bonnie</a>
</div>

<div class="login">
  <h1>Change your password</h1>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :name=>"account_form" }) do |f| %>
        <%= f.hidden_field :reset_password_token %>

        <% if resource.errors.present? %>
        <div class="alert alert-danger">
          <%= devise_error_messages! %>
        </div>
        <% end %>

        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg fa-fw"></i></span>
            <%= f.password_field :password, class: "form-control", placeholder: "password", title: "password" %>
          </div>
          Must be at least 8 characters long and contain characters from at least two of: lowercase letters, uppercase letters, numbers, and special characters.
        </div>

        <div class="form-group input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg fa-fw"></i></span>
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "confirm password", title: "confirm password" %>
        </div>

        <%= f.submit "Update", class: "btn btn-login" %>

  <% end %>
</div>
