<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bonnie v<%=Bonnie::Version.current()%></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/framebreaker' %>
  </head>
  <body>
    <div role="alert" class="decommissioning-banner">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="orange" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
        <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/>
        <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
      </svg>
      <div>
        <h4>Bonnie will no longer be accessible after June 28, 2024.</h4>
        <p>Please begin to transfer and test your measure(s) in <a href="https://www.emeasuretool.cms.gov/madie-mvp">MADiE</a> and contact the <a href="https://oncprojectracking.healthit.gov/support/projects/BONNIE">Help Desk</a> if you encounter any issues.</p>
        <p>See <a href="https://www.emeasuretool.cms.gov/news-alerts/mat-and-bonnie-migration-action-needed">this communication from CMS</a> for more information.</p>
      </div>
    </div>
    <div class="landing-masthead">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1 class="logo">BONNIE</h1>
            <p class="tagline">A tool for testing electronic clinical quality measures</p>
          </div>
          <div class="col-md-4">
            <div class="login">
              <a href="/users/saml/sign_in" class="btn-login">login</a>
              <div class="btn-register">
                <a href="/users/sign_up">
                  register
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-subhead">
      <div class="container">
        <a target="_blank" href="/resource/Bonnie_user_guide.pdf" class="btn btn-default">User Guide</a>
        <a target="_blank" href="https://groups.google.com/forum/#!forum/bonnie" class="btn btn-default">User Group</a>
        <a target="_blank" href="/resource/Bonnie_Integration_API_Guide_v1.pdf" class="btn btn-default">API Guide</a>
        <a target="_blank" href="https://oncprojectracking.healthit.gov/support/projects/BONNIE" class="btn btn-default">Report Bug</a>
        <a target="_blank" href="https://www.cms.gov/privacy" class="btn btn-default">Privacy Policy</a>
      </div>
    </div>
    <div class="container">
      <section class="highlights row">
        <div class="col-md-4">
          <h2>streamlined and efficient</h2>
          <i class="fa fa-fighter-jet lg"></i>
          <p>pretesting for eCQMs</p>
        </div>
        <div class="col-md-4">
          <h2>developer empowerment</h2>
          <i class="fa fa-bolt lg"></i>
          <p>provides specific feedback on the behavior of the CQM logic</p>
        </div>
        <div class="col-md-4">
          <h2>quality<br/>reporting</h2>
          <i class="fa fa-plus lg"></i>
          <p>supports the CMS Quality Reporting Programs</p>
        </div>
      </section>
      <section>
        <p class="lead">Bonnie is a tool for testing electronic clinical quality measures (eCQMs) designed to support streamlined and efficient pre-testing of eCQMs, particularly those used in the CMS Quality Reporting Programs.</p>
      </section>
      <section class="row">
        <div class="col-md-6 section-heading">
          <h1 class="section-heading">Current <span class="version-num">Version <%=Bonnie::Version.current%></span></h1>
          <p>The version <%=Bonnie::Version.current%> release of Bonnie adds support for testing measures using CQL 1.4 and the QDM 5.5 model</p>
        </div>
        <div class="col-md-6">
          <h1 class="section-heading">Capabilities<span class="version-num"> v<%=Bonnie::Version.current%></span></h1>
          <ul class="list-cap">
            <li>Composite Measure Support</li>
            <li>Hybrid Measure Support</li>
            <li>Display CQL Definition Results</li>
            <li>VSAC Profile and Release Selection</li>
            <li>Custom Measurement Period</li>
            <li>Bonnie API</li>
            <li>CQL 1.4 Support</li>
            <li>QDM 5.5 Model Support</li>
          </ul>
        </div>
      </section>
      <section>
        <%= render 'layouts/qdm_banner' %>
      </section>
    </div>
    <footer>
      <div class="container">
        <p>BONNIE is sponsored by the <a href="http://cms.hhs.gov/">Centers for Medicare & Medicaid Services (CMS)</a> and <a href="http://healthit.gov">Office of the National Coordinator for Health Information Technology (ONC)</a> and has been developed by <a href="http://www.mitre.org">The MITRE Corporation</a></p>
      </div>
    </footer>
<% if not user_signed_in? %>
    <script>
        window.disableSessionManagement = true;
    </script>
<% end %>
  </body>
</html>
