<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bonnie v<%=Bonnie::Version.current()%></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/framebreaker' %>
  </head>
  <body>
    <div class="landing-masthead">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1 class="logo">BONNIE</h1>
            <p class="tagline">A tool for testing electronic clinical quality measures</p>
          </div>
          <div class="col-md-4">
            <div class="login">
              <a href="/users/saml/sign_in" class="btn-login">login</a>
              <div class="btn-register">
                <a href="/users/sign_up">
                  register
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-subhead">
      <div class="container">
        <a target="_blank" href="/resource/Bonnie_user_guide.pdf" class="btn btn-default">User Guide</a>
        <a target="_blank" href="https://groups.google.com/forum/#!forum/bonnie" class="btn btn-default">User Group</a>
        <a target="_blank" href="/resource/Bonnie_Integration_API_Guide_v1.pdf" class="btn btn-default">API Guide</a>
        <a target="_blank" href="https://oncprojectracking.healthit.gov/support/projects/BONNIE" class="btn btn-default">Report Bug</a>
        <a target="_blank" href="https://www.cms.gov/privacy" class="btn btn-default">Privacy Policy</a>
      </div>
    </div>
    <div class="container">
      <section class="highlights row">
        <div class="col-md-4">
          <h2>streamlined and efficient</h2>
          <i class="fa fa-fighter-jet lg"></i>
          <p>pretesting for eCQMs</p>
        </div>
        <div class="col-md-4">
          <h2>developer empowerment</h2>
          <i class="fa fa-bolt lg"></i>
          <p>provides specific feedback on the behavior of the CQM logic</p>
        </div>
        <div class="col-md-4">
          <h2>quality<br/>reporting</h2>
          <i class="fa fa-plus lg"></i>
          <p>supports the CMS Quality Reporting Programs</p>
        </div>
      </section>
      <section>
        <p class="lead">Bonnie is a tool for testing electronic clinical quality measures (eCQMs) designed to support streamlined and efficient pre-testing of eCQMs, particularly those used in the CMS Quality Reporting Programs.</p>
      </section>
      <section class="row">
        <div class="col-md-6 section-heading">
          <h1 class="section-heading">Current <span class="version-num">Version <%=Bonnie::Version.current%></span></h1>
          <p>The version <%=Bonnie::Version.current%> release of Bonnie adds support for testing measures using CQL 1.5 and the QDM 5.6 model</p>
        </div>
        <div class="col-md-6">
          <h1 class="section-heading">Capabilities<span class="version-num"> v<%=Bonnie::Version.current%></span></h1>
          <ul class="list-cap">
            <li>Composite Measure Support</li>
            <li>Hybrid Measure Support</li>
            <li>Display CQL Definition Results</li>
            <li>VSAC Profile and Release Selection</li>
            <li>Custom Measurement Period</li>
            <li>Bonnie API</li>
            <li>CQL 1.5 Support</li>
            <li>QDM 5.6 Model Support</li>
          </ul>
        </div>
      </section>
      <section>
        <%= render 'layouts/qdm_banner' %>
      </section>
    </div>
    <footer>
      <div class="container">
        <p>BONNIE is sponsored by the <a href="http://cms.hhs.gov/">Centers for Medicare & Medicaid Services (CMS)</a> and <a href="http://healthit.gov">Office of the National Coordinator for Health Information Technology (ONC)</a> and has been developed by <a href="http://www.mitre.org">The MITRE Corporation</a></p>
      </div>
    </footer>
<% if not user_signed_in? %>
    <script>
        window.disableSessionManagement = true;
    </script>
<% end %>
  </body>
</html>
