
<div class="modal fade" id="finalizeMeasureDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalTitle">Finalize Measure</h4>
      </div>
      <div class="modal-body">
        <form action="measures/finalize" method="post" class="form-horizontal" role="form">
          <div style="margin:0;padding:0;display:inline">
            <input name="utf8" type="hidden" value="✓">
            <input name="_method" type="hidden" value="post">
            <input name="authenticity_token" type="hidden" value="{{token}}">
          </div>

          {{#collection measures tag="div"}}
            <h4>{{title}}</h4>
            <input type="hidden" name="{{@cid}}[hqmf_id]" value="{{hqmf_id}}">
            {{#if episode_of_care}}
              {{#unless cql}}
                <div class="alert alert-info">Please select which episode of care to use for this measure.</div>
                <div class="form-group">
                  <label for="episodeSelect_{{@cid}}" class="col-lg-3 control-label">Episode(s) of Care:</label>
                  <div class="col-lg-9">
                    <select multiple="true" class="form-control" id="episodeSelect_{{@cid}}" name="{{@cid}}[episode_ids][]">
                      {{#each source_data_criteria.models}}
                        {{#with attributes}}
                          {{#if specific_occurrence}}
                            <option value="{{source_data_criteria}}" id="{{@cid}}">{{description}}</option>
                          {{/if}}
                        {{/with}}
                      {{/each}}
                    </select>
                    <span class="">Ctrl+click to select multiple</span>
                  </div>
                </div>
              {{/unless}}
            {{/if}}
            {{#ifCond populations.models.length '>' 1}}
              <div class="alert alert-info">Please update the titles for the populations or stratifications.</div>
              <div class="form-group">
                <label for="populationTitles" class="col-lg-3 control-label">Titles:</label>
                <div id="populationTitles" class="col-lg-9">
                  <div class="form-group">
                    <div class="col-lg-8"></div>
                  </div>
                  {{#each populations.models}}
                    {{#with attributes}}
                      <div class="form-group">
                        <label for="title{{@index}}_{{@cid}}" class="col-lg-1 control-label">
                           {{sub_id}}:
                        </label>
                        <div class="col-lg-7">
                          <input type="text" id="title{{@index}}_{{@cid}}" name="{{@cid}}[titles[{{@index}}]]" class="form-control" value="{{title}}">
                        </div>
                      </div>
                    {{/with}}
                  {{/each}}
                </div>
              </div>
            {{/ifCond}}

          {{/collection}}

        </form>
      </div>
      <div class="modal-footer">
        <!--button type="button" class="btn btn-default" data-dismiss="modal">Close</button-->
        <button type="button" id="finalizeMeasureSubmit" class="btn btn-primary" disabled="disabled">Done</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="pleaseWaitDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 id="modalTitle">Finalizing Measure...</h1>
      </div>
      <div class="modal-body">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
