<div class="modal fade" id="importMeasureDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        {{#button "close" class="close" data-dismiss="modal" aria-hidden="true"}}&times;{{/button}}
        <h4 class="modal-title">{{dialogTitle}}</h4>
      </div>
      <div class="modal-body">
        <form action="measures" method="post" class="form-horizontal" enctype="multipart/form-data" role="form">
          <input type="hidden" name="hqmf_set_id" value="{{hqmfSetId}}"/>
          <input type="hidden" name="redirect_route" value="{{redirectRoute}}"/>
          <div style="margin:0;padding:0;display:inline">
            <input name="utf8" type="hidden" value="✓">
            <input name="_method" type="hidden" value="post">
            <input name="authenticity_token" type="hidden" value="{{token}}">
          </div>
          <div class="form-group">
            <label for="measureFileInput" class="col-lg-{{titleSize}} control-label">Measure Data:</label>
            <div class="col-lg-{{dataSize}}">
              <input type="file" class="form-control" id="measureFileInput" name="measure_file" placeholder="Measure MAT Export Zip File">
            </div>
          </div>
          <div class="form-group">
            <label for="measureTypeRadios" class="col-lg-{{titleSize}} control-label">Measure Type:</label>
            {{#if isUpdate}}
              <div id="measureTypeModel" class="col-lg-{{dataSize}}">
                <div class="col-lg-{{dataSize}}">
                  <p class="form-control-static">{{measureTypeLabel}}</p>
                </div>
              </div>
            {{else}}
              <div id="measureTypeRadios" class="col-lg-{{dataSize}}">
                <div class="radio">
                  <label>
                    <input type="radio" name="measure_type" value="ep" checked="true"> Eligible Professional (EP)
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="measure_type" value="eh"> Eligible Hospital (EH)
                  </label>
                </div>
              </div>
            {{/if}}
          </div>
          <div class="form-group">
            <label for="calculationTypeRadios" class="col-lg-{{titleSize}} control-label">Calculation Type:</label>
            {{#if isUpdate}}
              <div id="calculationTypeModel" class="col-lg-{{dataSize}}">
                <div class="col-lg-{{dataSize}}">
                  <p class="form-control-static">{{calculationTypeLabel}}</p>
                </div>
              </div>
            {{else}}
              <div id="calculationTypeRadios" class="col-lg-{{dataSize}}">
                <div class="radio">
                  <label>
                    <input type="radio" name="calculation_type" value="patient" checked="true"> Patient Based
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="calculation_type" value="episode"> Episode of Care
                  </label>
                </div>
              </div>
            {{/if}}
          </div>
          {{#if isUpdate}}
            {{#if episode_of_care}}
              <input type="hidden" name="{{@cid}}[hqmf_id]" value="{{hqmf_id}}">
              <div class="form-group">
                <label for="episodeSelect_{{@cid}}" class="col-lg-3 control-label">Episode(s) of Care:</label>
                <div class="col-lg-9">
                  <select multiple="true" class="form-control" id="episodeSelect_{{@cid}}" name="eoc_{{hqmfSetId}}[episode_ids][]">
                    {{#each source_data_criteria.models}}
                      {{#with attributes}}
                        {{#if specific_occurrence}}
                          <option value="{{source_data_criteria}}" id="{{@cid}}">{{description}}</option>
                        {{/if}}
                      {{/with}}
                    {{/each}}
                  </select>
                </div>
              </div>
            {{/if}}
          {{/if}}
        </form>
      </div>
      <div class="modal-footer">
        {{#button "close" class="btn btn-default" data-dismiss="modal"}}Close{{/button}}
        {{#button "submit" class="btn btn-primary" id="loadButton" disabled=true}}Load{{/button}}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="pleaseWaitDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Loading Measure...</h1>
      </div>
      <div class="modal-body">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

