<div class="modal fade" id="importMeasureDialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog"  role="dialog" aria-labelledby="modalTitle">
    <div class="modal-content">
      <div class="modal-header">
        {{#button "close" class="close" data-dismiss="modal" aria-hidden="true"}}&times;{{/button}}
        <h1 class="modal-title" id="modalTitle">{{dialogTitle}}</h1>
      </div>
      <div class="modal-body">
        <form action="measures" method="post" class="form-horizontal" enctype="multipart/form-data" role="form">
          <input type="hidden" name="hqmf_set_id" value="{{hqmfSetId}}"/>
          <input type="hidden" name="redirect_route" value="{{redirectRoute}}"/>
          <div style="margin:0;padding:0;display:inline">
            <input name="utf8" type="hidden" value="✓">
            <input name="_method" type="hidden" value="post">
            <input name="authenticity_token" type="hidden" value="{{token}}">
          </div>
          {{#if showLoadInformation}}
            <div class="alert alert-warning">
              Measure Data file types can include: 
              <ul>
                <li><a href="https://www.emeasuretool.cms.gov/" target="_blank">Measure Authoring Tool Zip file export</a></li>
                <li><a href="http://www.cms.gov/Regulations-and-Guidance/Legislation/EHRIncentivePrograms/eCQM_Library.html" target="_blank">HQMF XML File (eCQM specifications)</a></li>
              </ul>
            </div>
          {{/if}}

          <div class="form-group">
            <label for="measureFileInput" class="col-sm-{{titleSize}} control-label">Measure Data</label>
             <div class="col-sm-{{dataSize}}">
               <input class="file nice_input" type="file" id="measureFileInput" name="measure_file">
             </div>
          </div>
         
          <div class="hidden" id="vsacSignIn">
            <div class="form-group">
              <label for="vsacUser" class="col-sm-{{titleSize}} control-label">VSAC Username</label>
              <div class="col-sm-{{dataSize}}">
                <input type="text" class="form-control" id="vsacUser" name="vsac_username" placeholder="username">
              </div>
            </div>
            <div class="form-group">
              <label for="vsacPassword" class="col-sm-{{titleSize}} control-label">VSAC Password</label>
              <div class="col-sm-{{dataSize}}">
                <input type="password" class="form-control" id="vsacPassword" name="vsac_password" placeholder="password">
              </div>
              <div class="col-sm-offset-{{titleSize}} vsac-registration"><a href="https://uts.nlm.nih.gov/license.html" target="_blank"><i class="fa fa-plus-circle" aria-hidden="true"></i> Register for VSAC</a></div>
            </div>
            <div class="form-group">
              <label for="vsacDraft" class="col-sm-{{titleSize}} control-label">Value Sets</label>
              <div class="col-sm-4">
                <div class="switch-toggle switch-custom">
                  <input id="value_sets_draft" type="radio" name="include_draft" value="true" checked="true">
                  <label for="value_sets_draft" onclick=""><span class="sr-only">Value Sets</span> Draft</label>
                  <input id="value_sets_published" type="radio" name="include_draft" value="false">
                  <label for="value_sets_published" onclick=""><span class="sr-only">Value Sets</span> Published</label>
                  <a class="btn btn-primary"></a>
                </div>
              </div>
              <div class="col-sm-4 effective-date">
                <label for="vsacDate" class="control-label pull-left">Before</label>
                <div class="col-sm-{{dataSize}} effective-date-picker">
                  <input type="text" name="vsac_date" id="vsacDate" class="date-picker form-control" placeholder="mm/dd/yyyy" data-date-format="mm/dd/yyyy" data-date-autoclose="true">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <p class="col-sm-{{titleSize}} control-label">Type</p>
            {{#if isUpdate}}
              <div id="measureTypeModel" class="col-sm-{{dataSize}}">
                <input id="measureTypeRadios" class="sr-only" disabled>
                <p class="form-control-static"><span class="sr-only">Measure type set to</span>{{measureTypeLabel}}</p>
              </div>
            {{else}}
              <div class="col-sm-{{dataSize}}">
                <div class="switch-toggle switch-custom">
                  <input id="measureTypeRadios" type="radio" name="measure_type" value="ep" checked="true">
                  <label for="measureTypeRadios" onclick=""><i class="fa fa-user-md" aria-hidden="true"></i><span class="sr-only">Measure type</span> Eligible Professional</label>
                  <input id="EH" type="radio" name="measure_type" value="eh"> 
                  <label for="EH" onclick=""><i class="fa fa-h-square" aria-hidden="true"></i><span class="sr-only">Measure type</span> Eligible Hospital</label>
                  <a class="btn btn-primary"></a>
                </div>
              </div>
            {{/if}}
          </div>
          <div class="form-group">
            <p class="col-sm-{{titleSize}} control-label">Calculation</p>
            {{#if isUpdate}}
              <div id="calculationTypeModel" class="col-sm-{{dataSize}}">
                <input id="calculationTypeRadios" class="sr-only" disabled>
                <p class="form-control-static"><span class="sr-only">Calculation type set to</span>{{calculationTypeLabel}}</p>
              </div>
            {{else}}
              <div class="col-sm-{{dataSize}}">
                <div class="switch-toggle switch-custom">
                  <input id="calculationTypeRadios" type="radio" name="calculation_type" value="patient" checked="true"> 
                  <label for="calculationTypeRadios" onclick=""><i class="fa fa-user" aria-hidden="true"></i><span class="sr-only">Calculation type</span> Patient Based</label>
                  <input id="EC" type="radio" name="calculation_type" value="episode">
                  <label for="EC" onclick=""><i class="fa fa-stethoscope" aria-hidden="true"></i><span class="sr-only">Calculation type</span> Episode of Care</label>
                  <a class="btn btn-primary"></a>
                </div>
              </div>
            {{/if}}
          </div>
          <div class="form-group">
            <p class="col-sm-{{titleSize}} control-label">Rebuild patients</p>
            <div class="col-sm-3">
              <div class="switch-toggle switch-custom">
                <input id="rebuildNo" type="radio" name="rebuild_patients" value="false" checked="true"> 
                <label for="rebuildNo" onclick=""><span class="sr-only">Rebuild patients</span> No</label>
                <input id="rebuildYes" type="radio" name="rebuild_patients" value="true">
                <label for="rebuildYes" onclick=""><span class="sr-only">Rebuild patients</span> Yes</label>
                <a class="btn btn-primary"></a>
              </div>
            </div>
          </div>
          {{#if isUpdate}}
            {{#if episode_of_care}}
              <input type="hidden" name="{{@cid}}[hqmf_id]" value="{{hqmf_id}}">
              <div class="form-group">
                <label for="episodeSelect_{{@cid}}" class="col-sm-{{titleSize}} control-label">Episode(s) of Care</label>
                <div class="col-sm-{{dataSize}}">
                  <select multiple="true" class="form-control" id="episodeSelect_{{@cid}}" name="eoc_{{hqmfSetId}}[episode_ids][]">
                    {{#each source_data_criteria.models}}
                      {{#with attributes}}
                        {{#if specific_occurrence}}
                          <option value="{{source_data_criteria}}" id="{{@cid}}">{{description}}</option>
                        {{/if}}
                      {{/with}}
                    {{/each}}
                  </select>
                </div>
              </div>
            {{/if}}
          {{/if}}
        </form>
      </div>
      <div class="modal-footer">
          <div class="form-group">
            <div class="col-sm-offset-{{titleSize}}">
            {{#button "close" class="btn btn-default" data-dismiss="modal"}}Close{{/button}}
            {{#button "submit" class="btn btn-primary" id="loadButton" disabled=true}}Load{{/button}}
            </div>  
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="pleaseWaitDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle modalInstructions" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 id="modalTitle">Loading Measure</h1>
      </div>
      <div class="modal-body">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">loading dialog will dismiss upon completion</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
