<div class="modal fade" id="importMeasureDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Measure</h4>
      </div>
      <div class="modal-body">
        <form action="measures" method="post" class="form-horizontal" data-remote="true" enctype="multipart/form-data" role="form">
          <div style="margin:0;padding:0;display:inline">
            <input name="utf8" type="hidden" value="✓">
            <input name="_method" type="hidden" value="post">
            <input name="authenticity_token" type="hidden" value="{{token}}">
          </div>
          <div class="form-group">
            <label for="measureFileInput" class="col-lg-{{titleSize}} control-label">Measure Data:</label>
            <div class="col-lg-{{dataSize}}">
              <input type="file" class="form-control" id="measureFileInput" name="measure_file" placeholder="Measure MAT Export Zip File">
            </div>
          </div>
          <div class="form-group">
            <label for="measureTypeRadios" class="col-lg-{{titleSize}} control-label">Measure Type:</label>
            <div id="measureTypeRadios" class="col-lg-{{dataSize}}">
              <div class="radio">
                <label>
                  <input type="radio" name="measure_type" value="ep" checked="true"> Eligible Professional (EP)
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="measure_type" value="eh"> Eligible Hospital (EH)
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="calculationTypeRadios" class="col-lg-{{titleSize}} control-label">Calculation Type:</label>
            <div id="calculationTypeRadios" class="col-lg-{{dataSize}}">
              <div class="radio">
                <label>
                  <input type="radio" name="calculation_type" value="patient" checked="true"> Patient Based
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="calculation_type" value="episode"> Episode of Care
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="importMeasureSubmit" class="btn btn-primary">Load</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="pleaseWaitDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Loading Measure...</h1>
      </div>
      <div class="modal-body">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

