<div class="modal fade" id="copyPatientDialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="dialog" aria-labelledby="modalTitle">
    <div class="modal-content">
      <form role="form" method="post" action="/patients/{{copyAction}}">
        <input name="authenticity_token" type="hidden" value="{{token}}">
        <input name="patient_id" type="hidden" value="{{patientId}}">
        <input name="source_measure_id" type="hidden" value="{{measure_id}}">
        <div class="modal-header">
          <h1 class="modal-title" id="modalTitle">{{modelDialogHeaderText}}</h1>
        </div>
        <div class="modal-body">
          <div class="alert alert-info">{{modelDialogInfoText}}</div>
          <div class="form-group">
            <label for="measureTitles" class="control-label">Measures:</label>
            <div id="measureTitles">
              {{#each targetMeasures.models}}
                {{#with attributes}}
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input id="title{{@index}}_{{@cid}}" type="checkbox" name="selected[]"
                               value={{cqmMeasure.set_id}}> {{cqmMeasure.cms_id}} - {{cqmMeasure.title}}
                      </label>
                    </div>
                  </div>
                {{/with}}
              {{/each}}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" id="copyPatientSubmit" class="btn btn-primary">Done</button>
          <button type="button" id="copyPatientCancel" class="btn btn-default">Cancel</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
