{{#link "measures/matrix" class="btn btn-primary"}}Matrix View{{/link}}
<table class="table">
  <thead>
    <tr>
      <!-- <th>ID</th> -->
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  {{#collection patients tag="tbody"}}
    <tr>
      <!-- <td>{{#link "patients/{{id}}" expand-tokens=true}}{{id}}{{/link}}</td> -->
      <td>{{last}}, {{first}}</td>
      <td>{{#link "patients/{{id}}" class="btn btn-primary" expand-tokens=true}}View{{/link}} {{#link "patients/{{id}}/build" class="btn btn-primary" expand-tokens=true}}Edit{{/link}} {{#link "patients/{{id}}/build" class="btn btn-primary" expand-tokens=true }}Clone{{/link}} {{#link "patients" class="btn btn-danger" expand-tokens=true }}Delete{{/link}}</td>
    </tr>
  {{/collection}}
</table>