<hr>
<table class="header_table">
  <tbody>
    <tr class="pHtml">
      <td class="pHtml" width="20%" bgcolor="#3399ff"><span class="td_label">Patient</span></td>
      <td class="pHtml" witdh="30%">{{first}} {{last}}</td>
      <td class="pHtml" width="15%" bgcolor="#3399ff"><span class="td_label">Sex</span></td>
      <td class="pHtml">{{patientGender}}</td>
    </tr>
    <tr class="pHtml">
      <td class="pHtml" width="20%" bgcolor="#3399ff"><span class="td_label">Date of birth</span></td>
      <td class="pHtml" width="30%">{{patientBirthdate}}</td>
      <td class="pHtml" width="15%" bgcolor="#3399ff"><span class="td_label">Date of expiration</span></td>
      <td class="pHtml">{{patientExpirationDate}}</td>
    </tr>
    <tr class="pHtml">
      <td class="pHtml" width="20%" bgcolor="#3399ff"><span class="td_label">Race</span></td>
      <td class="pHtml" width="30%">{{patientRace}}</td>
      <td class="pHtml" width="15%" bgcolor="#3399ff"><span class="td_label">Ethnicity</span></td>
      <td class="pHtml">{{patientEthnicity}}</td>
    </tr>
    <tr class="pHtml">
      <td class="pHtml" bgcolor="#3399ff"><span class="td_label">Insurance Providers</span></td>
      <td class="pHtml">
        {{patientInsurance}}
      </td>
      <td class="pHtml" bgcolor="#3399ff"><span class="td_label">Patient IDs</span></td>
      <td class="pHtml">{{id}} Cypress</td>
    </tr>
    <tr class="pHtml">
      <td class="pHtml" bgcolor="#3399ff"><span class="td_label">Contact info</span></td>
      <td class="pHtml" colspan="3">
        {{patientAddresses}}
      </td>
    </tr>
  </tbody>
</table>
<table class="header_table">
  <tbody>
    <tr class="pHtml">
      <td class="pHtml" width="20%" bgcolor="#3399ff"><span class="td_label">Document Id</span></td>
      <td class="pHtml" width="80%">{{id}} 2.16.840.1.113883.3.72</td>
    </tr>
    <tr class="pHtml">
      <td class="pHtml" width="20%" bgcolor="#3399ff"><span class="td_label">Document Created:</span></td>
      <td class="pHtml" width="80%">{{currentTime}}</td>
    </tr>
  </tbody>
</table>
<table class="header_table">
  <tbody>
    <tr class="pHtml">
      <td class="pHtml" width="20%" bgcolor="#3399ff"><span class="td_label">Author</span></td>
      <td class="pHtml" width="80%">Auto Generated</td>
    </tr>
    <tr class="pHtml">
      <td class="pHtml" bgcolor="#3399ff"><span class="td_label">Contact info</span></td>
      <td class="pHtml">
        Tel:  +1-781-271-3000<br />
      </td>
    </tr>
  </tbody>
</table>
<table class="header_table">
  <tbody>
    <tr class="pHtml">
      <td class="pHtml" width="20%" bgcolor="#3399ff"><span class="td_label">Document maintained by</span></td>
      <td class="pHtml" width="80%">Cypress</td>
    </tr>
    <tr class="pHtml">
      <td class="pHtml" bgcolor="#3399ff"><span class="td_label">Contact info</span></td>
      <td class="pHtml" width="80%">202 Burlington Rd.<br />Bedford, MA 01730<br />Tel:  +1-781-271-3000<br /></td>
    </tr>
  </tbody>
</table>
<hr>