<tr class="narr_tr">
  <td width="30%">{{getDescription}}</td>
  <td width="15%">{{#each getCodes}}{{this}}<br/>{{/each}}</td>
  <td width="15%">{{getTime}}</td>
  <td width="10%">{{getStatus}}</td>
  <td width="15%">{{#each getResults}}{{this}}<br/>{{/each}}</td>
  <td width="15%">{{getFields}}</td>
</tr>