{{#link "" class="btn btn-primary" disabled="disabled"}}Add{{/link}}
{{#if measure_id}}
  {{#link "measures/{{measure_id}}/patients/{{_id}}/edit" class="btn btn-primary" expand-tokens=true}}Edit{{/link}}
{{else}}
  {{#link "patients/{{_id}}/edit" class="btn btn-primary" expand-tokens=true}}Edit{{/link}}
{{/if}}
<h1 class="h1center">Cypress Certification Patient Test Record: {{first}} {{last}}</h1>
<div class="record">
  {{view headerView}}
  {{!FIXME: if measures.size > 0, render entries by encounter here!}}
  {{#each sectionViews}}
    {{view this}}
  {{/each}}
</div>
{{#if shouldDisplayValues}}
  <div class="record">
    {{view expectedValuesView}}
  </div><hr>
{{/if}}
<br/>
{{#link "patients" class="btn btn-primary"}}<i class="fa fa-arrow-circle-left"></i> back to patients listing{{/link}}