<div class="edit-extension-container">
  <div class="row form-group">
    <div class="col-md-12">
      <label for="url_{{@cid}}">Url:</label>
      <input aria-describedby="url_help_{{@cid}}"
             class="form-control" id="url_{{@cid}}"
             name="url"
             type="text"
        {{#if url}}value="{{url}}" {{else}}value=""{{/if}}
             required>
    </div>
  </div>
  <div class="extension-value-selector">
    <div class="row form-group">
      <div class="col-md-12">
        <label for="value_{{@cid}}">Value:</label>
        <select class="form-control"
                id="value_{{@cid}}"
                name="value">
          <option value="">--</option>
          {{#each valueTypes}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="input-container">
      <div class="input-view-container">
        {{#if showInputViewPlaceholder}}
          <div class="input-placeholder">{{selectedValueType}} type not implemented yet.</div>
        {{else}}
          {{view selectedValueTypeView}}
        {{/if}}
      </div>
      <div class="input-add">
        {{#button "addExtension" class="btn btn-primary" disabled="disabled" id="add_extension"}}
          <i class="fa fa-plus" aria-hidden="true"></i>
          <span class="sr-only">add extension</span>
        {{/button}}
      </div>
    </div>
  </div>
</div>
