<div class="extension-display-container">
  <div class="form-group">
    {{#each extensions}}
      <div class="existing-values">
        <a data-toggle="collapse" data-target="#collapse_extension_{{@index}}_{{@cid}}" href="#collapse_extension_{{@index}}_{{@cid}}"
           onclick="return false;" aria-expanded="false" class="extension-url">
          <div class="expand_caret caret"></div>
          <span title="{{this.url}}">{{this.url}}</span>
        </a>
        <div id="collapse_extension_{{@index}}_{{@cid}}" class="collapse extension-value">
          {{#each values}}
            <span title="{{this.value}}">{{this.value}}
              <button class="btn btn-link close delete delete-extension-btn"
                      data-extension-index="{{this.index}}"
                      data-extension-url="{{this.url}}"
                      data-call-method="removeExtension"
                      data-cy="extension-value-delete">
              × <span class="sr-only">Delete</span>
              </button>
            </span>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
