<div class="criteria-type-marker">
  <i class="fa fa-fw fa-lg {{faIcon}}" aria-hidden="true"></i>
</div>
<div class="criteria-body">
  <div class="criteria-data droppable">
    <div class="criteria-details">
      <div class="row">
        <div class="col-md-6">
          <h2>{{definition_title}}</h2>
          <div>{{description}}</div>
        </div>
        <div class="col-md-6  criteria-{{model.cid}}">
          <div class="pull-left">
            <h2>Date</h2>
            <div>{{start_date}}{{#if end_date}} &ndash; {{end_date}}{{/if}}</div>
          </div>
          {{#button "toggleDetails" class="close"}}
            <i class="fa fa-lg fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Expand Data Criteria, {{definition}}, {{description}} </span>
            <span class="highlight-indicator sr-only"></span>
          {{/button}}
        </div>
      </div>
      {{#ifPortfolio}}
        <span class="criteria-tag">
          <span class="criteria-tag-cms">CMS</span> <span class="criteria-tag-num">{{cms_id_number}}</span> <span class="criteria-tag-version">{{cms_id_version}}</span>
        </span>
      {{/ifPortfolio}}
    </div>
    <form class="hide" role="form">
      <div class="clearfix">
        <div class="pull-left">
          <span class="highlight-indicator sr-only"></span>

          <p><strong>{{definition_title}}:</strong> {{description}}</p>
        </div>
        {{#button "toggleDetails" class="close"}}
          <i class="fa fa-lg fa-angle-down" aria-hidden="true"></i>
          <span class="sr-only">Collapse Data Criteria, {{definition}}, {{description}}</span>
        {{/button}}
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="start_date_{{@cid}}" class="control-label"><i class="fa fa-clock-o" aria-hidden="true"></i> Start<span class="sr-only"> date month/day/year</span></label></label>
          <div class="datetime-control">
            <div>
              <input type="text" name="start_date" id="start_date_{{@cid}}" class="date-picker form-control" placeholder="mm/dd/yyyy" data-date-format="mm/dd/yyyy" data-date-keyboard-navigation="false" data-date-autoclose="true">
            </div>

            <div>
              <label for="start_time_{{@cid}}" class="sr-only">start time</label>
              <input type="text" name="start_time" id="start_time_{{@cid}}" class="time-picker form-control" placeholder="--:-- --" data-show-inputs="false" data-default-time="8:00 AM">
            </div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="end_date_{{@cid}}" class="control-label"><i class="fa fa-clock-o" aria-hidden="true"></i> Stop<span class="sr-only"> date month/day/year</span></label>
          <div class="datetime-control">
            <div>
              <input type="text" name="end_date" id="end_date_{{@cid}}" class="date-picker form-control" placeholder="mm/dd/yyyy" data-date-format="mm/dd/yyyy" data-date-keyboard-navigation="false" data-date-autoclose="true"{{#if end_date_is_undefined}} disabled{{/if}}>
            </div>

            <div>
              <label for="end_time_{{@cid}}" class="sr-only">end time</label>
              <input type="text" name="end_time" id="end_time_{{@cid}}" class="time-picker form-control" placeholder="--:-- --" data-show-inputs="false" data-default-time="{{#unless end_date_is_undefined}}8:00 AM{{/unless}}"{{#if end_date_is_undefined}} disabled{{/if}}>
            </div>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="end_date_is_undefined"> undefined
              <span class="sr-only">end date</span>
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label"><i class="fa fa-code" aria-hidden="true"></i> Codes<input class="sr-only" disabled></label>

        {{#collection codes class="existing-values"}}
        <span>
          {{codeset}}:
          {{code}}
          {{#button "removeValue" class="btn btn-link close delete"}}&times; <span class="sr-only">Delete</span>{{/button}}
        </span>
        {{/collection}}

        {{view editCodeSelectionView}}
      </div>

      {{#if editValueView}}
        <div class="form-group">
          <label class="control-label"><i class="fa fa-bar-chart-o" aria-hidden="true"></i> Result<input class="sr-only" disabled></label>

          {{#collection value class="existing-values"}}
            <span>
              {{value}} {{unit}}
              {{title}}
              {{#button "removeValue" class="btn btn-link close delete"}}&times; <span class="sr-only">Delete</span>{{/button}}
            </span>
          {{/collection}}

          {{view editValueView}}
        </div>
      {{/if}}

      {{#ifCond definition "==" "medication"}}
        <div class="row">
          <div class="form-group col-md-6">
            <label for="dose_value_{{@cid}}" class="control-label"><i class="fa fa-medkit" aria-hidden="true"></i> Prescription<span class="sr-only"> value</span></label>
            <div class="form-inline">
              <div class="input-group">
                <input type="text" name="dose_value" id="dose_value_{{@cid}}" class="form-control" placeholder="dose">
                <div class="input-group-addon">
                  <label for="dose_unit_{{@cid}}" class="sr-only">dose unit</label>
                  <select id="dose_unit_{{@cid}}" name="dose_unit" class="form-control medications-control">
                    <option value="mg">mg</option>
                    <option value="tablet(s)">tablet(s)</option>
                    <option value="capsule(s)">capsule(s)</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="frequency_value_{{@cid}}" class="control-label"><i class="fa fa-spinner" aria-hidden="true"></i> Regimen<span class="sr-only"> value</span></label>
            <div class="form-inline">
              <div class="input-group">
                <input type="text" name="frequency_value" id="frequency_value_{{@cid}}" class="form-control" placeholder="frequency">
                <div class="input-group-addon">
                  <label for="frequency_unit_{{@cid}}" class="sr-only">frequency unit</label>
                  <select id="frequency_unit_{{@cid}}" name="frequency_unit" class="form-control medications-control">
                    <option value="h">hour(s)</option>
                    <option value="d">day(s)</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label"><i class="fa fa-medkit" aria-hidden="true"></i> Filled<input class="sr-only" disabled></label>

          {{#collection fulfillments class="existing-values"}}
            <span>
              {{quantity_dispensed_value}} {{quantity_dispensed_unit}}:
              {{dispense_date}} {{dispense_time}}
              {{#button "removeValue" class="btn btn-link close delete"}}&times; <span class="sr-only">Delete</span>{{/button}}
            </span>
          {{/collection}}

          {{view editFulfillmentHistoryView}}

        </div>
      {{/ifCond}}

      <div class="form-group">
        <label class="control-label"><i class="fa fa-bar-chart-o" aria-hidden="true"></i> Field Value<input class="sr-only" disabled></label>

        {{#collection field_values class="existing-values" item-context=valueWithDateContext}}
          <span>
            {{key}}:
            {{#if start_date}}
              {{start_date}} {{start_time}}
            {{else}}
              {{value}} {{unit}}
              {{title}}
            {{/if}}
            {{#button "removeValue" class="btn btn-link close delete"}}&times; <span class="sr-only">Delete</span>{{/button}}
          </span>
        {{/collection}}

        {{view editFieldValueView}}
      </div>

      <div class="form-group">
        <div class="checkbox">
          <label class="checkbox-label">
            <input type="checkbox" name="negation" class="negation-select checkbox" data-toggle="negation-select">
            <span>NOT PERFORMED</span>
          </label>
        </div>
        <label for="negationCodeListId_{{@cid}}" class="sr-only">Negation Code Set</label>
        <select id="negationCodeListId_{{@cid}}" name="negation_code_list_id" class="form-control negation-code-list{{#unless negation}} hide{{/unless}}">
          <option value="">--</option>
          {{#each value_sets}}
            <option value="{{oid}}">{{display_name}}</option>
          {{/each}}
        </select>
      </div>

      <div class="criteria-delete">
        <div class="pull-right">
          {{#button "showDelete" class="btn btn-danger-inverse criteria-delete-check"}}
            <i class="fa fa-minus-circle" aria-hidden="true"></i>
            <span class="sr-only">show delete</span>
          {{/button}}
          {{#button "removeCriteria" class="btn btn-danger hide"}}Delete{{/button}}
        </div>
      </div>
      <span class="sr-only">{{#button "jumpToSelectCriteria"}}Return to {{type}} Clinical Elements{{/button}}</span>
    </form>
  </div>
</div>
