
{{#unless fieldValue}}<div class="edit_value_view {{#if hideEditValueView}}hide{{/if}}">{{/unless}}
{{#if fieldValue}}
<p>
  <label for="key_{{@cid}}" class="sr-only">field value type</label>
  <select name="key" id="key_{{@cid}}" class="form-control">
    <option value="">--</option>
    {{#each fields}}
      <option value="{{key}}">{{title}}</option>
    {{/each}}
  </select>
</p>
{{/if}}

{{#ifCond type '==' 'CMP'}}
  <div class="row">
    <div class="col-md-2">
      <label for="code" class="control-label">Code</label>
    </div>    
    <div class="col-md-10">
      <select name="code_list_id_cmp" id="code_list_id_{{@cid}}" class="form-control">
        <option value="">--</option>
        {{#each codes tag="select" name="code_list_id_cmp"}}
          <option value="{{oid}}">{{display_name}}</option>
        {{/each}}
      </select>
    </div>    
  </div>
  {{#ifCond this.fullCriteriaType '==' 'laboratory_test_performed'}}
    <div class="row">
      <div class="col-md-6">
        <label for="referenceRangeLow" class="control-label">Reference Range - Low</label>
      </div> 
      <div class="col-md-3">
        <label for="referenceRangeLow_value_{{@cid}}" class="sr-only">input</label>
        <input type="text" name="referenceRangeLow_value" id="referenceRangeLow_value_{{@cid}}" class="form-control" placeholder="input">
      </div>
      <div class="col-md-2">
        <label for="referenceRangeLow_unit_{{@cid}}" class="sr-only">units</label>
        <input type="text" name="referenceRangeLow_unit" id="referenceRangeLow_unit_{{@cid}}" class="form-control" placeholder="units">
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="referenceRangeHigh" class="control-label">Reference Range - High</label>
      </div> 
      <div class="col-md-3">
        <label for="referenceRangeHigh_value_{{@cid}}" class="sr-only">input</label>
        <input type="text" name="referenceRangeHigh_value" id="referenceRangeHigh_value_{{@cid}}" class="form-control" placeholder="input">
      </div>
      <div class="col-md-2">
        <label for="referenceRangeHigh_unit_{{@cid}}" class="sr-only">units</label>
        <input type="text" name="referenceRangeHigh_unit" id="referenceRangeHigh_unit_{{@cid}}" class="form-control" placeholder="units">
      </div>
      <div class="col-md-1">
      </div>
    </div>
  {{/ifCond}}
  <div class="row">
      <div class="col-md-3">
          <label class="sr-only" for="type_{{@cid}}_cmp">Value type dropdown</label>
          <select id="type_{{@cid}}_cmp" name="type_cmp" class="selectBoxIt-native">
              <option value="PQ" data-icon="fa fa-pencil-square-o">Scalar</option>
              <option value="CD" data-icon="fa fa-list">Coded</option>
              <option value="TS" data-icon="fa fa-calendar">Time</option>
          </select>
      </div>

    {{#ifCond type_cmp '==' 'PQ'}}
        <div class="col-md-6">
            <label for="value_{{@cid}}" class="sr-only">input</label>
            <input type="number" name="value" id="value_{{@cid}}" class="form-control" placeholder="input">
        </div>
        <div class="col-md-2">
            <label for="unit_{{@cid}}" class="sr-only">units</label>
            <input type="text" name="unit" id="unit_{{@cid}}" class="form-control" placeholder="units">
        </div>
    {{/ifCond}}

    {{#ifCond type_cmp '==' 'CD'}}
        <div class="col-md-8">
            <label for="code_list_id_{{@cid}}" class="sr-only">field value</label>
            <select name="code_list_id" id="code_list_id_{{@cid}}" class="form-control">
                <option value="">--</option>
              {{#each codes tag="select" name="code_list_id"}}
                  <option value="{{oid}}">{{display_name}}</option>
              {{/each}}
            </select>
        </div>
    {{/ifCond}}

    {{#ifCond type_cmp '==' 'TS'}}
        <div class="col-md-5">
            <label for="start_date_{{@cid}}" class="sr-only">{{#if fieldValue}}field {{/if}}value date</label>
            <input type="text" name="start_date" id="start_date_{{@cid}}" class="date-picker form-control" placeholder="mm/dd/yyyy" data-date-format="mm/dd/yyyy" data-date-autoclose="true">
        </div>
        <div class="col-md-3">
            <label for="start_time_{{@cid}}" class="sr-only">{{#if fieldValue}}field {{/if}}value time</label>
            <input type="text" name="start_time" id="start_time_{{@cid}}" class="time-picker form-control" placeholder="--:-- --" data-show-inputs="false" data-default-time="8:00 AM">
        </div>
    {{/ifCond}}

    <div class="col-md-1">
      {{#button "addValue" class="btn btn-primary pull-right" disabled="disabled"}}
          <i class="fa fa-plus" aria-hidden="true"></i>
          <span class="sr-only">add {{#if fieldValue}}field {{/if}}value</span>
      {{/button}}
    </div>
  </div>
{{else}}
  {{#ifCond type '==' 'FAC'}}
    <div class="row">
      <div class="col-md-2">
        <label for="type_coded" class="control-label">Code</label>
      </div>
      <div class="col-md-10">
          <label for="code_list_id_{{@cid}}" class="sr-only">field value</label>
          <select name="code_list_id" id="code_list_id_{{@cid}}" class="form-control">
            <option value="">--</option>
            {{#each codes tag="select" name="code_list_id"}}
              <option value="{{oid}}">{{display_name}}</option>
            {{/each}}
          </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <label for="locationPeriodLow" class="control-label">Location Period Start Date/Time</label>
      </div>
      <div class="col-md-6">
        <label for="location_period_start_date_{{@cid}}" class="sr-only">{{#if fieldValue}}field {{/if}}value date</label>
        <input type="text" name="start_date" id="start_date_{{@cid}}" class="date-picker form-control" placeholder="mm/dd/yyyy" data-date-format="mm/dd/yyyy" data-date-autoclose="true">
      </div>
      <div class="col-md-5">
        <label for="locaiton_period_start_time_{{@cid}}" class="sr-only">{{#if fieldValue}}field {{/if}}value time</label>
        <input type="text" name="start_time" id="start_time_{{@cid}}" class="time-picker form-control" placeholder="--:-- --" data-show-inputs="false" data-default-time="08:00 AM">
      </div>
      <div class="col-md-10">
        <label for="locationPeriodHigh" class="control-label">Location Period End Date/Time</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="location_period_end_date_{{@cid}}" class="sr-only">{{#if fieldValue}}field {{/if}}value date</label>
        <input type="text" name="end_date" id="end_date_{{@cid}}" class="date-picker form-control" placeholder="mm/dd/yyyy" data-date-format="mm/dd/yyyy" data-date-autoclose="true">
      </div>
      <div class="col-md-5">
        <label for="locaiton_period_end_time_{{@cid}}" class="sr-only">{{#if fieldValue}}field {{/if}}value time</label>
        <input type="text" name="end_time" id="end_time_{{@cid}}" class="time-picker form-control" placeholder="--:-- --" data-show-inputs="false" data-default-time="08:00 AM">
      </div>
      <div class="col-md-1">
        {{#button "addValue" class="btn btn-primary pull-right" disabled="disabled"}}
          <i class="fa fa-plus" aria-hidden="true"></i>
          <span class="sr-only">add value</span>
        {{/button}}
      </div>
    </div>

  {{else}}
    <div class="row">
      
      <div class="col-md-3">
        <label class="sr-only" for="type_{{@cid}}">Value type dropdown</label>
        <select id="type_{{@cid}}" name="type" class="selectBoxIt-native">
            <option value="PQ" data-icon="fa fa-pencil-square-o">Scalar</option>
            <option value="CD" data-icon="fa fa-list">Coded</option>
            <option value="TS" data-icon="fa fa-calendar">Time</option>
        </select>
      </div>

      {{#ifCond type '==' 'PQ'}}
        <div class="col-md-6">
          <label for="value_{{@cid}}" class="sr-only">input</label>
          <input type="number" name="value" id="value_{{@cid}}" class="form-control" placeholder="input">
        </div>
        <div class="col-md-2">
          <label for="unit_{{@cid}}" class="sr-only">units</label>
          <input type="text" name="unit" id="unit_{{@cid}}" class="form-control" placeholder="units">
        </div>
      {{/ifCond}}

      {{#ifCond type '==' 'CD'}}
        <div class="col-md-8">
          <label for="code_list_id_{{@cid}}" class="sr-only">field value</label>
          <select name="code_list_id" id="code_list_id_{{@cid}}" class="form-control">
            <option value="">--</option>
            {{#each codes tag="select" name="code_list_id"}}
              <option value="{{oid}}">{{display_name}}</option>
            {{/each}}
          </select>
        </div>
      {{/ifCond}}

      {{#ifCond type '==' 'TS'}}
        <div class="col-md-5">
          <label for="start_date_{{@cid}}" class="sr-only">{{#if fieldValue}}field {{/if}}value date</label>
          <input type="text" name="start_date" id="start_date_{{@cid}}" class="date-picker form-control" placeholder="mm/dd/yyyy" data-date-format="mm/dd/yyyy" data-date-autoclose="true">
        </div>
        <div class="col-md-3">
          <label for="start_time_{{@cid}}" class="sr-only">{{#if fieldValue}}field {{/if}}value time</label>
          <input type="text" name="start_time" id="start_time_{{@cid}}" class="time-picker form-control" placeholder="--:-- --" data-show-inputs="false" data-default-time="8:00 AM">
        </div>
      {{/ifCond}}

      <div class="col-md-1">
        {{#button "addValue" class="btn btn-primary pull-right" disabled="disabled"}}
          <i class="fa fa-plus" aria-hidden="true"></i>
          <span class="sr-only">add {{#if fieldValue}}field {{/if}}value</span>
        {{/button}}
      </div>
    </div>
  {{/ifCond}}
{{/ifCond}}

{{#if showAddCodesButton}}
  <br><a href="#" id="addCodes" class="btn btn-default btn-sm">Add Codes</a>
{{/if}}

{{#if showAddCodes}}
  <br>
  {{#collection fieldValueCodesCollection class="existing-values"}}
  <span>
    {{codeset}}:
    {{code}}
    {{#button "removeFieldValueCode" class="btn btn-link close delete"}}&times; <span class="sr-only">Delete</span>{{/button}}
  </span>
  {{/collection}}
  {{view codeSelectionViewForFieldValues}}
{{/if}}

{{#unless fieldValue}}</div>{{/unless}}
