<div class="row">
  <div class="col-md-3">
    <label class="sr-only" for="codeset_{{@cid}}">Select code set dropdown</label>
    <select id="codeset_{{@cid}}" name="codeset" class="codeset-control selectBoxIt-native">
      <option value="">Code Set</option>
      {{#each codeSets}}
      <option>{{this}}</option>
      {{/each}}
      <option value="custom">Custom</option>
    </select>
    
  </div>

  {{#ifCond codeset '==' 'custom'}}
    <div class="col-md-4">
      <label for="custom_codeset_{{@cid}}" class="sr-only">input</label>
      <input type="text" name="custom_codeset" id="custom_codeset_{{@cid}}" class="form-control" placeholder="code set">
    </div>
    <div class="col-md-4">
      <label for="custom_code_{{@cid}}" class="sr-only">units</label>
      <input type="text" name="custom_code" id="custom_code_{{@cid}}" class="form-control" placeholder="code">
    </div>
  {{/ifCond}}

  {{#ifCond codeset '!=' 'custom'}}
  <div class="col-md-8">
    <label for="code_{{@cid}}" class="sr-only">code value</label>
    <select name="code" id="code_{{@cid}}" class="form-control codelist-control">
      <option value="">--</option>
    </select>
  </div>
  {{/ifCond}}

  <div class="col-md-1">
    {{#button "addCode" class="btn btn-primary pull-right" disabled="disabled"}}
      <i class="fa fa-plus" aria-hidden="true"></i>
      <span class="sr-only">add code</span>
    {{/button}}
  </div>
</div>
