<label class="control-label"><i class="fa fa-files-o"></i> Fulfillments<input class="sr-only" disabled></label>
<div class="row">
  <div class="col-md-3">
    <label for="dispense_date_{{@cid}}" class="sr-only">dispense date</label>
    <input type="text" name="dispense_date" id="dispense_date_{{@cid}}" class="date-picker form-control" placeholder="mm/dd/yyyy" data-date-format="mm/dd/yyyy" data-date-autoclose="true">
  </div>
  <div class="col-md-3">
    <label for="dispense_time_{{@cid}}" class="sr-only">dispense time</label>
    <input type="text" name="dispense_time" id="dispense_time_{{@cid}}" class="time-picker form-control" placeholder="--:-- --" data-show-inputs="false" data-default-time="8:00 AM">
  </div>

  <div class="form-group col-md-5">
    <div class="row">
      <div class="col-xs-7">
        <input type="text" name="quantity_dispensed_value" id="quantity_dispensed_value_{{@cid}}" class="form-control" placeholder="input">
      </div>
      <div class="col-xs-5">
        <label for="quantity_dispensed_unit_{{@cid}}" class="sr-only">quantity dispensed unit</label>
        <select id="quantity_dispensed_unit_{{@cid}}" name="quantity_dispensed_unit" class="form-control medications-control">
          <option value="mg">mg</option>
        </select>
        {{!-- <input type="text" name="quantity_dispensed_units" id="quantity_dispensed_units{{@cid}}" class="form-control" placeholder="units"> --}}
      </div>
    </div>
  </div>

  <div class="col-md-1">
    {{#button "addFulfillment" class="btn btn-primary pull-right" disabled="disabled"}}
      <i class="fa fa-plus"></i>
      <span class="sr-only">add fulfillment</span>
    {{/button}}
  </div>
</div>
