<div class="record-listing">
  <div class="circle-icon pull-left">
    <i class="fa {{faIcon}}"></i>
  </div>
  <div class="patient-data droppable">
    <div class="concise">
      <div class="pull-right">
        {{#button "toggleDetails" tag="a"}}<i class="fa fa-gear"></i>{{/button}}
      </div>
      <dl class="dl-record">
        <dt class="definition">{{definition}}</dt>
        <dd>{{description}}</dd>
      </dl>
      <dl class="dl-date">
        <dt>DATE</dt>
        <dd>{{start_date}} {{end_date}}</dd>
      </dl>
    </div>
    <div class="details" style="display: none;">
      {{#button "removeCriteria" class="btn btn-danger pull-right"}}<i class="fa fa-times"></i>{{/button}}
      <dl class="dl-heading-edit">
        <dt class="definition">{{definition}}</dt>
        <dd>{{description}}</dd>
      </dl>
      <div class="element-edit">
        <div class="form-date">
          <div class="section-heading time-heading"><i class="fa fa-clock-o"></i>START</div>
          <input type="text" name="start_date" class="form-control form-control-date" placeholder="mm/dd/yyyy" data-date-format="mm/dd/yyyy" data-date-autoclose="true" data-provide="datepicker">
          <input type="text" name="start_time" class="form-control form-control-time" placeholder="h:mm PM" data-show-inputs="false" data-default-time="false">
        </div>

        <div class="form-date">
          <div class="section-heading time-heading"><i class="fa fa-clock-o"></i>STOP</div>
          <input type="text" name="end_date" class="form-control form-control-date" placeholder="mm/dd/yyyy" data-date-format="mm/dd/yyyy" data-date-autoclose="true" data-provide="datepicker">
          <input type="text" name="end_time" class="form-control form-control-time" placeholder="h:mm PM" data-show-inputs="false" data-default-time="false">
        </div>

        <div class="section-heading">
          <i class="fa fa-bar-chart-o"></i>VALUE
        </div>
        {{#collection value class="existing-values"}}
          <span>
            {{value}} {{unit}}
            {{title}}
            {{#button "removeValue" class="btn btn-link delete"}}&times;{{/button}}
          </span>
        {{/collection}}

        {{view editValueView}}

        <div class="section-heading">
          <i class="fa fa-bar-chart-o"></i>FIELD VALUE
        </div>
        {{#collection field_values class="existing-values" item-context=valueWithDateContext}}
          <span>
            {{key}}:
            {{#if start_date}}
              {{start_date}} {{start_time}}
            {{else}}
              {{value}} {{unit}}
              {{title}}
            {{/if}}
            {{#button "removeValue" class="btn btn-link delete"}}&times;{{/button}}
          </span>
        {{/collection}}

        {{view editFieldValueView}}

        <div class="form-group not-per">
          <div class="checkbox">
            <label class="checkbox-label">
              <input type="checkbox" name="negation" class="negation-select checkbox" data-toggle="negation-select"> <span>NOT PERFORMED</span>
            </label>
          </div>
          <select name="negation_code_list_id" class="form-control negation-code-list {{#unless negation}}hide{{/unless}}">
              <option value="">--</option>
              {{#each codes}}
                <option value="{{oid}}">{{display_name}}</option>
              {{/each}}
          </select>
        </div>
        <div class="form-group minimize">
          {{#button "closeDetails" class="btn btn-primary pull-right"}}CLOSE{{/button}}
        </div>
      </div>
    </div>
  </div>
</div>
