<div class="record-listing">
  <div class="circle-icon pull-left">
    <i class="fa {{faIcon}}"></i>
  </div>
  <div class="patient-data droppable">
    <div class="concise">
      <div class="pull-right">
        {{#button "toggleDetails" tag="a"}}<i class="fa fa-gear"></i>{{/button}}
      </div>
      <dl class="dl-record">
        <dt class="definition">{{definition}}</dt>
        <dd>{{description}}</dd>
      </dl>
      <dl class="dl-date">
        <dt>DATE</dt>
        <dd>{{start_date}} {{end_date}}</dd>
      </dl>
    </div>
    <div class="details" style="display: none;">
      {{#button "removeCriteria" class="btn btn-danger pull-right"}}<i class="fa fa-times"></i>{{/button}}
      <dl class="dl-heading-edit">
        <dt class="definition">{{definition}}</dt>
        <dd>{{description}}</dd>
      </dl>
      <div class="element-edit">
        <div class="form-date">
          <div class="section-heading time-heading"><i class="fa fa-clock-o"></i>START</div>
          <input type="text" name="start_date" class="form-control form-control-date" placeholder="xx/xx/xxxx">
          <input type="text" name="start_time" class="form-control form-control-time" placeholder="xx:xx">
        </div>

        <div class="form-date">
          <div class="section-heading time-heading"><i class="fa fa-clock-o"></i>STOP</div>
          <input name="end_date" type="text" class="form-control form-control-date" placeholder="xx/xx/xxxx">
          <input type="text" name="end_time" class="form-control form-control-time" placeholder="xx:xx">
        </div>

        <div class="section-heading">
          <i class="fa fa-bar-chart-o"></i>VALUE
        </div>
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">Type<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a><i class="fa fa-pencil-square-o"></i> SCALAR</a></li>
              <li><a><i class="fa fa-list"></i> Coded</a></li>
            </ul>
          </div>
          <div class="inputs row">
           <span class="form-control-input"><input type="text" class="form-control" id="event-start" placeholder="input"></span>
            <span class="form-control-units"><input type="text" class="form-control" id="event-start-time" placeholder="units"></span>
          </div>
          <button class="btn btn-primary pull-right"><i class="fa fa-plus"></i></button>
        </div><!-- /input-group -->
       {{!--  {{view editValueCollectionView}}
        <div class="btn-form">
          {{#button "newScalarValue" class="btn btn-default"}}New Scalar{{/button}}
          {{#button "newCodedValue" class="btn btn-default"}}New Coded{{/button}}
        </div> --}}

        <div class="section-heading">
          <i class="fa fa-bar-chart-o"></i>FIELD VALUE
        </div>
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">Type<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a><i class="fa fa-pencil-square-o"></i> SCALAR</a></li>
              <li><a><i class="fa fa-list"></i> Coded</a></li>
              <li><a><i class="fa fa-calendar"></i> Time</a></li>
            </ul>
          </div>
          <div class="inputs row">
           <span class="form-control-input"><input type="text" class="form-control" id="event-start" placeholder="input"></span>
            <span class="form-control-units"><input type="text" class="form-control" id="event-start-time" placeholder="units"></span>
          </div>
          <button class="btn btn-primary pull-right"><i class="fa fa-plus"></i></button>
        </div><!-- /input-group -->
        {{!-- <div>
          <div class="section-heading"><i class="fa fa-list"></i>FIELD VALUE</div>
            {{view editFieldValueCollectionView}}
            <div class="btn-form">
              {{#button "newScalarFieldValue" class="btn btn-default"}}New Scalar{{/button}}
              {{#button "newCodedFieldValue" class="btn btn-default"}}New Coded{{/button}}
              {{#button "newTimeFieldValue" class="btn btn-default"}}New Time{{/button}}
            </div>
        </div> --}}
        <div class="form-group not-per">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="negation"  class="negation-select checkbox" data-toggle="negation-select"> NOT PERFORMED
            </label>
          </div>  
          <select name="negation_code_list_id" class="form-control negation-code-list {{#unless negation}}hide{{/unless}}">
              <option value="">--</option>
              {{#each codes}}
                <option value="{{oid}}">{{display_name}}</option>
              {{/each}}
          </select>
        </div>
        <div class="form-group minimize">
          {{#button "closeDetails" class="btn btn-primary pull-right"}}CLOSE{{/button}}
        </div>
      </div>
    </div>
  </div>
</div>
