<div class="row">
  <div class="col-md-3">
    <label class="sr-only" for="reference_type_{{@cid}}">Value type dropdown</label>
    <select name="reference_type" id="reference_type_{{@cid}}" class="form-control">
    <option value="">--</option>
    {{#each references}}
      <option value="{{key}}">{{title}}</option>
    {{/each}}
  </select>
  </div>

  <div class="col-md-8">
    <label for="reference_id_{{@cid}}" class="sr-only">field value</label>
    <select name="reference_id" id="reference_id_{{@cid}}" class="form-control">
      <option value="">--</option>
      {{#each otherCriteria tag="select" name=""}}
        <option value="{{cid}}">{{description}}</option>
      {{/each}}
    </select>
  </div>

  <div class="col-md-1">
    {{#button "addValue" class="btn btn-primary pull-right" disabled="disabled"}}
      <i class="fa fa-plus" aria-hidden="true"></i>
      <span class="sr-only">add reference </span>
    {{/button}}
  </div>

</div>