<div class="criteria-type-marker">
  <i class="fa fa-fw fa-lg {{faIcon}}" aria-hidden="true"></i>
</div>
<div class="criteria-body">
  <div class="criteria-data droppable">
    <div class="criteria-details">
      <div class="row">
        <div class="col-md-6">
          <h3 class="h2-style">{{definition_title}}</h3>
          <div>{{description}}</div>
        </div>
        <div class="col-md-6  criteria-{{model.cid}}">
          <div class="pull-left">
            <div class="h2-style">Date</div>
            <div>{{start_date}}{{#if end_date}} &ndash; {{end_date}}{{/if}}</div>
          </div>
          {{#button "toggleDetails" class="close"}}
            <i class="fa fa-lg fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Expand Data Criteria, {{definition}}, {{description}} </span>
            <span class="highlight-indicator sr-only"></span>
          {{/button}}
        </div>
      </div>
    </div>
    <form class="hide" role="form">
      <div class="clearfix">
        <div class="pull-left">
          <span class="highlight-indicator sr-only"></span>

          <p><strong>{{definition_title}}:</strong> {{description}}</p>
        </div>
        {{#button "toggleDetails" class="close"}}
          <i class="fa fa-lg fa-angle-down" aria-hidden="true"></i>
          <span class="sr-only">Collapse Data Criteria, {{definition}}, {{description}}</span>
        {{/button}}
      </div>

      {{#each timingAttributeViews}}
        {{view this}}
      {{/each}}
      {{! TODO: add subviews for showing and modifying data }}
      <div class="form-group">
        <label class="control-label"><i class="fa fa-code" aria-hidden="true"></i> Codes<input class="sr-only" disabled></label>

        {{#collection codes class="existing-values"}}
        <span>
          {{codeset}}:
          {{code}}
          {{#button "removeCode" class="btn btn-link close delete"}}&times; <span class="sr-only">Delete</span>{{/button}}
        </span>
        {{/collection}}

        {{view editCodeSelectionView}}
      </div>
      <div class="criteria-delete">
        <div class="pull-right">
          {{#button "showDelete" class="btn btn-danger-inverse criteria-delete-check"}}
            <i class="fa fa-minus-circle" aria-hidden="true"></i>
            <span class="sr-only">show delete</span>
          {{/button}}
          {{#button "removeCriteria" class="btn btn-danger hide"}}Delete{{/button}}
        </div>
      </div>
      <span class="sr-only">{{#button "jumpToSelectCriteria"}}Return to {{type}} Clinical Elements{{/button}}</span>
    </form>
  </div>
</div>
