<div class="row">
  <div class="col-md-3">
    <label class="sr-only" for="codeset_{{@cid}}"> Code Set</label>
    <select id="codeset_{{@cid}}" name="codeset" class="codeset-control">
      <option value="">Code Set</option>
      {{#each codeSets}}
      <option>{{this}}</option>
      {{/each}}
    </select>
    
  </div>

  <div class="col-md-8">
    <label for="code_{{@cid}}" class="sr-only">code value</label>
    <select name="code" id="code_{{@cid}}" class="form-control codelist-control">
      <option value="">--</option>
    </select>
  </div>

  <div class="col-md-1">
    {{#button "addCode" class="btn btn-primary pull-right" disabled="disabled"}}
      <i class="fa fa-plus"></i>
      <span class="sr-only">add code</span>
    {{/button}}
  </div>
</div>
