<div class="expected-values">
  <h2>EXPECTED VALUE</h2>
  <form class="form-inline" role="form">
    {{#each currentCriteria}}
      {{#ifCond key "==" "OBSERV"}}
        <div class="checkbox {{#if @index}}checkbox-divider{{/if}}">
          <label class="checkbox-population {{cid}}">
            {{displayName}} <input class="checkbox-number" type="number" id="{{key}}" value="{{value}}">
          </label>
        </div>
      {{else}}
        {{#if isEoC}}
          <div class="checkbox {{#if @index}}checkbox-divider{{/if}}">
            <label class="checkbox-population {{cid}}">
              <input class="checkbox-number" type="number" id="{{key}}" value="{{value}}"> {{displayName}}
            </label>
          </div>
        {{else}}
          <div class="checkbox {{#if @index}}checkbox-divider{{/if}}">
            <label class="checkbox-population {{cid}}">
              <input type="checkbox" id="{{key}}" {{#if value}}checked="checked"{{/if}}> {{displayName}}
            </label>
          </div>
        {{/if}}
      {{/ifCond}}
    {{/each}}
  </form>
</div>