<h3>Expected Value</h3> <button type="button" class="btn btn-default pull-right btn-expected-value" data-toggle="popover" data-placement="left" data-html="true"><i class="fa fa-plus"></i></button>
<script type="text/x-handlebars" class="popover-tmpl">
  <div class="form-inline tab-pane">
    <ul class="list-group">
    {{#each currentCriteria}}
      <li class="list-group-item">
        {{#ifCond key "==" "OBSERV"}}
          <div class="form-group">
            <label for="{{key}}_{{@cid}}">{{displayName}}</label>
            {{#button "toggleUnits" class="btn btn-xs btn-default"}}{{../../../OBSERV_UNIT}}{{/button}}
            {{#each ../../OBSERV}}
              <input type="number" id="{{../key}}_{{@index}}" name="{{../key}}" min="0" value="{{this}}">
            {{/each}}
          </div>
        {{else}}
          {{#if isEoC}}
            <div class="form-group">
              <label for="{{key}}_{{@cid}}">{{displayName}}</label>
              <input type="number" id="{{key}}_{{@cid}}" name="{{key}}" min="0">
            </div>
          {{else}}
            {{#ifCond key "==" "MSRPOPL"}}
              <div class="form-group">
                <label for="{{key}}_{{@cid}}">{{displayName}}</label>
                <input type="number" id="{{key}}_{{@cid}}" name="{{key}}" min="0">
              </div>
            {{else}}
              <div class="checkbox">
                <label for="{{key}}_{{@cid}}" class="control-label">
                  <input type="checkbox" id="{{key}}_{{@cid}}" name="{{key}}" class="expected-value-checkbox"> {{displayName}}
                </label>
              </div>
            {{/ifCond}}
          {{/if}}
        {{/ifCond}}
      </li>
    {{/each}}
    </ul>
</div>
</script>
<div class="tab-pane">
  {{#each currentCriteria}}
    {{#ifCond key "==" "OBSERV"}}
      <label>
        {{displayName}}: {{value}} {{../../OBSERV_UNIT}}
        {{!-- <input type="number" name="{{key}}" min="0"> --}}
      </label>
      {{!-- <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">{{../../OBSERV_UNIT}}</button>
      <ul class="dropdown-menu">
        <li>{{#button "setObservMins" tag="a"}}mins{{/button}}</li>
        <li>{{#button "setObservPerc" tag="a"}}%{{/button}}</li>
      </ul> --}}
    {{else}}
      {{#if isEoC}}
        {{!-- <div class="form-group"> --}}
          <label>
             {{!-- <input type="number" name="{{key}}" min="0"> --}}
             {{displayName}}: {{value}}
          </label>
        {{!-- </div> --}}
      {{else}}
        {{#ifCond key "==" "MSRPOPL"}}
          {{!-- <div class="form-group"> --}}
            <label>
               {{!-- <input type="number" name="{{key}}" min="0"> --}}
               {{displayName}}: {{value}}
            </label>
          {{!-- </div> --}}
        {{else}}
          {{!-- <label>
            <input type="checkbox" name="{{key}}">
            {{displayName}}: {{value}}
          </label> --}}
          {{!-- <div class="checkbox"> --}}
            <label for="{{key}}_{{@cid}}" class="control-label">
              <input type="checkbox" id="{{key}}_{{@cid}}" name="{{key}}" class="expected-value-checkbox" disabled> {{displayName}}
            </label>
          {{!-- </div> --}}
        {{/ifCond}}
      {{/if}}
    {{/ifCond}}
  {{/each}}
</div>
{{!-- <div class="form-inline tab-pane">
  {{#each currentCriteria}}
    {{#ifCond key "==" "OBSERV"}}
      <div class="form-group">
        <label for="{{key}}_{{@cid}}">{{displayName}}</label>
        {{#button "toggleUnits" class="btn btn-xs btn-default"}}{{../../../OBSERV_UNIT}}{{/button}}
        {{#each ../../OBSERV}}
          <input type="number" id="{{../key}}_{{@index}}" name="{{../key}}" min="0" value="{{this}}">
        {{/each}}
      </div>
    {{else}}
      {{#if isEoC}}
        <div class="form-group">
          <label for="{{key}}_{{@cid}}">{{displayName}}</label>
          <input type="number" id="{{key}}_{{@cid}}" name="{{key}}" min="0">
        </div>
      {{else}}
        {{#ifCond key "==" "MSRPOPL"}}
          <div class="form-group">
            <label for="{{key}}_{{@cid}}">{{displayName}}</label>
            <input type="number" id="{{key}}_{{@cid}}" name="{{key}}" min="0">
          </div>
        {{else}}
          <label for="{{key}}_{{@cid}}" class="checkbox-inline">{{displayName}}</label>
          <input type="checkbox" id="{{key}}_{{@cid}}" name="{{key}}">
        {{/ifCond}}
      {{/if}}
    {{/ifCond}}
  {{/each}}
</div> --}}
