<h3>Expected Value</h3>
<div class="tab-pane">
  <span class="span-expected-values">
    {{#each parsedValues}}
      {{#ifCond key "==" "OBSERV"}}
        {{#if value}}
          <strong>{{displayName}}</strong>: {{value}}{{../../../OBSERV_UNIT}}
        {{/if}}
      {{else}}
        {{#if value}}
          <strong>{{displayName}}</strong>{{#if ../../../isNumbers}}: {{value}}{{/if}}
        {{/if}}
      {{/ifCond}}
    {{else}}
      None
    {{/each}}
  </span>
</div>
{{#button "togglePopover" class="btn btn-default btn-expected-value ev-" data-toggle="popover" data-placement="bottom" data-html="true"}}<i class="fa fa-pencil" aria-hidden="true"></i>{{/button}}