<h2>Expected Value</h2>
<div class="form-inline tab-pane">
  {{#each currentCriteria}}
    {{#ifCond key "==" "OBSERV"}}
      <div class="form-group">
        <label for="{{key}}_{{@cid}}">{{displayName}}</label>
        {{#button "toggleUnits" class="btn btn-xs btn-default"}}{{../../../OBSERV_UNIT}}{{/button}}
        {{#each ../../OBSERV}}
          <input type="number" id="{{../key}}_{{@index}}" name="{{../key}}" min="0" value="{{this}}">
        {{/each}}
      </div>
    {{else}}
      {{#if isEoC}}
        <div class="form-group">
          <label for="{{key}}_{{@cid}}">{{displayName}}</label>
          <input type="number" id="{{key}}_{{@cid}}" name="{{key}}" min="0">
        </div>
      {{else}}
        {{#ifCond key "==" "MSRPOPL"}}
          <div class="form-group">
            <label for="{{key}}_{{@cid}}">{{displayName}}</label>
            <input type="number" id="{{key}}_{{@cid}}" name="{{key}}" min="0">
          </div>
        {{else}}
          <label for="{{key}}_{{@cid}}" class="checkbox-inline">{{displayName}}</label>
          <input type="checkbox" id="{{key}}_{{@cid}}" name="{{key}}">
        {{/ifCond}}
      {{/if}}
    {{/ifCond}}
  {{/each}}
</div>
