<div class="form-inline tab-pane">
  <fieldset>
    <legend>Expected Value</legend>
    {{#each currentCriteria}}
      {{#ifCond key "==" "OBSERV"}}
        {{#if isRatio}}
        {{else}}
          <div class="form-group">
              <label for="{{../key}}_{{@index}}" class="checkbox-inline">{{displayName}}</label>
              {{#each ../../../OBSERV}}
              <input type="number" id="{{../key}}_{{@index}}" name="{{../key}}" min="0" value="{{this}}">
            {{/each}}
          </div>
        {{/if}}
      {{else}}
        {{#if isEoC}}
          <div class="form-group">
            <label for="{{key}}_{{@cid}}">{{displayName}}</label>
            <input type="number" id="{{key}}_{{@cid}}" name="{{key}}" min="0">
          </div>
        {{else}}
          <div class="form-group">
            <label for="{{key}}_{{@cid}}" class="checkbox-inline">{{displayName}}</label>
            <input type="checkbox" id="{{key}}_{{@cid}}" name="{{key}}">
          </div>
        {{/if}}
      {{/ifCond}}
    {{/each}}
    <br/>
    {{#each ratioObservations}}
        <div class="form-group">
            <label for="denom_obs_{{this.denom.episodeId}}" class="checkbox-inline">
                Episode {{sum @index 1}}- denom observ
            </label>
            <input type="number"
                   id="denom_obs_{{this.denom.episodeId}}"
                   name="denom_obs_{{this.denom.episodeId}}"
                   min="0" value="{{this.denom.expected}}">
<!--            <i class="fa fa-info-circle fa-lg default" aria-hidden="true" title="Actual: {{this.denom.actual}}"></i>-->
        </div>
        <div class="form-group">
            <label for="numer_obs_{{this.numer.episodeId}}" class="checkbox-inline">
                Episode {{sum @index 1}}- numer observ
            </label>
            <input type="number"
                   id="numer_obs_{{this.numer.episodeId}}"
                   name="numer_obs_{{this.numer.episodeId}}"
                   min="0" value="{{this.numer.expected}}">
<!--            <i class="fa fa-info-circle fa-lg default" aria-hidden="true" title="Actual: {{this.numer.actual}}"></i>-->
        </div>
    {{/each}}
  </fieldset>
</div>
