{{#if hasMultipleTabs}}
  <div class="sub-measure-tabs">
    <!-- Population titles or sub_ids -->
    {{#collection populations tag="ul" class="nav nav-tabs"}}
      <li{{#ifCond sub_id '==' 'a'}} class="active"{{/ifCond}}>
        <a href="#expected-{{sub_id}}" data-toggle="tab">
          {{#if title}}
            {{title}}
          {{else}}
            {{sub_id}}
          {{/if}}
        </a>
      </li>
    {{/collection}}
  </div>
{{/if}}

<!-- Expected values per population sub_ids -->
<h2 for="fname">EXPECTED VALUE</h2>
{{#collection populations tag="div" class="tab-content expected-value"}}
  <div class="tab-pane{{#ifCond sub_id '==' 'a'}} active{{/ifCond}}" id="expected-{{sub_id}}">
    {{view "ExpectedValueView" population=this model=../model editFlag=../edit criteria=../popCriteria modelValues=../values measure=../measure}}
  </div>
{{/collection}}