<div class="form-inline tab-pane">
  <fieldset>
    <legend>Expected Value</legend>
    {{#each currentCriteria}}
      {{#ifCond key "==" "OBSERV"}}
        {{#if isRatio}}
        {{else}}
          <div class="form-group">
            <label for="{{key}}_{{@cid}}" class="checkbox-inline">{{displayName}}</label>
            {{#each ../../../OBSERV}}
              <input type="number" id="{{../key}}_{{@index}}" name="{{../key}}" min="0" value="{{this}}">
            {{/each}}
          </div>
        {{/if}}
      {{else}}
        {{#if isEoC}}
          <div class="form-group">
            <label for="{{key}}_{{@cid}}">{{displayName}}</label>
            <input type="number" id="{{key}}_{{@cid}}" name="{{key}}" min="0">
          </div>
        {{else}}
          <div class="form-group">
            <label for="{{key}}_{{@cid}}" class="checkbox-inline">{{displayName}}</label>
            <input type="checkbox" id="{{key}}_{{@cid}}" name="{{key}}">
          </div>
        {{/if}}
      {{/ifCond}}
    {{/each}}
    {{#if isRatio}}
      <br/>
      {{#each DENOM_OBSERV}}
        <div class="form-group">
          <label for="DENOM_OBSERV_{{@index}}">DENOM OBSERV_{{sum @index 1}}</label>
          <input type="number" id="DENOM_OBSERV_{{@index}}" name="DENOMOBS" min="0" value="{{this}}">
        </div>
      {{/each}}
      {{#each NUMER_OBSERV}}
        <div class="form-group">
          <label for="NUMER_OBSERV_{{@index}}">NUMER OBSERV_{{sum @index 1}}</label>
          <input type="number" id="NUMER_OBSERV_{{@index}}" name="NUMEROBS" min="0" value="{{this}}">
        </div>
      {{/each}}
    {{/if}}
  </fieldset>
</div>
