<div class="expected-values">
  <h2>EXPECTED VALUE</h2>
  <form class="form-inline" role="form">
    {{#each currentCriteria}}
      {{#ifCond key "==" "OBSERV"}}
        <div class="checkbox {{#if @index}}checkbox-divider{{/if}}">
          <label class="checkbox-population">
            {{displayName}}
            <input class="checkbox-number" type="number" name="{{key}}">
          </label>
        </div>
      {{else}}
        {{#if isEoC}}
          <div class="checkbox {{#if @index}}checkbox-divider{{/if}}">
            <label class="checkbox-population">
              <input class="checkbox-number" type="number" name="{{key}}">
              {{displayName}}
            </label>
          </div>
        {{else}}
          <div class="checkbox {{#if @index}}checkbox-divider{{/if}}">
            <label class="checkbox-population">
              <input type="checkbox" name="{{key}}">
              <span>{{displayName}}</span>
            </label>
          </div>
        {{/if}}
      {{/ifCond}}
    {{/each}}
  </form>
</div>
