<h2>Expected Value</h2>
<div class="form-inline tab-pane">
  {{#each currentCriteria}}
    {{#ifCond key "==" "OBSERV"}}
      <label>
        {{displayName}}
        <input type="number" name="{{key}}" min="0">
      </label>
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">{{../../OBSERV_UNIT}}</button>
      <ul class="dropdown-menu">
        <li>{{#button "setObservMins" tag="a"}}mins{{/button}}</li>
        <li>{{#button "setObservPerc" tag="a"}}%{{/button}}</li>
      </ul>
    {{else}}
      {{#if isEoC}}
        <div class="form-group">
          <label>
             <input type="number" name="{{key}}" min="0">
             {{displayName}}
          </label>
        </div>
      {{else}}
        {{#ifCond key "==" "MSRPOPL"}}
          <div class="form-group">
            <label>
               <input type="number" name="{{key}}" min="0">
               {{displayName}}
            </label>
          </div>
        {{else}}
          <label class="checkbox-inline">
            <input type="checkbox" name="{{key}}">
            {{displayName}}
          </label>
        {{/ifCond}}
      {{/if}}
    {{/ifCond}}
  {{/each}}
</div>
