<div class="row">
  <div class="col-xs-3">
    Measure details: {{measure.id}}
    {{#each measure.dataCriteria.categories}}
      <p>
        <b>{{@key}}</b><br>
        {{#collection this}}
          <div class="draggable">{{title}}</div>
        {{/collection}}
      </p>
    {{/each}}
  </div>
  <form class="col-xs-9 form-horizontal">
    <div class="form-group">
      <label for="first" class="col-xs-2 control-label">First name</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" id="first" placeholder="First name" value="{{first}}">
      </div>
    </div>
    <div class="form-group">
      <label for="last" class="col-xs-2 control-label">Last name</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" id="last" placeholder="Last name" value="{{last}}">
      </div>
    </div>
    {{#collection source_data_criteria class="droppable well"}}
      {{title}}, {{type}}
    {{/collection}}
  </form>
</div>
