
<div class="row">
  <div class="col-md-6">
    {{#if fromPatientBuilder}}
      <h2>After Most Recent Upload</h2>
    {{else}}
      <h2>Before the Measure Upload</h2>
    {{/if}}
    {{#if preUploadResultsSizeTooBig}}
      <br><br>
      <h3>The selected data are too large.</h3>
    {{else}}
      {{view populationLogicViewBefore}}
    {{/if}}
  </div>
  
  <div class="col-md-6">
    {{#if fromPatientBuilder}}
      <h2>Current State</h2>
    {{else}}
      <h2>After the Measure Upload</h2>
    {{/if}}
    {{#if populationPresentAfterUpload}}
      {{view populationLogicViewAfter}}
    {{else}}
      <br><br>
      <h3>The results of the selected population of the measure are too large to be stored in the database.</h3>
    {{/if}}
  </div>
</div>
