<div {{#if errorWithDates}} class="fail" {{/if}}>
  {{#if importantDate}}
    <b><i class="{{faIcon}}"></i>{{patientAge}}</b>
  {{else}}
      <i class="{{faIcon}}"></i>{{patientAge}}
  {{/if}}
</div>
