{{#ifPortfolio}}
<div class="row">
  <div class="col-md-10 col-md-offset-2">
    {{view measureRibbon}}
  </div>
</div>
{{/ifPortfolio}}

<div class="row">
  <div class="col-md-2">
    <h1>Test Patient</h1>
  </div>

  <div class="col-md-6">
    <div class="timeline-icon pull-left"><i class="fa fa-user fa-fw fa-3x" aria-hidden="true"></i></div>
    <div class="validation-alerts"><div class="alert alert-danger hidden"></div></div>
  </div>

  <div class="col-md-4">
    <div class="pull-right">
      {{#button "cancel" class="btn btn-default"}}CANCEL{{/button}}
      {{#button "save" class="btn btn-primary" data-saving-text="SAVING..."}}SAVE{{/button}}
    </div>
  </div>
</div>

<div class="row">
  <form class="col-left" role="form">
    <div class="form-group">
      <label for="last" class="control-label">Last Name</label>
      <input type="text" id="last" name="last" class="form-control" placeholder="Smith">
    </div>

    <div class="form-group">
      <label for="first" class="control-label">First Name</label>
      <input type="text" id="first" name="first" class="form-control" placeholder="John">
    </div>
  </form>

  <div class="col-center">
    <form class="row form-data" role="form">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="notes" class="control-label">Patient Description</label>
          <textarea id="notes" name="notes"class="form-control" placeholder="Patient is..." rows="2" maxlength="250"></textarea>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="birthdate" class="control-label">Date of Birth</label>
          <div class="datetime-control">
            <div>
              <input type="text" id="birthdate" name="birthdate" class="date-picker form-control" placeholder="mm/dd/yyyy" title="month/day/year" data-date-format="mm/dd/yyyy" data-date-keyboard-navigation="false" data-date-autoclose="true">
            </div>
            <div>
              <label for="birthtime" class="sr-only">Time of Birth</label>
              <input type="text" id="birthtime" name="birthtime" class="time-picker form-control" placeholder="--:-- --" data-show-inputs="false" data-default-time="8:00 AM">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="race" class="control-label">Race</label>
          <select id="race" name="race" class="form-control">
            <option value="1002-5">American Indian or Alaska Native</option>
            <option value="2028-9">Asian</option>
            <option value="2054-5">Black or African American</option>
            <option value="2076-8">Native Hawaiian or Other Pacific Islander</option>
            <option value="2106-3">White</option>
            <option value="2131-1">Other</option>
          </select>
        </div>

        <div class="form-group">
          <label for="ethnicity" class="control-label">Ethnicity</label>
          <select id="ethnicity" name="ethnicity" class="form-control">
            <option value="2186-5">Not Hispanic or Latino</option>
            <option value="2135-2">Hispanic Or Latino</option>
          </select>
        </div>
      </div>

      <div class="col-sm-6">

        <div class="form-group">
          <label for="{{#if expired}}deathdate{{else}}expired{{/if}}" class="control-label">{{#if expired}}Date of Death{{else}}Living Status{{/if}}</label>
          {{#if expired}}
            {{#button "removeDeathDate" class="btn btn-link remove-death-date"}}
              <i class="fa fa-times-circle" aria-hidden="true"></i>
              <span class="sr-only">remove date of death</span>
            {{/button}}
            <div class="datetime-control">
              <div>
                <input type="text" id="deathdate" name="deathdate" class="date-picker form-control" placeholder="mm/dd/yyyy" title="month/date/year" data-date-format="mm/dd/yyyy" data-date-keyboard-navigation="false" data-date-autoclose="true">
              </div>
              <div>
                <label for="deathtime" class="sr-only">Time of Death</label>
                <input type="text" id="deathtime" name="deathtime" class="time-picker form-control" placeholder="--:-- --" data-show-inputs="false" data-default-time="8:00 AM">
              </div>
            </div>
          {{else}}
            <div class="checkbox deceased-checkbox">
              <label class="control-label">
                <input type="checkbox" id="expired" name="expired"> Deceased
              </label>
            </div>
          {{/if}}
        </div>

        <div class="form-group">
          <label for="gender" class="control-label">Gender</label>
          <select id="gender" name="gender" class="form-control">
            <option value="M">Male</option>
            <option value="F">Female</option>
          </select>
        </div>

        <div class="form-group">
          <label for="payer" class="control-label">Payer</label>
          <select id="payer" name="payer" class="form-control">
            <option value="MA">Medicare</option>
            <option value="MC">Medicaid</option>
            <option value="OT">Other</option>
          </select>
        </div>
      </div>
    </form>
  </div>


  <div class="col-right expected-values">
    <h2>{{measureTitle}}</h2>
    <div class="description">{{measureDescription}}</div>
    <div class="expand closed pull-right">Show more <i class="fa fa-caret-down"></i></div>
    {{view expectedValuesView}}
  </div>
</div>

<div class="row">
  <div class="col-left measure-data-container">
    <div class="panel-group" id="criteriaElements">
      <h1 class="heading-muted">Elements</h1>
      <div class="scrolling">
      {{#each dataCriteriaCategories}}
        {{view "SelectCriteriaView" title=type collection=criteria}}
      {{/each}}
      </div>
    </div>
  </div>
  <div class="col-center criteria-container droppable">
    <h1 class="heading-primary">Patient History</h1>
    {{view editCriteriaCollectionView}}
  </div>
  {{#button "cancel" class="sr-only"}}CANCEL{{/button}}
  {{#button "save" class="sr-only"}}SAVE{{/button}}


  <div class="col-right">
    <div id="populationLogic">
    {{view populationLogicView}}
    </div>
  </div>

</div>
