<div class="left-sidebar-builder">
  <h1>Test Patient</h1>
  <div class="panel-group">
    <form role="form">
      <div class="form-group">
        <label for="last">LAST NAME</label>
        <input type="text" name="last" class="form-control" placeholder="Last name">
      </div>
      <div class="form-group">
        <label for="first">FIRST NAME</label>
        <input type="text" name="first" class="form-control" placeholder="First name">
      </div>
    </form>
    <div class="panel-heading">Elements</div>
    <div class="panel-listing" id="criteriaElements">
      {{#each dataCriteriaCategories}}
        {{view "SelectCriteriaView" title=@key collection=this}}
      {{/each}}
    </div>
  </div>
</div>
<div class="main-builder">
  <div class="pull-right">
    {{#button "cancel" class="btn btn-default"}}CANCEL{{/button}}
    {{#button "save" class="btn btn-primary" data-saving-text="SAVING..."}}SAVE{{/button}}
  </div>
  <h1 class="main-head"><i class="fa fa-user"></i></h1>
  <div id="time-bar"></div>
  <div class="demo">  
    <div class="first">
      <form role="form">
        <div class="form-group">
          <label for="payer">PAYER</label>
          <select name="payer" class="form-control">
            <option value="MA">Medicare</option>
            <option value="MC">Medicaid</option>
            <option value="OT">Other</option>
          </select>
        </div>
        <div class="form-group">
          <label for="birthdate">DOB</label>
          <input type="text" name="birthdate" class="form-control" placeholder="xx/xx/xxxx xx:xx">
        </div>
        <div class="form-group">
          <label for="race">RACE</label>
          <select name="race" class="form-control">
            <option value="1002-5">American Indian or Alaska Native</option>
            <option value="2028-9">Asian</option>
            <option value="2054-5">Black or African American</option>
            <option value="2076-8">Native Hawaiian or Other Pacific Islander</option>
            <option value="2106-3">White</option>
            <option value="2131-1">Other</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-2">
      <form role="form col-md-2">
        <div class="form-group">
          <label for="gender">GENDER</label>
          <select name="gender" class="form-control">
            <option value="M">Male</option>
            <option value="F">Female</option>
          <select>
        </div>
        <div class="form-group">
          <label for="expired">LIVING STATUS</label>
          <select name="expired" class="form-control">
            <option value="false">Alive</option>
            <option value="true">Deceased</option>
          </select>
        </div>
        <div class="form-group">
          <label for="ethnicity">ETHNICITY</label>
          <select name="ethnicity" class="form-control">
            <option value="2186-5">Not Hispanic or Latino</option>
            <option value="2135-2">Hispanic Or Latino</option>
          </select>
        </div>
      </form>
    </div>
    <div class="measure-expected col-md-7">
      <h2>MEASURE ASSOCIATED</h2>
      <div class="measure-name">
        <div class="col-md-4">{{measureTitle}}:</div>
        <div class="col-md-8">{{measureDescription}}</div>
      </div>
      {{view expectedValuesView}}
    </div>
  </div>
  <div class="time-line">
    <div class="timeline-title">Patient History Relative to Measures</div>
  </div>
  <div class="record">
    {{view editCriteriaCollectionView}}
  </div>
  <div class="measure-view-side">
    <div class="measure-title">
      {{view populationLogicView}}
    </div>
  </div>
</div>
