
<div class="row">
  <div class="col-md-6">
    {{#if fromPatientBuilder}}
      <h2>After Most Recent Upload</h2>
    {{else}}
      <h2>Before the Measure Upload</h2>
    {{/if}}
    {{#if populationPresentBeforeUpload}}
      {{view populationLogicViewBefore}}
    {{else}}
      <br><br>
      {{#if beforeTooBig}}
        <h3>The selected data are too large.</h3>
      {{else}}
        <h3>The data for the selected population does not exist in the prior version of the measure.</h3>
      {{/if}}
    {{/if}}
  </div>
  
  <div class="col-md-6">
    {{#if fromPatientBuilder}}
      <h2>Current State</h2>
    {{else}}
      <h2>After the Measure Upload</h2>
    {{/if}}
    {{#if populationPresentAfterUpload}}
      {{view populationLogicViewAfter}}
    {{else}}
      <br><br>
      <h3>The selected population of the measure is too large.</h3>
    {{/if}}
  </div>
</div>
