<div class="panel">
  <a class="panel-title collapsed {{title}}-elements" data-toggle="collapse" data-parent="#criteriaElements" href="#collapse-{{cid}}">
    <i class="fa fa-angle-right fa-2x panel-expander" aria-hidden="true"></i>
    <i class="fa {{faIcon}} fa-3x panel-icon" aria-hidden="true"></i>
    <span class="element-title">{{title}}</span>
  </a>

  <div id="collapse-{{cid}}" class="collapse">
    {{#collection item-view="SelectCriteriaItemView"}}
      <div class="draggable">
        <div class="pull-right" style="margin: 0 0 3px 3px"><i class="fa fa-arrows" aria-hidden="true"></i></div>
        <strong class="ui-draggable"><span class="criteriatype">{{type}}</span> {{detail}}</strong>
        <span class="sr-only">{{#button "addCriteriaToPatient"}}{{description}}; add criteria to patient{{/button}}</span>
      </div>
    {{/collection}}
  </div>
</div>
