<tr>
  <td><%= link_to patient.id, patient_path(patient) %></td>
  <td><%= patient.first %></td>
  <td><%= patient.last %></td>
  <td><%= patient.gender %></td>
  <td><%= patient.ethnicity["name"] %></td>
  <td><%= patient.race["name"] %></td>
  <td><%= patient.insurance_providers.name %></td>
  <td><%= (patient.expired)?("Y"):("N") %></td>
  <td><%= patient.birthdate %></td>
  <td><%= ('a'..'z').to_a.shuffle[0,8].join.humanize %></td>
  <td><%= link_to "View", patient_path(patient) %> | <%= link_to "Edit", edit_patient_path(patient) %></td>
</tr>