<h1>
Randomly Generated Test Patient info<%= render 'layouts/dots'%>
</h1>
</br>
<p><strong>ID: </strong><%= @patient.id %></p>
<p><strong>First Name: </strong><%= @patient.first %></p>
<p><strong>Last Name: </strong><%= @patient.last %></p>
<p><strong>Gender: </strong><%= @patient.gender %></p>
<p><strong>Ethnicity: </strong><%= (@patient.ethnicity["name"].nil?) ? (PatientsController::ETHNICITY_NAME_MAP[@patient.ethnicity["code"]]) : (@patient.ethnicity["name"]) %></p>
<p><strong>Race: </strong><%= (@patient.race["name"].nil?) ? (PatientsController::RACE_NAME_MAP[@patient.race["code"]]) : (@patient.race["name"]) %></p>
<p><strong>Payer: </strong><%= @patient.insurance_providers.name %></p>
<p><strong>Expired: </strong><%= (@patient.expired)?("Y"):("N") %></p>
<p><strong>Birthdate: </strong><%= Time.at(@patient.birthdate).strftime("%m/%d/%Y") if @patient.birthdate? %></p>
<p><strong>Clinical Attributes: </strong><%= ('a'..'z').to_a.shuffle[0,8].join.humanize %></p>
<br/>
<% if @patient.save! %>
	<% flash.now[:success] = "Test patient created and saved!" %>
<% else %>
	<% flash.now[:error] = "Failed to save test patient!" %>
<% end %> 