<h1>
Patient Builder (View)<%= render 'layouts/dots'%>
</h1>
</br>
<p><strong>ID: </strong><%= rand(5..13371337) %></p>
<p><strong>First Name: </strong><%= ('a'..'z').to_a.shuffle[0,8].join.humanize %></p>
<p><strong>Last Name: </strong><%= ('a'..'z').to_a.shuffle[0,8].join.humanize %></p>
<p><strong>Gender: </strong><%= (Random.rand(1..100) % 2 == 0)?("M"):("F") %></p>
<p><strong>Ethnicity: </strong><%= ('a'..'z').to_a.shuffle[0,8].join.humanize %></p>
<p><strong>Race: </strong><%= ('a'..'z').to_a.shuffle[0,8].join.humanize %></p>
<p><strong>Payer: </strong><%= ('a'..'z').to_a.shuffle[0,8].join.humanize %></p>
<p><strong>Expired: </strong><%= (Random.rand(1..100) % 9 == 0)?("Y"):("N") %></p>
<p><strong>Birthdate: </strong><%= rand(10.years).ago %></p>
<p><strong>Clinical Attributes: </strong><%= ('a'..'z').to_a.shuffle[0,8].join.humanize %></p>
</br>
<%= link_to "View Associated Measures...", measures_path %>