<div class="login">
  <header>
    <h1>Bonnie</h1>
    <h2>A Testing Tool for eCQMs</h2>
    <%= content_tag(:div, flash[:error], id: "flash_error", class: "alert alert-error") if flash[:error] %>
    <%= content_tag(:div, flash[:notice], id: "flash_notice", class: "alert alert-info") if flash[:notice] %>
    <%= content_tag(:div, flash[:alert], id: "flash_alert", class: "alert alert-warning") if flash[:alert] %>
  </header>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:name=>"login_form"}) do |f| %>
    <div class="form-group input-group input-group-lg required">
      <span class="input-group-addon"><i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i></span>
      <label for="user_email" class="sr-only">Email </label>
      <%= f.email_field :email, class: "form-control", placeholder: "email@example.com", required: true, 'aria-required': true %>
    </div>
    <div class="form-group input-group input-group-lg required">
      <span class="input-group-addon"><i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i></span>
      <label for="user_password" class="sr-only">Password </label>
      <%= f.password_field :password, class: "form-control", placeholder: "password", required: true, 'aria-required': true %>
    </div>

    <% if resource.errors.present? %>
    <div class="alert alert-danger">
      <%= devise_error_messages! %>
    </div>
    <% end %>
    <!-- <a class="btn btn-primary form-control btn-lg">Login</a> -->
    <%= f.submit "Login", class: "btn btn-login" %>

    <%= render :partial => "devise/shared/links" %>
  <% end %>

</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'layouts/qdm_banner' %>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div class="hhs-warning">
      This warning banner provides privacy and security notices consistent with applicable federal laws, directives, and other federal guidance for accessing this Government system, which includes all devices/storage media attached to this system. This system is provided for Government-authorized use only. Unauthorized or improper use of this system is prohibited and may result in disciplinary action and/or civil and criminal penalties. At any time, and for any lawful Government purpose, the government may monitor, record, and audit your system usage and/or intercept, search and seize any communication or data transiting or stored on this system. Therefore, you have no reasonable expectation of privacy. Any communication or data transiting or stored on this system may be disclosed or used for any lawful Government purpose.
    </div>
  </div>
</div>
