{{! TODO: Remove this outdated message once CQL settles for production. Currently needed because the volatile annotation structure. }}
{{#if hasCqlErrors}}
<p>
  <div class="alert alert-danger">
    <Strong>CQL Error!</strong> This measure appears to have errors in its CQL.  Please re-package and re-export the measure from the MAT.
  </div>
</p>
{{/if}}
{{#if isOutdatedUpload}}
<p>
  <div class="alert alert-warning">
    <strong>Outdated Measure!</strong> This measure appears to be uploaded with an earlier version of Bonnie Alpha. This view may not function properly until the measure is reuploaded.
  </div>
</p>
{{/if}}
{{#if hasOutdatedQDM}}
    <p>
    <div class="alert alert-warning">
        <strong>Outdated Measure!</strong> This measure was written using an outdated version of QDM. Please re-package and re-export the measure from the MAT.
    </div>
    </p>
{{/if}}


<div class="cql-logic measure-viz rationale panel-group">
  {{#each populationStatementViews}}
    <div>
      {{view this}}
    </div>
  {{/each}}

  {{#if supplementalDataElementViews}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title panel-population panel-supplemental-data-elements">
          <a data-toggle="collapse" href="#collapse{{cid}}-supplemental-data-elements">
            <div>
              <span class="population-label supplemental-data-elements"><b>Supplemental Data Elements: </b><span class="sr-only sr-highlight-status"></span></span>
              <div class="pull-right">
                <i class="fa fa-lg fa-angle-down toggle-icon" aria-hidden="true"></i>
                <span class="sr-only">toggle supplemental data elements</span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div id="collapse{{cid}}-supplemental-data-elements" class="panel-collapse collapse in">
        <div class="panel-body">
          {{#each supplementalDataElementViews}}
            <div>
              {{view this}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}

  {{#if defineStatementViews}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title panel-population panel-defines">
          <a data-toggle="collapse" href="#collapse{{cid}}-defines">
            <div>
              <span class="population-label defines"><b>Definitions: </b><span class="sr-only sr-highlight-status"></span></span>
              <div class="pull-right">
                <i class="fa fa-lg fa-angle-down toggle-icon" aria-hidden="true"></i>
                <span class="sr-only">toggle define statements</span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div id="collapse{{cid}}-defines" class="panel-collapse collapse in">
        <div class="panel-body">
          {{#each defineStatementViews}}
            <div>
              {{view this}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}

  {{#if functionStatementViews}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="h4-style panel-title panel-population panel-functions">
          <a data-toggle="collapse" href="#collapse{{cid}}-functions">
            <div>
              <span class="population-label functions"><b>Functions: </b><span class="sr-only sr-highlight-status"></span></span>
              <div class="pull-right">
                <i class="fa fa-lg fa-angle-down toggle-icon" aria-hidden="true"></i>
                <span class="sr-only">toggle functions</span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div id="collapse{{cid}}-functions" class="panel-collapse collapse in">
        <div class="panel-body">
          {{#each functionStatementViews}}
            <div>
              {{view this}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}

  {{#if unusedStatementViews}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="h4-style panel-title panel-population panel-unused-defines">
          <a data-toggle="collapse" href="#collapse{{cid}}-unused-defines">
            <div>
              <span class="population-label unused-defines"><b>Unused Definitions: </b><span class="sr-only sr-highlight-status"></span></span>
              <div class="pull-right">
                <i class="fa fa-lg fa-angle-right toggle-icon" aria-hidden="true"></i>
                <span class="sr-only">toggle unused define statements</span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div id="collapse{{cid}}-unused-defines" class="panel-collapse collapse">
        <div class="panel-body">
          {{#each unusedStatementViews}}
            <div>
              {{view this}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}
</div>
