<div class="measure-viz rationale panel-group">

</br><b><center>CQL Calculation Results:</center></b>
  <p>
    {{#each results}}
      <span class="control-label">{{@key}}</span>
      <span class="default" aria-hidden="true" id="{{@key}}_val" name="{{@key}}_val">{{this}}</span>,
    {{/each}}
  </p>
  </br>

  {{view cqlLogicView}}

</div>
