{{#unless expandVariable}}
  <span class="{{#if ../isSetOp}}{{#unless ../../dataCriteria.variable}}set-op-group{{/unless}}{{/if}} {{dataCriteria.key}} rationale-target{{#ifCond dataCriteria.type '!=' 'derived'}} highlight-target{{/ifCond}}">
{{/unless}}

{{#each dataCriteria.subset_operators}}
  {{view "SubsetOperatorLogic" subsetOperator=this tag="span"}}
{{/each}}
{{#if hasChildren}}
  {{#if isSatisfies}}
    {{view "SatisfiesLogic" reference=dataCriteria.key measure=../measure tag="span"}}
  {{else}}
    {{#if dataCriteria.children_criteria}}
      {{#if isSetOp}}
        {{#unless expandVariable}}
          <ul><li><span class="set-op {{dataCriteria.key}} rationale-target"> {{translate_set_operator dataCriteria.derivation_operator}}:</span></li>
        {{/unless}}
      {{/if}}
      <ul>
        {{#each dataCriteria.children_criteria}}
          <li{{#if ../isSetOp}}{{#unless ../../expandVariable}} class="set-op-item"{{/unless}}{{/if}}>
            {{#unless ../isSetOp}}
              <span class="conjunction {{../../dataCriteria.key}} rationale-target">{{translate_logic_operator ../../dataCriteria.derivation_operator}} : <span class="sr-only sr-highlight-status"></span></span>
            {{/unless}}
            {{view "DataCriteriaLogic" reference=this measure=../measure tag="span"}}
          </li>
        {{/each}}
        {{#if dataCriteria.temporal_references}}
          {{#each dataCriteria.temporal_references}}
            <li>
              <span class="{{../dataCriteria.key}} rationale-target">
                {{view "TemporalReferenceLogic" temporalReference=this measure=../measure tag="span"}}
              </span>
            </li>
          {{/each}}
        {{/if}}
      </ul>
      {{#if isSetOp}}
        {{#unless expandVariable}}
          </ul>
        {{/unless}}
      {{/if}}
    {{/if}}
  {{/if}}
{{else}}
  <span class="criteria-title">
    {{#unless hideTitle}}
      {{#if dataCriteria.specific_occurrence}}Occurrence {{dataCriteria.specific_occurrence}}: {{/if}}{{#if dataCriteria.variable}}${{/if}}{{dataCriteria.description}}
    {{/unless}}
    {{#if dataCriteria.value}}
      {{#ifCond dataCriteria.type '!=' 'characteristic' }}
        (result{{view "ValueLogic" value=dataCriteria.value measure=../measure tag="span"}})
      {{/ifCond}}
    {{/if}}
    {{#if dataCriteria.field_values}}
      ({{#each dataCriteria.field_values}}
        {{key_title}}{{#ifCond type '!=' 'ANYNonNull'}}{{view "ValueLogic" value=this measure=../../measure tag="span"}} {{/ifCond}}
      {{/each}})
    {{/if}}
    {{#if dataCriteria.negation}}
      (Not Done: {{translate_oid dataCriteria.negation_code_list_id}})
    {{/if}}
    <span class="sr-only sr-highlight-status"></span>
  </span>
  {{#if dataCriteria.temporal_references}}
    {{#ifCond dataCriteria.temporal_references.length '>' 1}}
      <ul class="multi-statement">
      {{#each dataCriteria.temporal_references}}
        <li>{{view "TemporalReferenceLogic" temporalReference=this measure=../measure tag="span"}}</li>
      {{/each}}
      </ul>
    {{else}}
      {{#each dataCriteria.temporal_references}}
        {{view "TemporalReferenceLogic" temporalReference=this measure=../measure tag="span"}}
      {{/each}}
    {{/ifCond}}
  {{/if}}
{{/if}}

{{#unless expandVariable}}
  </span>
{{/unless}}
