<div class="panel panel-default {{population.type}}_children">
  <div class="panel-heading">
    <h4 class="panel-title panel-population">
      <a data-toggle="collapse" href="#collapse{{cid}}">
        <div>
          <span class="population-label {{population.type}} rationale-target"><b>{{translate_population population.type}}: </b><span class="sr-only sr-highlight-status"></span></span>
          <div class="pull-right">
            {{#if exceedsComplexityThreshold}}
              <i class="fa fa-lg fa-angle-right toggle-icon" aria-hidden="true"></i>
            {{else}}
              <i class="fa fa-lg fa-angle-down toggle-icon" aria-hidden="true"></i>
            {{/if}}
            <span class="sr-only">toggle {{translate_population population.type}}</span>
          </div>
        </div>
      </a>
    </h4>
  </div>
  <div id="collapse{{cid}}" class="panel-collapse collapse{{#unless exceedsComplexityThreshold}} in{{/unless}}">
    <div class="panel-body">
    {{#if deferRender}}
      <img src="/assets/loading.gif"></img>
    {{else}}
      {{#if comments}}{{#each comments}}<div class="logic-comment"># {{this}}</div>{{/each}}{{/if}}
      {{#if rootPreconditon}}
        {{#if rootPreconditon.preconditions }}
          {{#each rootPreconditon.preconditions}}
            {{view "PreconditionLogic" precondition=this parentPrecondition=../rootPreconditon parentNegation=../rootPreconditon.negation measure=../measure}}
          {{/each}}
        {{else}}
          <ul>
            <li>
              {{#if aggregator}}{{translate_aggregator aggregator}}: {{/if}} {{view "DataCriteriaLogic" reference=rootPreconditon.reference measure=../measure tag="span"}}
            </li>
          </ul>
        {{/if}}
      {{else}}
        None
      {{/if}}
    {{/if}}
    </div>
  </div>
</div>
