
<div class="{{population.type}}_children">
  <div><span class="{{population.type}} rationale_target"><b>{{translate_population population.type}}: 
</b>{{#unless rootPreconditon}}None{{/unless}}</span></div>
  <div>
    {{#if rootPreconditon}}
      {{#if rootPreconditon.preconditions }}
       {{#each rootPreconditon.preconditions}}
        {{view "PreconditionLogic" precondition=this parentPrecondition=../rootPreconditon measure=../measure}}
      {{/each}}
      {{else}}
        <ul>
          <li>
            {{#if aggregator}}{{translate_aggregator aggregator}}: {{/if}} {{view "DataCriteriaLogic" reference=rootPreconditon.reference measure=../measure tag="span"}}
          </li>
        </ul>
      {{/if}}
    {{/if}}
  </div>
</div>
