<ul id="precondition_{{precondition.id}}">
  <li>
    {{#if comments}}{{#each comments}}<div class="logic-comment"># {{this}}</div>{{/each}}{{/if}}
    <span class="conjunction {{parentPreconditionKey}} rationale-target">
      {{translate_conjunction parentPrecondition.conjunction_code}}
      {{#if negation}} NOT{{/if}}: 
      <span class="sr-only sr-highlight-status"></span>
    </span>
    {{#if precondition.preconditions }}
        {{#each precondition.preconditions}}
          {{view "PreconditionLogic" precondition=this parentPrecondition=../precondition measure=../measure}}
        {{/each}}
    {{else}}
      {{view "DataCriteriaLogic" reference=precondition.reference measure=../measure negatedParent=../parentPrecondition.negation tag="span"}}
    {{/if}}
  </li>
</ul>
