{{#link "measures" class="btn btn-primary"}}Measures Listing{{/link}}
<table class="table table-condensed table-bordered">
  <tr>
    <th></th>
    {{#each measureIds}}
      <th>{{this}}</th>
    {{/each}}
  </tr>
  {{#collection patients tag="tbody"}}
    <tr>
      <td>{{last}}, {{first}}</td>
      {{#each results}}
        <td>{{this}}</td>
      {{else}}
        {{#each ../../measureIds}}
          <td></td>
        {{/each}}
      {{/each}}
    </tr>
  {{/collection}}
</table>
