 <div class="main">
  <div class="measure-title">
    <div class="short-title"><i class="fa fa-tasks"></i> {{measure_id}}:</div>
    {{title}}
  </div>
  <div class="measure-dsp">
    <div class="measure-dsp-title">Description: <a class="settings-btn" data-toggle="popover" id="settings" rel="popover" data-placement="bottom"><i class="fa fa-cog"></i></a></div>
    <p>{{description}}</p>
    {{#button "updateMeasure" class="btn btn-primary"}}Update{{/button}}
    {{#link "" id="deleteMeasure" class="btn btn-danger"}}Delete{{/link}}
  </div>

  {{#collection populations tag="ul" class="nav nav-tabs"}}
    <li><a href="">{{title}}</a></li>
  {{/collection}}
  
  <div class="measure-viz">
    {{view logicView}}
  </div>
</div>

<div class="right-sidebar">
  <div class="title-bar">Test Patients</div>
  {{view measureCalculation}}
</div>

{{view updateMeasureView}}
