 <div class="main col-sm-8">
  <div class="measure-title">
    <div class="short-title"><i class="fa fa-tasks" aria-hidden="true"></i> {{cms_id}}: </div>
    <div class="full-title">{{title}}</div>
    <span class="settings-container">
      <div class="measure-settings">
        {{#button "updateMeasure" class="btn btn-default update-measure"}}<i class="fa fa-upload" aria-hidden="true"></i> Update{{/button}}
        {{#button "deleteMeasure" class="btn btn-danger delete-measure hide"}}<i class="fa fa-times" aria-hidden="true"></i> Delete{{/button}}
        {{#button "showDelete" class="btn btn-danger-inverse delete-icon"}}<i class="fa fa-minus-circle" aria-hidden="true"></i> <span class="sr-only">Show Delete</span>{{/button}}
      </div>
      {{#button "measureSettings" tag="a" class="btn-settings" href=""}}<i class="fa fa-cog" aria-hidden="true"></i> <span class="sr-only">Measure Settings</span>{{/button}}
    </span>
  </div>
  <div class="measure-dsp">
    {{#if episode_of_care}}
      <div class="measure-dsp-title">
        Episode(s) of Care:
      </div>
        {{#each episodesOfCare tag="ul"}}
          {{#with attributes}}
            <li>{{description}}</li>
          {{/with}}
        {{/each}}
      <p></p>
    {{/if}}
    <div class="measure-dsp-title">
      Description:
    </div>
    <p>{{description}}</p>
    {{#ifAdmin}}
      <a href="/measures/{{_id}}/debug" class="btn btn-danger">Debug</a>
    {{/ifAdmin}}
  </div>

  {{view logicView}}
</div>

<div class="right-sidebar">
  <div class="patients-title">
    <span class="short-title pull-left"><i class="fa fa-user fa-fw" aria-hidden="true"></i>Test Patients</span>
    <span class="settings-container">
      <div class="patients-settings">
        {{#button "exportPatients" class="btn btn-default export-patients"}}<i class="fa fa-download" aria-hidden="true"></i> Export{{/button}}
        {{#empty patients}}
          {{#button "toggleMeasureListing" class="btn btn-default btn-measure-listing toggle-measure-listing" disabled="disabled"}}<i class="fa fa-users" aria-hidden="true"></i> <i class="fa fa-arrow-right" aria-hidden="true"></i> <i class="fa fa-tasks" aria-hidden="true"></i><span class="sr-only">Toggle measure listing</span>{{/button}}
        {{else}}
          {{#ifCond measures.length "<=" "1"}}
            {{#button "toggleMeasureListing" class="btn btn-default btn-measure-listing toggle-measure-listing" disabled="disabled"}}<i class="fa fa-users" aria-hidden="true"></i> <i class="fa fa-arrow-right" aria-hidden="true"></i> <i class="fa fa-tasks" aria-hidden="true"></i><span class="sr-only">Toggle measure listing</span>{{/button}}
          {{else}}
            {{#button "toggleMeasureListing" class="btn btn-default btn-measure-listing toggle-measure-listing"}}<i class="fa fa-users" aria-hidden="true"></i> <i class="fa fa-arrow-right" aria-hidden="true"></i> <i class="fa fa-tasks" aria-hidden="true"></i><span class="sr-only">Toggle measure listing</span>{{/button}}
          {{/ifCond}}
        {{/empty}}
      </div>
      {{#button "patientsSettings" tag="a" class="btn-settings" href=""}}<i class="fa fa-cog" aria-hidden="true"></i> <span class="sr-only">Patient Options</span>{{/button}}
    </span>
  </div>
  <span class="patients-listing-header" style="display:none;">Select Patients to Clone:</span>
  {{view populationCalculation}}
</div>

<div class="measure-listing-sidebar" style="display:none;">
  <div class="measures-title">
    <span class="short-title pull-left">Measure Listing</span>
  </div>
  <span class="measure-listing-header">Select Measure:</span>
  <div class="list-group">
    {{#collection measures}}
      {{#ifCond hqmf_set_id "!=" ../hqmf_set_id}}
        <a class="list-group-item measure-listing measure-{{hqmf_set_id}} disabled">
          <div class="row">
            <div class="col-sm-6">
              {{cms_id}}
            </div>
            <div class="col-sm-6">
              {{#button "cloneIntoMeasure" class="btn btn-default btn-clone-patients btn-clone-{{hqmf_set_id}}" style="display: none;" expand-tokens=true}}CLONE{{/button}}
            </div>
          </div>
        </a>
      {{/ifCond}}
    {{/collection}}
  </div>
</div>

<div class="modal fade" id="clonePatientsDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Cloning Patients...</h1>
      </div>
      <div class="modal-body">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-primary clone-patients-progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span class="sr-only">Cloning...</span>
        </div>
      </div>
    </div>
  </div>
</div>
