  {{#if upload_data}}
    {{!The modal displays information for each of the populations in the measure }}
    {{#each summary_of_all_information.number_of_populations}}
      <p>
          <table class="table-striped table-condensed ">
            <tr>
              <th width="1300px" class="centered">
                {{!Displays "Your measure has uploaded successful" if there is only 1 population, otherwise it displays "Population N" (1, 2, 3...etc) }}
                {{#ifCond ../summary_of_all_information.number_of_populations.length ">" "1"}} {{#with (lookup ../../summary_of_all_information.array_of__population_titles @index) }}Population: {{this}} {{/with}}
                {{else}}Your measure has uploaded sucessfully!{{/ifCond}} </th>
              <th width="200px" class="centered">Previous &nbsp;Version</th>
              <th width="150px" class="centered">&ensp;Current &emsp;&nbsp;Version</th>
            </tr>
            <tr>
              {{! Changes the scope to this specific population }}
              {{#with (lookup ../summary_of_all_information.thisPopulation @index)}}
              {{! [2] refers to a hash of calculations about the current measure }}
                <td rowspan="3"> Number of Test Patients who Changed:  {{this.[2].number_of_patients_who_change}}<br><br>
                Total Number of Test Patients: {{this.[2].total_patient_size}}
                </td>
                {{! [0] refers to a hash which stores all the information about the JQuery Knob }}
                <td rowspan="3">{{view "MeasurePercentageView" done=this.[0].before.done percent=this.[0].before.percent status=this.[0].before.status}}</td>
                <td rowspan="3">{{view "MeasurePercentageView" done=this.[0].after.done percent=this.[0].after.percent status=this.[0].after.status}}</td>
              {{/with}}
            </tr>
            
        {{! Will only continue if there are actually patients who change }}
        {{#ifCond ../generalPatientInfo.number_of_patients_who_change '>' 0}}
          <table class="table table-condensed table-striped table-hover">
              <tr>
                <th>Test Patient Name</th>
                <th>Before Status</th>
                <th>After Status</th>
              </tr>
          {{/ifCond}}
            <tr>  
              {{! Changes the scope to this specific population }}
              {{#with (lookup ../summary_of_all_information.thisPopulation @index)}}
              {{! [1] refers to information about each patient who changed within this population }}
                {{#each this.[1]}}
                  <td>
                    {{#ifCond after_status "==" "Fail"}}
                      <i class="fa fa-times" style="color:#a63b12;" aria-hidden="true"></i>&nbsp;
                    {{else}}
                      <i class="fa fa-check" style="color:#20744c;" aria-hidden="true"></i>
                    {{/ifCond}}
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <a class="patient-link" href="/#measures/{{../../../summary_of_all_information.hqmf_set_id}}/patients/{{oid_number}}/edit">{{full_name}}</a>
                  </td>
                    {{#ifCond before_status "==" "Pass"}}
                      <td style="color:#20744c;">{{before_status}}ing</td>
                    {{else}}
                      <td style="color:#a63b12;">{{before_status}}ing </td>
                    {{/ifCond}}
                    {{#ifCond after_status "==" "Pass"}}
                      <td style="color:#20744c;"> {{after_status}}ing </td>
                    {{else}}
                      <td style="color:#a63b12;">{{after_status}}ing </td>
                    {{/ifCond}}
                  </tr>
                {{/each}} 
              {{/with}}
          </table>
        </p>
    {{/each}}  
  {{/if}}