 <div class="main">
  <div class="measure-title">
    <span class="short-title pull-left"><i class="fa fa-tasks"></i> {{measure_id}}:</span>
    <span class="full-title">{{title}}</span>
  </div>
  <div class="measure-dsp">
    <div class="measure-dsp-title">
      Description: <a class="pull-right" data-toggle="popover" id="settings" rel="popover" data-placement="bottom" data-html="true"><i class="fa fa-cog"></i></a>
    </div>
    <p>{{description}}</p>
    <script type="text/x-handlebars" class="popover-tmpl">
      {{#button "updateMeasure" class="btn btn-primary"}}Update{{/button}}
      {{#link "" class="btn btn-danger delete-measure"}}Delete{{/link}}
    </script>
  </div>

  {{view logicView}}
</div>

<div class="right-sidebar">
  <h1 class="title-bar">Test Patients</h1>
  {{view measureCalculation}}
</div>
