<div class="measure-calculation">
  <div class="row summary">
    <div class="expected-col">
      <input type="text" value="{{expectedPercentage}}" class="dial" data-readOnly="true" data-width="60" data-height="60" data-thickness=".2" data-fgColor={{#ifCond status '==' 'pass'}}"#468847"{{/ifCond}}{{#ifCond status '==' 'fail'}}"#b94a48"{{/ifCond}} data-inputColor="#444" data-font="Helvetica Neue, Roboto, Helvetica, Arial, sans-serif">
    </div> 
    <div class="status-col">
      <span class="status status-{{status}}">{{status}}</span>
    </div>
    <div class="patient-data-col">
      <span class="patient-listing">{{matches}}</span> <span class="fraction">/{{patients.length}}</span>
      <a href="#measures/{{hqmf_set_id}}/patients/new" class="btn {{#unless patients.length}}btn-primary{{else}}btn-default{{/unless}} pull-right">
        <i class="fa fa-user"></i>
        <i class="fa fa-plus"></i>
      </a>
    </div>
  </div>
  <br>
  {{#collection results tag="div" class="panel panel-default" item-context=resultContext}}
    <div class="panel-heading">
      <div class="panel-title">
        <div class="patient row">
          <div class="patient-status-icon-col status status-{{patientStatusText}}">
            {{#if patientStatus}}
              <i class="fa fa-check"></i>
            {{else}}
              <i class="fa fa-times"></i>
            {{/if}}
          </div>
          <div class="patient-btn-col">
            {{#button "expandResult" class="btn btn-primary"}}
              <i class="fa fa-user"></i>
            {{/button}}
          </div>
          <div class="patient-name-col">
            {{last}} {{first}}
          </div>
          <div class="patient-status-col status status-{{patientStatusText}}">
            {{patientStatusText}}
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body toggle-result toggle-result-{{patient_id}} patient" style="display: none;">
      {{!-- FIXME: Remove this subtitle after population selection is working correctly! --}}
      {{!-- <h5>Results for {{populationTitle}}</h5> --}}
      <table class="table table-condensed col-xs-3">
        <tr>
          <th></th>
          <th>Population</th>
          <th style="text-align: center;">Expected</th>
          <th style="text-align: center;">Actual</th>
        </tr>
        {{#each resultRow}}
          <tr>
            <td style="text-align: center;">
              {{#ifCond expected "==" result}}
                <i class="fa fa-ok pass"></i>
              {{else}}
                <i class="fa fa-remove fail"></i>
              {{/ifCond}}
            </td>
            <td>{{name}}</td>
            <td style="text-align: center;">
              {{#if expected}}
                <i class="fa fa-ok"></i>
              {{else}}
                <i class="fa fa-minus"></i>
              {{/if}}
            </td>
            <td style="text-align: center;">
              {{#if result}}
                <i class="fa fa-ok"></i>
              {{else}}
                <i class="fa fa-minus"></i>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </table>
      {{#link "measures/{{measure_id}}/patients/{{patient_id}}/edit" class="btn btn-primary" expand-tokens=true}}EDIT{{/link}}
      {{#button "clonePatient" class="btn btn-primary"}}CLONE{{/button}}
      {{#button "showDelete" class="btn btn-danger-inverse"}}<i class="fa fa-minus-circle"></i>{{/button}}
      {{#button "deletePatient" class="btn btn-danger delete-{{patient_id}}" style="display: none;" expand-tokens=true}}Delete{{/button}}
    </div>
  {{/collection}}
</div>