<div class="row">
  <div class="main">
    <div class="measure-title">
      {{!-- This really just needs to be bold --}}
      <span class="short-title"><i class="fa fa-fw fa-tasks" aria-hidden="true"></i> Measure details</span>
      {{#if cqmMeasure.component}}
        <span class="settings-container">
          <div class="measure-settings">
            <a data-title="Component measures must be updated via their composite measure." data-toggle="tooltip" data-placement="bottom">
              {{#button "updateMeasure" class="btn btn-default update-measure" disabled="true"}}<i class="fa fa-upload" aria-hidden="true"></i> Update{{/button}}
            </a>
            <a data-title="Component measures must be deleted via their composite measure." data-toggle="tooltip" data-placement="bottom">
              {{#button "deleteMeasure" class="btn btn-danger delete-measure hide" disabled="true"}}<i class="fa fa-times" aria-hidden="true"></i> Delete{{/button}}
              {{#button "showDelete" class="btn btn-danger-inverse delete-icon" disabled="true"}}<i class="fa fa-minus-circle" aria-hidden="true"></i> <span class="sr-only">Show Delete</span>{{/button}}
            </a>
          </div>
          {{#button "measureSettings" tag="a" class="btn-settings" href=""}}<i class="fa fa-cog" aria-hidden="true"></i> <span class="sr-only">Measure Settings</span>{{/button}}
        </span>
      {{else}}
        <span class="settings-container">
          <div class="measure-settings">
              {{#button "updateMeasure" class="btn btn-default update-measure"}}<i class="fa fa-upload" aria-hidden="true"></i> Update{{/button}}
              {{#button "deleteMeasure" class="btn btn-danger delete-measure hide"}}<i class="fa fa-times" aria-hidden="true"></i> Delete{{/button}}
              {{#button "showDelete" class="btn btn-danger-inverse delete-icon"}}<i class="fa fa-minus-circle" aria-hidden="true"></i> <span class="sr-only">Show Delete</span>{{/button}}
          </div>
          {{#button "measureSettings" tag="a" class="btn-settings" href=""}}<i class="fa fa-cog" aria-hidden="true"></i> <span class="sr-only">Measure Settings</span>{{/button}}
        </span>
      {{/if}}
    </div>
    <div class="measure-dsp">
      <h2 class="full-title">{{cqmMeasure.title}}</h2>
      {{#ifCond cqmMeasure.calculation_method '==' 'EPISODE_OF_CARE'}}
        Episode of Care Based Measure
        <p></p>
      {{/ifCond}}
      {{#if cqmMeasure.calculate_sdes}}
          <p>Include Supplemental Data Element Calculations</p>
      {{/if}}

      <p>{{cqmMeasure.description}}</p>

      <p>{{view measureMetadataView}}</p>
    </div>

    {{view logicView}}
    {{view valueSetsView}}
  </div>


  <div class="right-sidebar">
    <div class="patients-title">
      <h2 class="h1-style"><i class="fa fa-user fa-fw" aria-hidden="true"></i> Test Patients</h2>
      <span class="settings-container">
        <div class="patients-settings">
        {{#button "importJsonPatients" class="btn btn-default export-patients"}}
          <i class="fa fa-upload" aria-hidden="true"></i> IMPORT <span class="sr-only">Import Patients</span>
        {{/button}}

         <a data-title="Not available for QDM 5.6" data-toggle="tooltip" data-placement="bottom">
         {{#button "convertQdmPatients" class="btn btn-default export-patients" disabled="true"}}
         <i class="fa fa-download" aria-hidden="true"></i> Convert to FHIR<span class="sr-only">Patient Conversion</span>{{/button}}</a>

          {{#button "exportJsonPatients" class="btn btn-default export-patients"}}<i class="fa fa-download" aria-hidden="true"></i> EXPORT <span class="sr-only">Patient Export</span>{{/button}}

          {{#ifPortfolio}}
              <a data-title="Portfolio Export Unavailable" data-toggle="tooltip" data-placement="bottom">{{#button "exportQrdaPatients" class="btn btn-default export-patients" disabled="true"}}<i class="fa fa-download" aria-hidden="true"></i> QRDA<span class="sr-only">Patient Export</span>{{/button}}</a>
          {{else}}
            <a data-title="Not available for QDM 5.6" data-toggle="tooltip" data-placement="bottom">
              {{#button "exportQrdaPatients" class="btn btn-default export-patients" disabled="true"}}<i class="fa fa-download" aria-hidden="true"></i> QRDA <span class="sr-only">Patient Export</span>{{/button}}
            </a>
          {{/ifPortfolio}}
          {{#button "exportExcelPatients" class="btn btn-default export-patients"}}<i class="fa fa-download" aria-hidden="true"></i> Excel <span class="sr-only">Patient Export</span>{{/button}}
          {{#ifPortfolio}}
            {{#button "sharePatients" class="btn btn-default share-patients"}}<i class="fa fa-link" aria-hidden="true"></i> Share <span class="sr-only">Share</span>{{/button}}
          {{/ifPortfolio}}

          {{#if patients.length}}
            {{#button "deleteAllPatients" class="btn btn-default delete-patients"}}
              <i class="fa fa-trash" aria-hidden="true"></i>
              Delete All Patients <span class="sr-only">Delete All Patients</span>
            {{/button}}
          {{/if}}

        </div>
        {{#button "patientsSettings" tag="a" class="btn-settings" href=""}}<i class="fa fa-cog" aria-hidden="true"></i> <span class="sr-only">Patient Options</span>{{/button}}
      </span>
    </div>
    {{view populationCalculation}}
  </div>
</div>
