{{!-- <p>Total measures: {{measures.length}}</p> --}}

<div class="dashboard-heading row">
  <div class="measure-col">
    <div class="btn-wrapper pull-right">
      {{#button "importMeasure" class="btn btn-primary"}}Upload{{/button}}
    </div>
    <h1><i class="glyphicon glyphicon-tasks"></i> Measures</h1>
  </div>
  <div class="expected-col">
    <h2>Expected</h2>
  </div>
  <div class="status-col">
    <h2>Status</h2>
  </div>
  <div class="patient-listing-col">
    <h2>Test Patients</h2>
  </div>
</div>

{{#collection class="dashboard-data" item-view=measureRowView}}

  <div id="importUpdateContainer"></div>

  <div class="measure row">
    <div class="measure-col">
      <div class="btn-wrapper pull-right">
        {{#button "updateMeasure" class="btn btn-primary"}}Update{{/button}}
      </div>
      <div class="measure-title">
         <span class="nqf-listing pull-right">
          {{measure_id}}
        </span>
        {{#link "measures/{{_id}}" expand-tokens=true}}{{title}}{{/link}}
      </div>
    </div>
    <div class="expected-col">
      {{#unless hasPopulations}}
        <div class="percent-listing"> 
          <input type="text" value="{{expectedPercentage}}" class="dial" data-readOnly="true" data-width="60" data-height="60" data-thickness=".1" data-fgColor={{#ifCond status '==' 'success'}}"#468847"{{/ifCond}}{{#ifCond status '==' 'failed'}}"#b94a48"{{/ifCond}} data-inputColor="#444" data-font="Helvetica Neue, Roboto, Helvetica, Arial, sans-serif">
        </div>
      {{/unless}}
    </div>
    <div class="status-col status status-{{status}}">
      {{#unless hasPopulations}}{{status}}{{/unless}}
    </div>
    <div class="patient-listing-col">
      <a href="#measures/{{_id}}/patients/new" class="btn {{#unless patients.length}}btn-primary{{else}}btn-default{{/unless}} pull-right">
        <i class="glyphicon glyphicon-user"></i>
        <i class="glyphicon glyphicon-plus"></i>
      </a>
      {{!-- FIXME: Should the following be patients.length or some other value? --}}
      <span class="patient-listing">{{#if hasPopulations}}
        {{patients.length}}
      {{else}}
        {{matches}}
      {{/if}}</span>
      {{#if hasFraction}}<span class="fraction">/{{patients.length}}</span>{{/if}}
    </div>
  </div>

  {{#if hasPopulations}}
    {{#collection populations item-context=populationContext}}
      <div class="row population">
        <div class="population-col">
          <div class="population-title">
            <strong>population:</strong> {{title}}
          </div>
        </div>
          <div class="expected-col">
            <div class="percent-listing">
              <input type="text" value="{{expectedPercentage}}" class="dial" data-readOnly="true" data-width="60" data-height="60" data-thickness=".1" data-fgColor={{#ifCond status '==' 'success'}}"#468847"{{/ifCond}}{{#ifCond status '==' 'failed'}}"#b94a48"{{/ifCond}} data-inputColor="#444" data-font="Helvetica Neue, Roboto, Helvetica, Arial, sans-serif">
            </div>
          </div>
          <div class="status-col status status-{{status}}">
            {{status}}
          </div>
          <div class="patient-listing-col">
            <span class="patient-listing">{{matches}}</span>
            {{#if hasFraction}}<span class="fraction">/{{../../patients.length}}</span>{{/if}}
          </div>
        </div>
      </div>
    {{/collection}}
  {{/if}}
{{/collection}}

{{! FIXME view creation/removal should happen as necessary in view, not in handlebars }}
{{view finalizeMeasuresView}}
