 <div class="main">
  <div class="measure-title">
    <span class="short-title pull-left"><i class="fa fa-tasks"></i> {{measure_id}}:</span>
    <span class="full-title">{{title}}</span>
  </div>
  <div class="measure-dsp">
    <div class="measure-dsp-title">
      Description: <a class="pull-right" data-toggle="popover" id="settings" rel="popover" data-placement="bottom" data-html="true"><i class="fa fa-cog"></i></a>
    </div>
    <p>{{description}}</p>
    {{#ifAdmin}}
      <a href="/measures/{{_id}}/debug" class="btn btn-danger">Debug</a>
    {{/ifAdmin}}
    <script type="text/x-handlebars" class="popover-tmpl">
      {{#button "deleteMeasure" class="btn btn-danger delete-measure" style="display: none;"}}<i class="fa fa-times "></i> Delete{{/button}}
      {{#button "showDelete" class="btn btn-danger-inverse show-delete"}}<i class="fa fa-minus-circle show-delete"></i>{{/button}}
      {{#button "updateMeasure" class="btn btn-primary btn-update"}}<i class="fa fa-upload "></i> Update{{/button}}
    </script>
  </div>

  {{view logicView}}
</div>

<div class="right-sidebar">
  <h1 class="title-bar">Test Patients</h1>
  {{view populationCalculation}}
</div>
