{{!-- <p>Total measures: {{measures.length}}</p> --}}

<div class="dashboard-heading row">
  <div class="measure-col">
    <div class="btn-wrapper pull-right">
      {{#button "importMeasure" class="btn btn-primary"}}<i class="fa fa-upload"></i> Upload <span class="sr-only">new measure</span>{{/button}}
    </div>
    <h1><i class="glyphicon glyphicon-tasks"></i> Measures</h1>
  </div>
  <div class="expected-col">
    <h2>Expected</h2>
  </div>
  <div class="status-col">
    <h2>Status</h2>
  </div>
  <div class="patient-listing-col">
    <h2>Test Patients</h2>
  </div>
</div>

{{#collection class="dashboard-data" item-view='MeasureRowView'}}

  <div class="measure row">
    <div class="measure-col">
      <div class="btn-wrapper pull-right">
        {{#button "updateMeasure" class="btn btn-primary"}}<i class="fa fa-refresh fa-fw"></i><span class="sr-only">{{cms_id}}, </span> Update <span class="sr-only">existing measure</span>{{/button}}
      </div>
      <div class="measure-title">
        <span class="nqf-listing pull-right">
          <span class="sr-only">CMS ID: </span>
          {{cms_id}}
        </span>
        {{#link "measures/{{hqmf_set_id}}" expand-tokens=true}}<span class="sr-only">{{cms_id}}, Measure Title: </span>{{title}}{{/link}}
      </div>
    </div>
    <div class="expected-col">
      {{#unless multiplePopulations}}
        {{view "MeasurePercentageView" model=differences.summary cms_id=cms_id}}
      {{/unless}}
    </div>
    <div class="status-col">
      {{#unless multiplePopulations}}
        {{view "MeasureStatusView" model=differences.summary cms_id=cms_id}}
      {{/unless}}
    </div>
    <div class="patient-listing-col">
      <a href="#measures/{{hqmf_set_id}}/patients/new" class="btn {{#unless patients.length}}btn-primary{{else}}btn-default{{/unless}} pull-right">
        <i class="fa fa-user"></i>
        <i class="fa fa-plus"></i>
        <span class="sr-only">{{cms_id}}, add new patient to measure</span>
      </a>
      {{#if multiplePopulations}}
        <span class="sr-only">{{cms_id}} has </span><span class="patient-listing">{{patients.length}}</span><span class="sr-only"> test patients</span>
      {{else}}
        {{view "MeasureFractionView" model=differences.summary cms_id=cms_id}}
      {{/if}}
    </div>
  </div>

  {{#if multiplePopulations}}
    {{#collection differencesCollection}}
      <div class="row population">
        <div class="population-col">
          <div class="population-title">
            <span class="sr-only">{{../cms_id}} </span><strong>population:</strong> {{title}}
          </div>
        </div>
        <div class="expected-col">
          {{view "MeasurePercentageView" model=differences.summary cms_id=../cms_id population=title}}
        </div>
        <div class="status-col">
          {{view "MeasureStatusView" model=differences.summary cms_id=../cms_id population=title}}
        </div>
        <div class="patient-listing-col">
          {{view "MeasureFractionView" model=differences.summary cms_id=../cms_id population=title}}
        </div>
      </div>
    {{/collection}}
  {{/if}}
{{/collection}}
