{{#link "measures/{{_id}}/patients/new" class="btn btn-primary" expand-tokens=true}}Add Patient{{/link}}
<h3>Select Patients</h3>
<div data-toggle="buttons-checkbox">
  {{#collection patients}}
    <button style="width: 180px; margin: 5px 5px 0px 0px;" class="btn btn-primary toggle-patient">{{last}}, {{first}}</button>
  {{/collection}}
</div>
<br>
{{#collection results item-context=resultContext}}
  <table class="table table-striped table-bordered table-condensed col-xs-3">
    <tr>
      <th>{{last}}, {{first}}</th>
      <th>Expected</th>
      <th>Results</th>
    </tr>
    <tr>
      <td>IPP</td>
      <td></td>
      <td class="ipp-{{patient_id}}">{{#if IPP}}X{{/if}}</td>
    </tr>
    <tr>
      <td>DENOM</td>
      <td></td>
      <td class="denom-{{patient_id}}">{{#if DENOM}}X{{/if}}</td>
    </tr>
    <tr>
      <td>NUMER</td>
      <td></td>
      <td class="numer-{{patient_id}}">{{#if NUMER}}X{{/if}}</td>
    </tr>
    <tr>
      <td>DENEX</td>
      <td></td>
      <td class="denex-{{patient_id}}">{{#if DENEX}}X{{/if}}</td>
    </tr>
    <tr>
      <td>DENEXCEP</td>
      <td></td>
      <td class="denexcep-{{patient_id}}">{{#if DENEXCEP}}X{{/if}}</td>
    </tr>
      {{!-- <td width="4%">{{#button "showDelete" class="btn btn-default"}}<i class="glyphicon glyphicon-minus-sign"></i>{{/button}}</td> --}}
  </table>
  {{#link "measures/{{measure_id}}/patients/{{patient_id}}/edit" class="btn btn-primary" expand-tokens=true}}EDIT{{/link}}
  {{#button "clonePatient" class="btn btn-primary"}}CLONE{{/button}}
  {{#button "deletePatient" class="btn btn-danger delete-{{patient_id}}" expand-tokens=true}}Delete{{/button}}
{{/collection}}
