{{#link "measures/matrix" class="btn btn-primary"}}Matrix View{{/link}}
{{#link "" class="btn btn-primary" id="importMeasureTrigger"}}Import Measure{{/link}}
<p>Total measures: {{collapsedCount}}</p>
<table class="table">
  <thead>
    <tr>
      <th>HQMF</th>
      <th>Title</th>
      <th>Status</th>
    </tr>
  </thead>
  {{#collection measures tag="tbody"}}
    <tr>
      <td>{{hqmf_id}}</td>
      <td>{{title}}</td>
      <td>Draft</td>
      <td>{{#link "measures/{{hqmf_id}}" class="btn btn-primary" expand-tokens=true}}View{{/link}} {{#link "" class="btn btn-primary" expand-tokens=true id="updateMeasureTrigger"}}Update{{/link}}</td>
    </tr>
  {{/collection}}
</table>

{{view importMeasureView}}
{{view finalizeMeasuresView}}