{{#ifCond populations.length ">" 1}}
  {{#collection populations tag='ul' class='nav nav-tabs'}}
    <li{{#ifCond sub_id "==" 'a'}} class="active"{{/ifCond}}>
      <a href data-toggle="tab">{{#if title}}{{title}}{{else}}{{sub_id}}{{/if}}</a>
    </li>
  {{/collection}}
{{/ifCond}}

<div data-toggle="buttons-checkbox">
  {{#collection patients item-context="patientContext"}}
    {{#button 'togglePatient' class='btn btn-primary toggle-patient' style='width: 180px; margin: 5px 5px 0px 0px;'}}
      {{last}}, {{first}} {{#if inMeasure}}<i class="fa fa-tag" style="padding-left: 10px;" aria-hidden="true"></i><span class="sr-only">in measure</span>{{/if}}
    {{/button}}
  {{/collection}}
</div>

<br>

{{#button 'selectAll' class='btn btn-primary'}}Select All{{/button}}
{{#button 'selectMeasurePatients' class='btn btn-primary'}}Select Measure Patients{{/button}}
{{#button 'selectNone' class='btn btn-primary'}}Select None{{/button}}

<br>
<br>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Patient Name</th>
      <th style="text-align: center;">Population</th>
      <th style="text-align: center;">Denominator</th>
      <th style="text-align: center;">Numerator</th>
      <th style="text-align: center;">Exclusions</th>
      <th style="text-align: center;">Exceptions</th>
    </th>
  </thead>
  {{#collection results tag="tbody"}}
    <tr>
      <td>{{last}}, {{first}}</td>
      <td style="text-align: center;">{{#if IPP}}<i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">IPP</span>{{/if}}</td>
      <td style="text-align: center;">{{#if DENOM}}<i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">DENOM</span>{{/if}}</td>
      <td style="text-align: center;">{{#if NUMER}}<i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">NUMER</span>{{/if}}</td>
      <td style="text-align: center;">{{#if DENEX}}<i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">DENEX</span>{{/if}}</td>
      <td style="text-align: center;">{{#if DENEXCEP}}<i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">DENEXCEP</span>{{/if}}</td>
    </tr>
  {{/collection}}
</table>

<br>

<form action="/measures/{{_id}}/clear_cached_javascript" method="POST">
  {{! Authenticity token gets filled in after form is rendered by the MeasureDebug view }}
  <input name="authenticity_token" type="hidden">
  <input type="submit" value="Clear Cached Javascript" class="btn btn-danger">
</form>
<br>
<br>
<br>
<h4>Logger Output</h4>
<textarea rows="25" cols="200" />
