 <div class="main col-sm-8">
  <div class="measure-title">
    <span class="short-title pull-left"><i class="fa fa-tasks"></i> {{cms_id}}:</span>
    <span class="full-title">{{title}}</span>
    <span class="settings-container">
      <div class="measure-settings">
        {{#button "updateMeasure" class="btn btn-default update-measure"}}<i class="fa fa-upload"></i> Update{{/button}}
        {{#button "deleteMeasure" class="btn btn-danger delete-measure hide"}}<i class="fa fa-times"></i> Delete{{/button}}
        {{#button "showDelete" class="btn btn-danger-inverse delete-icon"}}<i class="fa fa-minus-circle"></i> <span class="sr-only">Show Delete</span>{{/button}}
      </div>
      {{#button "measureSettings" tag="a" class="btn-settings" href=""}}<i class="fa fa-cog"></i> <span class="sr-only">Measure Settings</span>{{/button}}
    </span>
  </div>
  <div class="measure-dsp">
    {{#if episode_of_care}}
      <div class="measure-dsp-title">
        Episode(s) of Care:
      </div>
        {{#each episodesOfCare tag="ul"}}
          {{#with attributes}}
            <li>{{description}}</li>
          {{/with}}
        {{/each}}
      <p></p>
    {{/if}}
    <div class="measure-dsp-title">
      Description:
    </div>
    <p>{{description}}</p>
    {{#ifAdmin}}
      <a href="/measures/{{_id}}/debug" class="btn btn-danger">Debug</a>
    {{/ifAdmin}}
  </div>

  {{view logicView}}
</div>

<div class="right-sidebar">
  <div class="patients-title">
    <span class="short-title pull-left"><i class="fa fa-user fa-fw"></i>Test Patients</span>
    <span class="settings-container">
      <div class="patients-settings">
        {{#button "exportPatients" class="btn btn-default export-patients"}}<i class="fa fa-download"></i> Export{{/button}}
        {{#button "toggleMeasureListing" class="btn btn-default btn-measure-listing toggle-measure-listing"}}<i class="fa fa-users"></i> <i class="fa fa-arrow-right"></i> <i class="fa fa-tasks"></i>{{/button}}
      </div>
      {{#button "patientsSettings" tag="a" class="btn-settings" href=""}}<i class="fa fa-cog"></i> <span class="sr-only">Patient Options</span>{{/button}}
    </span>
  </div>
  <span class="patients-listing-header" style="display:none;">Select Patients to Clone:</span>
  {{view populationCalculation}}
</div>

<div class="measure-listing-sidebar" style="display:none;">
  <div class="measures-title">
    <span class="short-title pull-left">Measure Listing</span>
  </div>
  <span class="measure-listing-header">Select Measure:</span>
  <div class="list-group">
    {{#collection measures}}
      <a class="list-group-item measure-listing measure-{{hqmf_set_id}}">
        <div class="row">
          <div class="col-sm-6">
            {{cms_id}}
          </div>
          <div class="col-sm-6">
            {{#button "cloneIntoMeasure" class="btn btn-default btn-clone-patients btn-clone-{{hqmf_set_id}}" style="display: none;" expand-tokens=true}}CLONE{{/button}}
          </div>
        </div>
      </a>
    {{/collection}}
  </div>
</div>
