<h2>Testing: {{title}}</h2>
{{#link "patients//build" class="btn btn-primary" expand-tokens=true}}Add Patient{{/link}}
{{#link "measures/{{hqmf_id}}/calculate" class="btn btn-primary" expand-tokens=true disabled="false"}}View Results{{/link}}
<button class="btn btn-primary select-all">Select All</button>
<button class="btn btn-primary select-none">Select None</button>
<h3>Select Patients</h3>
<div data-toggle="buttons-checkbox">
  {{#collection patients}}
    <button class="btn btn-primary toggle-patient">{{last}}, {{first}}</button>
  {{/collection}}
</div>
<table class="table table-condensed table-bordered">
  <tr>
    <td>Totals:</td> 
    <td>{{IPPTotal}}</td>
    <td>{{DENOMTotal}}</td>
    <td>{{NUMERTotal}}</td>
    <td>{{DENEXTotal}}</td>
    <td>{{DENEXCEPTotal}}</td>
  </tr>
  <tr>
    <th>Patient Name</th>
    <th>Population</th>
    <th>Denominator</th>
    <th>Numerator</th>
    <th>Exclusions</th>
    <th>Exceptions</th>
  </th>
  {{#collection results tag="tbody"}}
    <tr>
      <td>{{#link "patients/{{patient_id}}" expand-tokens=true}}{{last}}, {{first}}{{/link}}</td>
      <td>{{#if IPP}}X{{/if}}</td>
      <td>{{#if DENOM}}X{{/if}}</td>
      <td>{{#if NUMER}}X{{/if}}</td>
      <td>{{#if DENEX}}X{{/if}}</td>
      <td>{{#if DENEXCEP}}X{{/if}}</td>
    </tr>
  {{/collection}}
</table>
