{{#link "measures/matrix" class="btn btn-primary"}}Matrix View{{/link}}
{{#button "importMeasure" class="btn btn-primary"}}Import Measure{{/button}}
<p>Total measures: {{measures.length}}</p>
<table class="table">
  <thead>
    <tr>
      <th>NQF ID</th>
      <th>HQMF ID</th>
      <th>Title</th>
      <th>Status</th>
    </tr>
  </thead>
  {{#collection measures tag="tbody"}}
    <tr>
      <td>{{measure_id}}</td>
      <td>{{_id}}</td>
      <td>{{title}}</td>
      <td>Draft</td>
      <td width="20%">
        {{#link "measures/{{hqmf_id}}" class="btn btn-primary" expand-tokens=true}}View{{/link}}
        {{#button "updateMeasure" class="btn btn-primary"}}Update{{/button}}
        {{#button "deleteMeasure" class="btn btn-danger"}}Delete{{/button}}</td>
    </tr>
  {{/collection}}
</table>

{{view importMeasureView}}
{{view finalizeMeasuresView}}