{{#link "measures/matrix" class="btn btn-primary"}}Matrix View{{/link}}
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Ethnicity</th>
      <th>Race</th>
      <th>Payer</th>
      <th>Expired</th>
      <th>Birthdate</th>
      <th>Clinical Attributes</th>
      <th>Actions</th>
    </tr>
  </thead>
  {{#collection patients tag="tbody"}}
    <tr>
      <td>{{#link "patients/{{id}}" expand-tokens=true}}{{id}}{{/link}}</td>
      <td>{{first}}</td>
      <td>{{last}}</td>
      <td>{{gender}}</td>
      <td>{{ethnicity.name}}</td>
      <td>{{race.name}}</td>
      <td>{{insurance_providers.type}}</td>
      <td>{{#if expired}}Y{{else}}N{{/if}}</td>
      <td>{{birthdate}}</td>
      <td>{{source_data_criteria.length}}</td>
      <td>{{#link ""}}View{{/link}} | {{#link ""}}Edit{{/link}}</td>
    </tr>
  {{/collection}}
</table>