<div class="measure-calculation">
  <div class="row summary">
    <div class="expected-col">
      {{view "MeasurePercentageView" model=differences.summary}}
    </div> 
    <div class="status-col">
      {{view "MeasureStatusView" model=differences.summary}}
    </div>
    <div class="patient-data-col">
      {{view "MeasureFractionView" model=differences.summary tag="span"}}
      <a href="#measures/{{measure_id}}/patients/new" class="btn {{#unless patients.length}}btn-primary{{else}}btn-default{{/unless}} pull-right">
        <i class="fa fa-user"></i>
        <i class="fa fa-plus"></i>
      </a>
    </div>
  </div>  
  {{view "MeasureCoverageView" model=totalCoverage}}
  <br>
  {{#collection differences tag="div" class="panel panel-default" item-context=differenceContext}}
    <div class="panel-heading">
      <div class="panel-title">
        <div class="patient row">
          <div class="patient-status-icon-col status status-{{status}}">
            {{#if done}}
              {{#if match}}
                <i class="fa fa-check"></i>
              {{else}}
                <i class="fa fa-times"></i>
              {{/if}}
            {{/if}}
          </div>
          <div class="patient-btn-col">
            {{#button "expandResult" class="btn btn-primary"}}
              <i class="fa fa-user"></i>
            {{/button}}
          </div>
          <div class="patient-name-col">
            {{patient.last}} {{patient.first}}
          </div>
          <div class="patient-status-col status status-{{status}}">
            {{status}}
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body toggle-result toggle-result-{{patient._id}} patient" style="display: none;">
      <table class="table table-condensed col-xs-3">
        <tr>
          <th></th>
          <th>Population</th>
          <th style="text-align: center;">Expected</th>
          <th style="text-align: center;">Actual</th>
        </tr>
        {{#each comparisons}}
          <tr>
            <td style="text-align: center;">
              {{#if match}}
                <i class="fa fa-check pass"></i>
              {{else}}
                <i class="fa fa-times fail"></i>
              {{/if}}
            </td>
            <td>{{name}}</td>
            <td style="text-align: center;">
              {{#ifCond name "==" "OBSERV"}}
                {{expected}}%
              {{else}}
                {{#if ../../episode_of_care}}
                  <span class="default">{{expected}}</span>
                {{else}}
                  {{#if expected}}
                    <i class="fa fa-check-square-o default"></i>
                  {{else}}
                    <i class="fa fa-square-o default"></i>
                  {{/if}}
                {{/if}}
              {{/ifCond}}
            </td>
            <td style="text-align: center;">
              {{#ifCond name "==" "OBSERV"}}
                <span class="fail">{{actual}}%</span>
              {{else}}
                {{#if ../../episode_of_care}}
                  <span class="fail">{{actual}}</span>
                {{else}}
                  {{#if actual}}
                    <i class="fa fa-check-square-o default"></i>
                  {{else}}
                    <i class="fa fa-square-o default"></i>
                  {{/if}}
                {{/if}}
              {{/ifCond}}
            </td>
          </tr>
        {{/each}}
      </table>
      {{#link "measures/{{measure_id}}/patients/{{patient._id}}/edit" class="btn btn-primary" expand-tokens=true}}EDIT{{/link}}
      {{#button "clonePatient" class="btn btn-primary"}}CLONE{{/button}}
      {{#button "showDelete" class="btn btn-danger-inverse"}}<i class="fa fa-minus-circle"></i>{{/button}}
      {{#button "deletePatient" class="btn btn-danger delete-{{patient._id}}" style="display: none;" expand-tokens=true}}Delete{{/button}}
    </div>
  {{/collection}}
</div>