<div class="measure-calculation">
  <div class="row summary">
    <div class="expected-col">
      {{view "MeasurePercentageView" model=differences.summary}}
    </div>
    <div class="status-col">
      {{view "MeasureStatusView" model=differences.summary}}
    </div>
    <div class="patient-data-col">
      {{view "MeasureFractionView" model=differences.summary tag="span"}}
      {{#unless measure_is_composite}}
        <a href="#measures/{{measure_id}}/patients/new" class="btn {{#unless patients.length}}btn-primary{{else}}btn-default{{/unless}} pull-right">
          <i class="fa fa-user" aria-hidden="true"></i>
          <i class="fa fa-plus" aria-hidden="true"></i>
          <span class="sr-only">add new patient</span>
        </a>
      {{/unless}}
    </div>
  </div>
  {{view coverageView}}
  <br>
  {{#collection differences tag="div" class="panel panel-default" item-context=differenceContext}}
    <div class="panel-heading">
      <div class="panel-title">
        <div class="patient">
          <div class="patient-status-icon status status-{{status}}">
            {{#if ../patientsListing}}
              <label>
                <span class="sr-only">Select {{patientLastName}} {{patientFirstName}}</span>
                <input type="checkbox" class="select-patient">
              </label>
            {{else}}
              {{#if done}}
                {{#if match}}
                  <i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">{{patientLastName}} {{patientFirstName}}, patient passing</span>
                {{else}}
                  <i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">{{patientLastName}} {{patientFirstName}}, patient failing</span>
                {{/if}}
              {{/if}}
            {{/if}}
          </div>
          <div class="patient-user-icon">
            <i class="fa fa-user" aria-hidden="true"></i><span class="sr-only">{{patientLastName}} {{patientFirstName}}, patient result</span>
          </div>
          <div class="patient-btn">
            {{#button "expandResult" class="close"}}<i class="fa fa-lg fa-angle-right expand-result-icon expand-result-icon-{{patientId}}" aria-hidden="true"></i> <span class="sr-only">{{patientLastName}} {{patientFirstName}}, Toggle Logic Pass/Fail</span>{{/button}}
          </div>
          <div class="patient-status status status-{{status}}">
            <span class="sr-only">{{patientLastName}} {{patientFirstName}}, status </span>{{status}}
          </div>
          <div class="patient-name">
            <span class="sr-only">patient name: </span>{{patientLastName}} {{patientFirstName}}
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body toggle-result toggle-result-{{patientId}} patient" style="display: none;">
      {{template "population_calculation_results"}}
      {{#link "measures/{{measure_id}}/patients/{{patientId}}/edit" class="btn btn-primary" expand-tokens=true}}<i class="fa fa-pencil" aria-hidden="true"></i><span class="sr-only">edit patient {{patientLastName}} {{patientFirstName}}</span>{{/link}}
      {{#unless ../measure_is_composite}}
        {{#button "clonePatient" class="btn btn-primary"}}CLONE<span class="sr-only"> patient {{patientLastName}} {{patientFirstName}}</span>{{/button}}
      {{/unless}}
      {{#button "showDelete" class="btn btn-danger-inverse"}}
        <i class="fa fa-minus-circle" aria-hidden="true"></i>
        <span class="sr-only">{{patientLastName}} {{patientFirstName}}, Show Delete</span>
      {{/button}}
      {{#button "deletePatient" class="btn btn-danger delete-{{patientId}}" style="display: none;" expand-tokens=true}}Delete<span class="sr-only"> patient {{patientLastName}} {{patientFirstName}}</span>{{/button}}
    </div>
  {{/collection}}
</div>
