<div class="measure-calculation">
  <div class="row summary">
    <div class="expected-col">
      {{view "MeasurePercentageView" model=differences.summary}}
    </div>
    <div class="status-col">
      {{view "MeasureStatusView" model=differences.summary}}
    </div>
    <div class="patient-data-col">
      {{view "MeasureFractionView" model=differences.summary tag="span"}}
      <a href="#measures/{{measure_id}}/patients/new" class="btn {{#unless patients.length}}btn-primary{{else}}btn-default{{/unless}} pull-right">
        <i class="fa fa-user"></i>
        <i class="fa fa-plus"></i>
        <span class="sr-only">build patient</span>
      </a>
    </div>
  </div>
  {{view coverageView}}
  <br>
  {{#collection differences tag="div" class="panel panel-default" item-context=differenceContext}}
    <div class="panel-heading">
      <div class="panel-title">
        <div class="patient row">
          <div class="patient-status-icon-col status status-{{status}}">
            {{#if ../patientsListing}}
              <input type="checkbox" class="select-patient">
            {{else}}
              {{#if done}}
                {{#if match}}
                  <i class="fa fa-check"></i>
                {{else}}
                  <i class="fa fa-times"></i>
                {{/if}}
              {{/if}}
            {{/if}}
          </div>
          <div class="patient-user-icon-col">
            <i class="fa fa-user"></i>
          </div>
          <div class="patient-name-col">
            {{patient.last}} {{patient.first}}
          </div>
          <div class="patient-status-col status status-{{status}}">
            {{status}}
          </div>
          <div class="patient-btn-col">
            {{#button "expandResult" class="close"}}<i class="fa fa-lg fa-angle-right expand-result-icon expand-result-icon-{{patient._id}}"></i> <span class="sr-only">Toggle Logic Pass/Fail</span>{{/button}}
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body toggle-result toggle-result-{{patient._id}} patient" style="display: none;">
      <table class="table table-condensed col-xs-3">
        <tr>
          <th></th>
          <th>Population</th>
          <th style="text-align: center;">Expected</th>
          <th style="text-align: center;">Actual</th>
        </tr>
        {{#each comparisons}}
          <tr>
            <td style="text-align: center;">
              {{#if match}}
                <i class="fa fa-check pass"></i>
              {{else}}
                <i class="fa fa-times fail"></i>
              {{/if}}
            </td>
            <td>{{name}}</td>
            <td style="text-align: center;">
              {{#ifCond name "==" "OBSERV"}}
                {{#ifCond expected "==" undefined}}
                  <p class="text-muted">N/A</p>
                {{else}}
                  {{expected}}{{unit}}
                {{/ifCond}}
              {{else}}
                {{#if ../../episode_of_care}}
                  <span class="default">{{expected}}</span>
                {{else}}
                  {{#ifCond name "==" "MSRPOPL"}}
                    {{#ifCond expected "==" undefined}}
                      <p class="text-muted">N/A</p>
                    {{else}}
                      <span class="default">{{expected}}</span>
                    {{/ifCond}}
                  {{else}}
                    {{#if expected}}
                      <i class="fa fa-check-square-o default"></i>
                    {{else}}
                      <i class="fa fa-square-o default"></i>
                    {{/if}}
                  {{/ifCond}}
                {{/if}}
              {{/ifCond}}
            </td>
            <td style="text-align: center;">
              {{#ifCond name "==" "OBSERV"}}
                {{#ifCond actual "==" undefined}}
                  <p class="text-muted">N/A</p>
                {{else}}
                  <span class="fail">{{actual}}{{unit}}</span>
                {{/ifCond}}
              {{else}}
                {{#if ../../episode_of_care}}
                  <span class="fail">{{actual}}</span>
                {{else}}
                  {{#ifCond name "==" "MSRPOPL"}}
                    {{#ifCond expected "==" undefined}}
                      <p class="text-muted">N/A</p>
                    {{else}}
                      <span class="default">{{actual}}</span>
                    {{/ifCond}}
                  {{else}}
                    {{#if actual}}
                      <i class="fa fa-check-square-o default"></i>
                    {{else}}
                      <i class="fa fa-square-o default"></i>
                    {{/if}}
                  {{/ifCond}}
                {{/if}}
              {{/ifCond}}
            </td>
          </tr>
        {{/each}}
      </table>
      {{#link "measures/{{measure_id}}/patients/{{patient._id}}/edit" class="btn btn-primary" expand-tokens=true}}EDIT{{/link}}
      {{#button "clonePatient" class="btn btn-primary"}}CLONE{{/button}}
      {{#button "showDelete" class="btn btn-danger-inverse"}}
        <i class="fa fa-minus-circle"></i>
        <span class="sr-only">Show Delete</span>
      {{/button}}
      {{#button "deletePatient" class="btn btn-danger delete-{{patient._id}}" style="display: none;" expand-tokens=true}}Delete{{/button}}
    </div>
  {{/collection}}
</div>
