<link rel="stylesheet" href="assets/test_case_history.css" />
<div class="row">
  <div class="main">
    <div class="measure-title">
      <h1 class="short-title"><i class="fa fa-fw fa-history" aria-hidden="true"></i> Test Case History - {{cms_id}}</h1>
    </div>
    <div class="measure-dsp">
      <h2 class="full-title">{{title}}</h2>
      <p>{{description}}</p>
    </div>
    <!-- TODO: Ensure that the stratification tabs toggle a render for the data -->
    {{#ifCond populations.length ">" 1}}
      {{#collection populations tag='ul' class='nav nav-tabs'}}
        <li{{#ifCond sub_id "==" 'a'}} class="active"{{/ifCond}}>
          <a href data-toggle="tab">{{#if title}}{{title}}{{else}}{{sub_id}}{{/if}}</a>
        </li>
      {{/collection}}
    {{/ifCond}}
    <div id="patientHistory"></div>
    {{view measureDiffView}}
  </div>
</div>
