<div class="row">
  <h1 class="heading-primary">White-List / Black-List Builder</h1>

  {{#empty filters}}
  {{else}}
    <label>Filters</label>
    <div class="well">
      <table class="table table-striped table-bordered table-condensed table-hover">
        <tbody>
          {{#collection filters}}
            <tr>
              <th>{{display_name}} {{#button 'removeFilter' class="btn btn-danger"}}<i class="fa fa-times"></i>{{/button}}</th>
              <th>{{#button 'includeFilter' class="btn btn-info"}}Include{{/button}}</th>
              <th>{{#button 'excludeFilter' class="btn btn-info"}}Exclude{{/button}}</th>
            </tr>
          {{/collection}}
        </tbody>
      </table>
    </div>
    {{#empty inclusions}}
    {{else}}
      <label>Inclusions</label>
      {{#collection inclusions tag="ul" class="list-group"}}
        <li class="list-group-item">
          {{display_name}}
        </li>
      {{/collection}}
    {{/empty}}
    {{#empty exlcusions}}
    {{else}}
      <label>Exclusions</label>
      {{#collection exclusions tag="ul" class="list-group"}}
        <li class="list-group-item">
          {{display_name}}
        </li>
      {{/collection}}
    {{/empty}}
  {{/empty}}

  {{!-- <form class="form-horizontal search-form" role="form">
    <div class="form-group">
      <input type="text" class="col-xs-11" id="searchByNameOrOID" placeholder="Enter Value Set name or oid...">
      <div class="col-xs-1">
        <button type="submit" class="btn btn-default search-button">Search</button>
      </div>
    </div>
  </form> --}}

  <div class="panel panel-default">
    <form class="form-horizontal search-form" role="form">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" id="searchByNameOrOID" placeholder="Enter Value Set name or oid...">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default search-button">Search</button>
        </span>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle measure-button" data-toggle="dropdown">Measures <span class="caret"></span></button>
          {{#collection measures tag="ul" class="dropdown-menu pull-right"}}
            <li>{{#button 'selectMeasure' tag="a"}}[ {{cms_id}} ({{measure_id}}) ] {{hqmf_set_id}}{{/button}}</li>
          {{/collection}}
        </div>
      </div>
    </form>
  </div>
  {{#empty searchResults}}
  {{else}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Search Results for '{{query}}'</h2>
      </div>
      <div class="panel-body">
        {{view searchResultsCollectionView}}
      </div>
    </div>
  {{/empty}}

  {{#empty whiteList}}
    <h2>No white-listed Value Sets found!</h2>
  {{else}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">White List</h2>
      </div>
      <div class="panel-body">
        {{view whiteListCollectionView}}
      </div>
    </div>
  {{/empty}}

  {{#empty blackList}}
    <h2>No black-listed Value Sets found!</h2>
  {{else}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Black List</h2>
      </div>
      <div class="panel-body">
        {{view blackListCollectionView}}
      </div>
    </div>
  {{/empty}}
</div>