<div class="value-sets-builder row">
  <div class="col-md-4 white-black-list">
      <h1 class="heading-primary white-list">White List</h1>
      <div class="panel panel-default white-list-panel">
        <div class="panel-body">
          {{view whiteListCollectionView}}
        </div>
      </div>

      <h1 class="heading-primary black-list">Black List</h1>
      <div class="panel panel-default black-list-panel">
        <div class="panel-body">
          {{view blackListCollectionView}}
        </div>
      </div>
  </div>
  <div class="col-md-8">
    <h1 class="heading-primary">Filters</h1>
      {{#collection filters item-context="filterContext" tag="div" class=" panel panel-default value-set-filters"}}
        <tr>
          <th>
            {{#button 'removeFilter' class="btn btn-xs btn-close"}}<i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">Remove filter</span>{{/button}}
          </th>
          <th class="filter-cell">
            {{display_name}}
          </th>
          <th>
            {{#if included}}
              {{#button 'includeFilter' class="btn btn-xs btn-primary-included" disabled="disabled"}}Included{{/button}}
            {{else}}
              {{#button 'includeFilter' class="btn btn-xs btn-default-include"}}Include{{/button}}
            {{/if}}
          </th>
          <th>
            {{#if excluded}}
              {{#button 'excludeFilter' class="btn btn-xs btn-primary-excluded" disabled="disabled"}}Excluded{{/button}}
            {{else}}
              {{#button 'excludeFilter' class="btn btn-xs btn-default-exclude"}}Exclude{{/button}}
            {{/if}}
          </th>
        </tr>
      {{else}}
        NO FILTERS
      {{/collection}}

    <div class="panel panel-default">
      <form class="form-horizontal search-form" role="form">
        <div class="input-group">
          <input type="text" class="form-control" id="searchByNameOrOID" placeholder="Enter Value Set name or oid...">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default search-button"> <i class="fa fa-search" aria-hidden="true"></i> Search</button>
          </span>
          <div class="input-group-btn measure-dropdown-group">
            <button type="button" class="btn btn-default dropdown-toggle measure-button" data-toggle="dropdown"> <i class="fa fa-tasks" aria-hidden="true"></i> Measures <span class="caret"></span></button>
            {{#collection measures tag="ul" class="dropdown-menu scrollable-menu"}}
              <li rel="popover" title="{{cms_id}}" data-content="{{hqmf_set_id}} {{title}}">{{#button 'selectMeasure' tag="a"}}{{cms_id}}{{/button}}</li>
            {{/collection}}
          </div>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default rebuild-patients" data-call-method="rebuildPatients"> <i class="fa fa-users" aria-hidden="true"></i> Rebuild Patients</button>
          </span>
        </div>
      </form>
    </div>
    {{#empty searchResults}}
    {{else}}
      <h1 class="heading-primary">Results</h1>
      <div class="panel panel-default">
        <div class="panel-body">
          {{view searchResultsCollectionView}}
        </div>
      </div>
    {{/empty}}
  </div>
</div>

<div class="modal fade" id="rebuildPatientsDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Rebuilding Patients...</h1>
      </div>
      <div class="modal-body">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-primary rebuild-patients-progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span class="sr-only">Rebuilding...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
