<div class="value-set-entry">
  <div class="criteria-details">
    <div class="row">
      {{#button "toggleDetails" class="close"}}<i class="fa fa-lg fa-angle-right"></i>{{/button}}
      <div>
        <h4><i class="fa fa-fw fa-lg fa-list-alt"></i> <span class="badge">{{oid}}</span> {{display_name}}</h4>
      </div>
    </div>
  </div>
  <form class="hide" role="form">
    <div class="row">
      {{#button "toggleDetails" class="close"}}<i class="fa fa-lg fa-angle-down"></i>{{/button}}

      <h4><i class="fa fa-fw fa-lg fa-list-alt"></i> <span class="badge">{{oid}}</span> {{display_name}}</h4>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title"><i class="fa fa-list"></i> Codes</h5>
        </div>
        <div class="panel-body">
          {{#collection codes class="existing-values list-group" tag="ul"}}
            <li class="list-group-item">
              <div class="container">
                <div class="col-xs-10">
                  {{!-- <span class="badge">{{code}}</span> --}} <span class="label label-default">{{code}}</span> <span class="label label-{{#if white_list}}success{{else}}{{#if black_list}}danger{{else}}info{{/if}}{{/if}}">{{code_system_name}}</span> {{display_name}}
                </div>
                <div class="col-xs-2">
                  <select class="filter-vs">
                    <option class="default-option" {{#if white_list}}{{else}}{{#if black_list}}{{else}}selected{{/if}}{{/if}}>None</option>
                    <option class="white-list-option" {{#if white_list}}selected{{/if}}>White-List</option>
                    <option class="black-list-option" {{#if black_list}}selected{{/if}}>Black-List</option>
                  </select>
                </div>
              </div>
              {{!-- {{#button "removeValue" class="btn btn-link close delete"}}&times;{{/button}} --}}
            </li>
          {{/collection}}
        </div>
        {{#empty associatedMeasures}}
        {{else}}
          <div class="well">
            <i class="fa fa-tasks"></i> <label>Associated Measures</label>
            {{!-- {{#log measures}}{{/log}} --}}
            {{#collection associatedMeasures}}
              {{#link "measures/{{hqmf_set_id}}" class="btn btn-primary" expand-tokens=true}}{{!-- <span class="label label-primary"> --}}{{measure_id}}{{!-- </span> --}}{{/link}}
            {{/collection}}
          </div>
        {{/empty}}
        {{#empty associatedPatients}}
        {{else}}
          <div class="well">
            <i class="fa fa-users"></i> <label>Associated Patients</label>
            {{#collection associatedPatients item-context="patientContext" class="list-group" tag="ul"}}
              <li class="list-group-item">
              {{#link "measures/{{measureId}}/patients/{{_id}}/edit" class="btn btn-primary" expand-tokens=true}}{{!-- <span class="label label-primary"> --}}{{last}}, {{first}}{{!-- </span> --}}{{/link}}
              {{#empty associatedSDC}}
              {{else}}
                {{#collection associatedSDC class="list-group" tag="ul"}}
                  <li class="list-group-item">
                    {{description}}
                  </li>
                {{/collection}}
              {{/empty}}
              </li>
            {{/collection}}
          </div>
        {{/empty}}
        <div class="panel-footer">
          {{#button "save" class="btn btn-primary value-set-save"}}<i class="fa fa-save"></i> Save{{/button}}
        </div>
      </div>
    </div>
  </form>
</div>
