<div class="row">
  <h1 class="heading-primary">Value Sets</h1>

  {{!-- <form class="form-horizontal search-form" role="form">
    <div class="form-group">
      <input type="text" class="col-xs-11" id="searchByNameOrOID" placeholder="Enter Value Set name or oid...">
      <div class="col-xs-1">
        <button type="submit" class="btn btn-default search-button">Search</button>
      </div>
    </div>
  </form> --}}

  <div class="panel panel-default">
    <form class="form-horizontal search-form" role="form">
      <div class="input-group input-group-lg">
        {{!-- <label for="searchByNameOrOID">Search by Name or OID</label> --}}
        <input type="text" class="form-control" id="searchByNameOrOID" placeholder="Enter Value Set name or oid...">
        {{!-- <div class="col-xs-1"> --}}
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default search-button">Search</button>
        </span>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle measure-button" data-toggle="dropdown">Measures <span class="caret"></span></button>
          {{#collection measures tag="ul" class="dropdown-menu pull-right"}}
            <li>{{#button 'selectMeasure' tag="a"}}[ {{cms_id}} ({{measure_id}}) ] {{hqmf_set_id}}{{/button}}</li>
          {{/collection}}
        </div>
        {{!-- </div> --}}
      </div>
    </form>
  </div>
  {{#empty searchResults}}
  {{else}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Search Results for '{{query}}'</h2>
      </div>
      <div class="panel-body">
        {{view searchResultsCollectionView}}
      </div>
    </div>
  {{/empty}}

  {{#empty whiteList}}
    <h2>No white-listed Value Sets found!</h2>
  {{else}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">White List</h2>
      </div>
      <div class="panel-body">
        {{view whiteListCollectionView}}
      </div>
    </div>
  {{/empty}}

  {{#empty blackList}}
    <h2>No black-listed Value Sets found!</h2>
  {{else}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Black List</h2>
      </div>
      <div class="panel-body">
        {{view blackListCollectionView}}
      </div>
    </div>
  {{/empty}}
</div>