<html>
  <head>
    <style>
      <%= app_css %>
    </style>
    <script>
      <%# This is intended to create a standalone HTML file that displays measure logic; because %>
      <%# logic is displayed using JavaScript, we need to load up all the app JavaScript in this %>
      <%# script tag, instantiate the measure, and run the appropriate display code %>
      <%= app_javascript %>
      var measure = new Thorax.Models.Measure(<%= ERB::Util.json_escape(measure.to_json).html_safe %>, { parse: true });
      var populations = measure.get('populations');
      bonnie.valueSetsByOid = <%= ERB::Util.json_escape(value_sets_by_oid.to_json).html_safe %>;
      $(document).ready(function() {
        populations.each(function(population) {
          var populationLogicView = new Thorax.Views.PopulationLogic({ model: population });
          $('#logic').append('<h1>Population ' + population.get('index') + '</h1>')
          populationLogicView.appendTo('#logic');
        });
      });
    </script>
  </head>
  <body>
    <div id="logic"></div>
    <pre><code>
      <%= measure_javascript %>
    </code></pre>
  </body>
</html>
