<td>{{email}}</td>
<td>{{#ifCond measure_count '||' patient_count}} {{#button "bundle" class="btn btn-primary"}}<i class="fa fa-download" aria-hidden="true"></i><span class="sr-only">Download</span>{{/button}}{{/ifCond}}</td>
<td class="centered"><a href="admin/users/{{_id}}/measures">{{measure_count}}</a></td>
<td class="centered"><a href="admin/users/{{_id}}/patients">{{patient_count}}</a></td>
<td class="centered check">{{#if admin}}<i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">checked</span>{{/if}}</td>
<td class="centered check">{{#if portfolio}}<i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">checked</span>{{/if}}</td>
<td class="centered check">{{#if dashboard}}<i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">checked</span>{{/if}}</td>
<td class="centered check">{{#if approved}}<i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">checked</span>{{/if}}</td>
{{#unless isCurrentUser}}
  <td>
    {{#if approved}}
      {{#button "disable" class="btn btn-primary"}}Disable{{/button}}
    {{else}}
      {{#button "approve" class="btn btn-primary"}}Approve{{/button}}
    {{/if}}
  </td>
  <td>{{#button "edit" class="btn btn-primary"}}Edit{{/button}}</td>
  <td>
    {{#button "showDelete" class="btn btn-danger-inverse"}}<i class="fa fa-minus-circle" aria-hidden="true"></i>{{/button}}
    {{#button "delete" class="btn btn-danger delete-user hide"}}<i class="fa fa-times" aria-hidden="true"></i> Delete{{/button}}
  </td>
  <td>
    <form action="/admin/users/{{_id}}/log_in_as" method="POST">
      <input name="authenticity_token" type="hidden" value="{{csrfToken}}">
      <button type="submit" class="btn btn-danger">Log In As</button>
    </form>
  </td>
{{else}}
  <td></td>
  <td></td>
  <td></td>
  <td></td>
{{/unless}}
