<h3>Select measures:</h3>

<div class="form-inline">

  <label>Compare</label>

  <div class="form-group">
    {{#collection tag="select" id="measureSet1" class="form-control"}}
      <option value={{_id}}{{#ifCond ../measureSet1 '==' _id}} selected{{/ifCond}}>{{first_name}} {{last_name}}</option>
    {{/collection}}
  </div>

  <label>with</label>

  <div class="form-group">
    {{#collection tag="select" id="measureSet2" class="form-control"}}
      <option value={{_id}}{{#ifCond ../measureSet2 '==' _id}} selected{{/ifCond}}>{{first_name}} {{last_name}}</option>
    {{/collection}}
  </div>

  <div class="form-group">
    {{#button "compare" class="btn btn-primary"}}Go{{/button}}
  </div>

</div>

{{view vizView}}
