<p class="instruction">The complexity and change dashboard illustrates
how measures change between releases. The dashboard provides tools for
comparing measure releases based on changes in measure size and
measure cyclomatic complexity, which is computed from available paths
in a measure’s logic.</p>

<h3 class="instruction">Select measures:</h3>

<div class="form-inline selection">

  <label>Compare</label>

  <div class="form-group">
    {{#collection tag="select" id="measureSet1" class="form-control"}}
      <option value={{_id}}{{#ifCond ../measureSet1 '==' _id}} selected{{/ifCond}}>{{first_name}} {{last_name}}</option>
    {{/collection}}
  </div>

  <label>with</label>

  <div class="form-group">
    {{#collection tag="select" id="measureSet2" class="form-control"}}
      <option value={{_id}}{{#ifCond ../measureSet2 '==' _id}} selected{{/ifCond}}>{{first_name}} {{last_name}}</option>
    {{/collection}}
  </div>

  <div class="form-group">
    {{#button "compare" class="btn btn-primary"}}Go{{/button}}
  </div>

</div>

{{view vizView}}
