<tr>
	<td><%= link_to measure.measure_id, measure %></td>
	<td><%= measure.title %></td>
	<td><%= measure.version %></td>
	<td><%= "Draft" %></td>
	<td><%= "---" %></td>
	<td><%= link_to "Test", '' %> | <%= link_to "Edit", '' %> | <%= link_to "NQF", '' %> | <%= link_to "Delete", '' %></td>
</tr>