<tr>
	<td><%= "ID" %></td>
	<td><%= "Title" %></td>
	<td><%= "Version" %></td>
	<td><%= "Published status" %></td>
	<td><%= "Published date" %></td>
	<td><%= "Test/Edit/NQF/Delete Links..." %></td>
</tr>