<h1>
Measures List<%= render 'layouts/dots'%>
</h1>

<!-- START Nav Tabs -->
<div id="tabs">
  <ul class="nav nav-tabs">
    <li><a href="#tabs-0" data-toggle="tab">My Measures</a></li>
    <li class="active"><a href="#tabs-1" data-toggle="tab">All Measures</a></li>
    <li id="pageButtons">
      <a href=<%= upload_measures_path %> class="btn" data-toggle="modal" data-backdrop="static" data-keyboard="true">Load Measures</a>
    </li>
  </ul>

  <!-- START Current User's Measures List content -->
  <div class="tab-content">
    <div id="tabs-0", class="tab-pane active">
      <table class="table">
        <thead>
          <tr>
            <th>NQF</th>
            <th>Title</th>
            <th>Version</th>
            <th>Status</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'measure', :collection => @my_measures %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td colspan="5">Total measures: <%= @my_measures.count %></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- END Current User's Measures List content -->

    <!-- START All Measures List content -->
    <div id="tabs-1", class="tab-pane active">
      <table class="table">
        <thead>
          <tr>
            <th>NQF</th>
            <th>Title</th>
            <th>Version</th>
            <th>Status</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'measure', :collection => @measures %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td colspan="5">Total measures: <%= @measures.count %></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- END All Measures List content -->
  
  </div>

</div>
<!-- END Nav Tabs -->