<h1>
Measures View<%= render 'layouts/dots'%>
</h1>
</br>
<p><strong>ID: </strong><%= @measure.measure_id %></p>
<p><strong>Title: </strong><%= @measure.title %></p>
<p><strong>Version: </strong><%= @measure.version %></p>
<p><strong>Published Status: </strong><%= "Draft" %></p>
<p><strong>Published Date: </strong><%= "---" %></p>
</br>
<%= link_to "View Associated Patients...", patients_path(:mid => @measure.id), class:"btn btn-primary" %>
<% if current_user.measures.include?(@measure) %>
	<%= link_to "Remove " + @measure.title.to_s() + " from my list!" , remove_measure_path, class:"btn btn-danger" %>	
<% else %>
	<%= link_to "Add Measure to my list!", add_measure_path, class:"btn btn-success" %>
<% end %>