<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "bonnie, 2", root_path, id: "logo" %>
			<nav>
				<ul>
					<% if user_signed_in? %>
						<li class="greeting">Welcome, <%= current_user.email %></li>
					<% else %>
						<li class="greeting">Welcome!</li>
					<% end %>
					<li>|</li>
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Patients", patients_path %></li>
					<li><%= link_to "Measures List", measureslist_path %></li>
					<li><%= link_to "Measures View", measuresview_path %></li>
					<li><%= link_to "Help", help_path %></li>
					<% if user_signed_in? %>
						<li><%= link_to "Sign out", '' %></li>
					<% else %>
						<li><%= link_to "Sign in", '' %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>