<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "bonnie, 2", root_path, id: "logo" %>
			<nav>
				<ul>
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Patients", patients_path %></li>
					<li><%= link_to "Measures List", measureslist_path %></li>
					<li><%= link_to "Measures View", measuresview_path %></li>
					<li><%= link_to "Help", help_path %></li>
					<li><%= "Sign out?" %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>