<div class="navbar row" role="navigation">
  <div class="navbar-brand">
    Bonnie
  </div>
  <ul class="nav navbar-nav pull-right">

    <% if current_page?(controller: 'home', action: 'index') %>
      <li class="nav-dashboard active"><a href="/#"><i class="fa fa-bolt" aria-hidden="true"></i> Dashboard</a></li>
    <% else %>
      <li><a href="/#"><i class="fa fa-bolt" aria-hidden="true"></i> Dashboard</a></li>
    <% end %>

    <li class="dropdown nav-account <% if current_page?(controller: 'registrations', action: 'edit') %>active<% end %>">
      <a class="dropdown-toggle" data-toggle="dropdown" href="">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        <%if current_user.current_group.is_personal%>
          <%= "#{current_user.first_name} #{current_user.last_name}" %>
        <% else %>
          <%= current_user.current_group.name%>
        <% end %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu col-md-12 col-lg-12">
        <% current_user.groups.each do |group| %>
          <li>
            <a href="/user/switch_group/<%= group.id %>">
              <% if group.id == current_user.current_group.id %>
                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;
              <% end %>
              <span class="<% if group.id != current_user.current_group.id %>inactive-group<% end %>">
                <%if group.is_personal%>
                  <%= "#{current_user.first_name} #{current_user.last_name}" %>
                <% else %>
                  <%= group.name %>
                <% end %>
              </span>
            </a>
          </li>
        <% end %>
        <li>
          <a href="/users/edit">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            <span class="margin-left-6x">View Profile</span>
          </a>
        </li>
      </ul>
    </li>

    <% if (current_user.is_admin?)%><li class="nav-admin"><a href="/#admin/users"><i class="fa fa-gears" aria-hidden="true"></i> Admin</a></li><% end %>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="">
         <i class="fa fa-question-circle" aria-hidden="true"></i> Help <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="https://oncprojectracking.healthit.gov/support/projects/BONNIE">Report Bug</a></li>
        <li><a href="https://groups.google.com/forum/#!forum/bonnie">User Group</a></li>
        <li><a href="mailto:<%= APP_CONFIG['bonnie_email'] %>>">Contact</a></li>
        <li><%= link_to 'User Guide', '/resource/Bonnie_user_guide.pdf' %></li>
        <li><%= link_to 'Integration API Guide', '/resource/Bonnie_Integration_API_Guide_v1.pdf' %></li>
      </ul>
    </li>

    <li><%= link_to '<i class="fa fa-sign-out"></i> Logout'.html_safe, destroy_user_session_path, :method => :delete %></li>

  </ul>
</div>

<div class="navbar row breadcrumb-container"></div>
