<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bonnie</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <div id="bonnie"></div>
      <%= render 'layouts/footer' %>
    </div>

    <%= javascript_include_tag "application" %>
    <script src="<%= libraries_measures_url format: :js %>"></script>
    <script>
      <% @measures.each do |measure| %>
        bonnie.measures.add(<%= measure.to_json(only: @measure_attributes).html_safe %>, { parse: true });
      <% end %>
      <% @patients.each do |patient| %>
        (function() {
          var patient = new Thorax.Models.Patient(<%= patient.to_json(except: :results).html_safe %>, { parse: true });
          bonnie.measures.each(function(measure) { 
            if(_(patient.get('measure_ids')).contains(measure.get('hqmf_set_id'))) {
              measure.get('patients').add(patient);
            }
          });
          // FIXME bonnie.patients is deprecated and will be going away shortly
          bonnie.patients.add(patient);
        })();
       <% end %>
      $(document).ready(function() {
        Backbone.history.start();
      });
    </script>
  </body>
</html>
