<!DOCTYPE html>
<html>
<head>
  <title>Bonnie, 2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
              <%= value %>
        </div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>

  <%= javascript_include_tag "application" %>
  <script src="<%= libraries_measures_url format: :js %>" type="text/javascript"></script>
  <%# A page can have one measure or many; load each measure %>
  <%# FIXME: consider inlining these to minimize requests %>
  <% (@measures || Array(@measure)).each do |measure| %>
    <script src="<%= measure_url(measure, format: :js) %>" type="text/javascript"></script>
  <% end %>
  <% if @patient || @patients %>
    <script>
      window.patients = new Thorax.Collections['patients'](<%= (@patients || Array(@patient)).to_json.html_safe %>);
    </script>
  <% end %>
</body>
</html>
