<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bonnie v<%=Bonnie::Version.current()%></title>
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
  <%= render 'layouts/framebreaker' %>
</head>

<body>
  <%= render 'layouts/ie8_alert' %>
  <div class="auth container">
    <% if current_user %>
      <%= render 'layouts/header' %>
    <% else %>
      <%= render 'layouts/qdm_retirement_banner' %>
    <% end %>
    <%= yield %>
  </div>
  <script>
    $('input, textarea').placeholder();
  </script>
</body>
</html>
